Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:helm
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:1644571507
  script:
  - ./bin/gitlab-build-and-create-mr.sh

Added readme explaining variables
  terraform/helm/.README
Due: none

[#3372]doc: adding example values file for cert-manager
  argocd-helm-charts/cert-manager/examples/values-cloudflare.yaml
  argocd-helm-charts/cert-manager/examples/values-http.yaml
  argocd-helm-charts/cert-manager/examples/values-multiple-solvers.yaml
  argocd-helm-charts/cert-manager/examples/values-route53.yaml
Due: helm:check_diff

Rename file
  terraform/helm/README.md
Due: none

Fixed the formatting
  terraform/helm/README.md
Due: none

bug: fixed netpol for grafana so it can be reach from outside (currently from traefik [outside cluster] and from prometheus ns it can be access)
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Update ticker duration of k8s-agent
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

lint: adding cert-manager.yaml example file
  argocd-helm-charts/cert-manager/examples/cert-manager.yaml
  argocd-helm-charts/cert-manager/readme.md
Due: helm:check_diff

feat: enable servicemonitor for cert-manager
  argocd-helm-charts/cert-manager/values.yaml
Due: helm:check_diff

lint: changes
  argocd-helm-charts/cert-manager/readme.md
Due: helm:check_diff

:no-diff: Added readme for external dns
  argocd-helm-charts/external-dns/README.md
Due: helm:check_diff

feat: [#4064] sonarqube with postgres operator support is added
  argocd-helm-charts/sonarqube/templates/postgres.yaml
  argocd-helm-charts/sonarqube/values.yaml
Due: helm:check_diff

:no-diff feat: [#3202] added netpol for scraping metrics for cert-manager
  argocd-helm-charts/cert-manager/templates/netpol-default.yaml
Due: helm:check_diff

Create a subnet and vnet for AKS cluster and fix peering
  terraform/azure/aks/aks.tf
  terraform/azure/aks/output.tf
  terraform/azure/aks/variables-aks.tf
  terraform/azure/peering/peering.tf
  terraform/azure/peering/variables.tf
  terraform/helm/sealed-secrets.tf
  terragrunt/aks/helm/terragrunt.hcl
  terragrunt/aks/peering/terragrunt.hcl
Due: none

Update Readme to include new changes
  terragrunt/Readme.md
Due: none

[#1969] Feat/readme update sealed secret
  argocd-helm-charts/sealed-secrets/README.md
Due: helm:check_diff

Update steps for troubleshooting ArgoCD and Keycloak
  argocd-helm-charts/argo-cd/readme.md
Due: helm:check_diff

Move network policy to obmondo namespace
  argocd-helm-charts/obmondo-k8s-agent/templates/networkpolicy.yaml
Due: helm:check_diff

feat: [#7344] snapshot webhook netpol to connect to k8s api on port 443
  argocd-helm-charts/snapshot-validation-webhook/templates/netpol-snapshot-validation-webhook.yaml
Due: helm:check_diff

feat: [#7352] disabled argocd hpa as a default under k8id
  argocd-helm-charts/argo-cd/values.yaml
Due: helm:check_diff

lint: adding backup and restore guide
  argocd-helm-charts/cert-manager/readme.md
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
