Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

docs: kubeconfig and logs land in the per-cluster directory
  docs/getting-started/README.md
  docs/getting-started/pre-configuration.md
Due: none

chore: remove deprecated postgres logical backup mechanism in favour of barman object store
  argocd-helm-charts/netbird/values.yaml
Due: helm:check_diff

fix(hetzner): unbreak bare-metal re-provisioning on Ubuntu 26.04
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmConfig.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/_helpers.tpl
  argocd-helm-charts/capi-cluster/templates/provider-hetzner.yaml
  docs/operations/upgrade-hetzner-hybrid-cluster.md
Due: helm:check_diff

chore(new): Added new helm chart stalwart-mail 2.0.8
  argocd-helm-charts/stalwart-mail/Chart.yaml
Due: helm:check_diff

fix(stalwart-mail): fix OCI repository path and add wrapper values
  .helm_version_last_update
  argocd-helm-charts/stalwart-mail/Chart.lock
  argocd-helm-charts/stalwart-mail/Chart.yaml
  argocd-helm-charts/stalwart-mail/values.yaml
Due: helm:check_diff

chore(new): Added new helm chart roundcube-mail 1.16.0
  argocd-helm-charts/roundcube-mail/Chart.yaml
Due: helm:check_diff

fix(roundcube-mail): correct dependency chart name and add default values
  .helm_version_last_update
  argocd-helm-charts/roundcube-mail/Chart.lock
  argocd-helm-charts/roundcube-mail/Chart.yaml
  argocd-helm-charts/roundcube-mail/values.yaml
Due: helm:check_diff

feat: move backup exporter chart inside and add service exporter chart to kubeaid-agent chart
  argocd-helm-charts/backup-exporter/.helmignore
  argocd-helm-charts/backup-exporter/Chart.yaml
  argocd-helm-charts/backup-exporter/README.md
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/Chart.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/templates/_helpers.tpl
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/templates/clusterrole.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/templates/clusterrolebinding.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/templates/configmap.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/templates/deployment.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/templates/hpa.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/templates/mongodb-prometheusrule.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/templates/postgres-prometheusrule.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/templates/sealed-secrets-prometheusrule.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/templates/service.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/templates/serviceaccount.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/templates/servicemonitor.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/templates/velero-prometheusrule.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/test/prometheusRuleTest.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/values.yaml
  argocd-helm-charts/kubeaid-agent/charts/security-exporter/Chart.yaml
  argocd-helm-charts/kubeaid-agent/charts/security-exporter/templates/_helpers.tpl
  argocd-helm-charts/kubeaid-agent/charts/security-exporter/templates/deployment.yaml
  argocd-helm-charts/kubeaid-agent/charts/security-exporter/templates/prometheusrule.yaml
  argocd-helm-charts/kubeaid-agent/charts/security-exporter/templates/rbac.yaml
  argocd-helm-charts/kubeaid-agent/charts/security-exporter/templates/service.yaml
  argocd-helm-charts/kubeaid-agent/charts/security-exporter/templates/serviceaccount.yaml
  argocd-helm-charts/kubeaid-agent/charts/security-exporter/templates/servicemonitor.yaml
  argocd-helm-charts/kubeaid-agent/charts/security-exporter/values.yaml
  build/kube-prometheus/mixins/node-count/mixin.libsonnet
  build/kube-prometheus/mixins/node-count/prometheus.yaml
Due: helm:check_diff, git:push

fix(hetzner): propagate cloud-provider label to hcloud control-plane Nodes
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/tests/hcloud-private_test.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/tests/hcloud-public_test.yaml
Due: helm:check_diff

WIP: IAM blog
  self-host-iam-with-kubeaid.md
Due: none

(chore): add a proposal on
  proposals/orphaned-pvc-pv-removal.md
Due: none

fix(backup-exporter): bump image to v1.2.5 (mariadb support)
  argocd-helm-charts/kubeaid-agent/Chart.yaml
  argocd-helm-charts/kubeaid-agent/charts/backup-exporter/Chart.yaml
Due: helm:check_diff

chore: save changes
  argocd-helm-charts/openobserve/values.yaml
  argocd-helm-charts/opentelemetry-operator/Chart.yaml
  argocd-helm-charts/opentelemetry-operator/values.yaml
Due: helm:check_diff

docs(kyverno): add harbor-proxy-cache README and example values
  argocd-helm-charts/kyverno/.helmignore
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/README.md
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/values.example.yaml
Due: helm:check_diff

fix(mattermost): stop hardcoding a cluster-issuer that does not exist
  argocd-helm-charts/mattermost-operator/templates/ingress.yaml
Due: helm:check_diff

fix(mattermost): add empty defaults so helm lint can render the chart
  argocd-helm-charts/mattermost-operator/values.yaml
Due: helm:check_diff

fix(logical-backup): make S3 retention opt-in so backup creds stay write-only
  argocd-helm-charts/kubeaid-addons/templates/postgresql-logical-backup.yaml
Due: helm:check_diff

refactor(kyverno): DRY harbor-proxy-cache registry blocks (v2, opt-in)
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/README.md
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/_helpers.tpl
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/harbor-proxy-cache-mutate-v2.yaml
Due: helm:check_diff

feat(kube-prometheus): alert when containers in a namespace restart frequently
  build/kube-prometheus/mixins/argo-cd/mixin.libsonnet
  build/kube-prometheus/mixins/argo-cd/prometheus.yaml
Due: git:push

cccccctducgnhltgvntcrnrtrbelfkfgltkkbhnbrudb
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/README.md
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/harbor-proxy-cache-mutate-v2.yaml
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/values.example.yaml
Due: helm:check_diff

docs(kyverno): add section comments and trim verbose ones in harbor-proxy-cache v2
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/harbor-proxy-cache-mutate-v2.yaml
Due: helm:check_diff

feat(etcd-backup-restore): adding Helm chart
  argocd-helm-charts/etcd-backup-restore/Chart.yaml
  argocd-helm-charts/etcd-backup-restore/templates/_snapstore.tpl
  argocd-helm-charts/etcd-backup-restore/templates/deployment.yaml
  argocd-helm-charts/etcd-backup-restore/values.yaml
Due: helm:check_diff

fix(orphan-pvc): scope KubeDetectOrphanPvc to KubeAid-managed namespaces
  build/kube-prometheus/mixins/orphan-pvc/mixin.libsonnet
  build/kube-prometheus/mixins/orphan-pvc/prometheus.yaml
Due: git:push

fix(orphan-pvc): remove stray paren breaking the PVC-list query in KubeDetectOrphanPvc description
  build/kube-prometheus/mixins/orphan-pvc/mixin.libsonnet
Due: git:push

fix(argo-cd-mixin): remove WhiteListedApplicationOutOfSync and CronSyncFailed alerts
  build/kube-prometheus/mixins/argo-cd/mixin.libsonnet
  build/kube-prometheus/mixins/argo-cd/prometheus.yaml
Due: git:push

feat(kubeaid-addons/mongodb): TLS, multiple instances, appdb ServiceAccount
  argocd-helm-charts/kubeaid-addons/Chart.yaml
  argocd-helm-charts/kubeaid-addons/README.md
  argocd-helm-charts/kubeaid-addons/charts/mongodb/Chart.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/_helpers.tpl
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb-backup-cronjob.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb-role.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb-rolebinding.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb-serviceaccount.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb-tls.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/Chart.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-mongodb-backup.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-mongodb.yaml
  argocd-helm-charts/kubeaid-addons/values.yaml
Due: helm:check_diff

docs: Harbor HA and cross-cluster failover for pull-through-cache setups
  argocd-helm-charts/harbor/README.md
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/README.md
  docs/guides/harbor-air-gap.md
Due: helm:check_diff

chore(new): add roundcube-mail Helm chart 1.16.0
  .helm_version_last_update
  argocd-helm-charts/roundcube-mail/Chart.lock
  argocd-helm-charts/roundcube-mail/Chart.yaml
  argocd-helm-charts/roundcube-mail/values.yaml
Due: helm:check_diff

chore: exclude vendored chart dependencies from GitGuardian scanning
  .gitguardian.yaml
Due: none

fix: correct ignored_paths key name in .gitguardian.yaml
  .gitguardian.yaml
Due: none

feat(kyverno): ClusterPolicy to apply Velero exclude label to Sealed Secrets managed Kubernetes Secrets
  argocd-helm-charts/kyverno/templates/velero-exclude-label-applier/policy.yaml
  argocd-helm-charts/kyverno/values.yaml
Due: helm:check_diff

fix(prometheus-linuxaid): remove unused Grafana PVC
  argocd-helm-charts/prometheus-linuxaid/templates/grafana.yaml
Due: helm:check_diff

chore(new): Added new helm chart sogo 0.3.5
  argocd-helm-charts/sogo/Chart.yaml
Due: helm:check_diff

feat(openvox): allow labels on the code PVC
  argocd-helm-charts/openvox/charts/puppetserver/templates/puppetserver-code-pvc.yaml
  argocd-helm-charts/openvox/charts/puppetserver/values.yaml
Due: helm:check_diff

feat(kube-prometheus): support per-app ignore for ArgoCD out-of-sync alerts
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/lib/default_vars.libsonnet
  build/kube-prometheus/mixins/argo-cd/mixin.libsonnet
  build/kube-prometheus/mixins/argo-cd/prometheus.yaml
Due: git:push

fix(hetzner): give bare-metal workers their vSwitch interface and name the VLAN device the same on every node
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmConfig.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
Due: helm:check_diff

Refactor Kyverno harbor-proxy-cache policy into opt-in v2 (~40% code reduction, quay.io + extra registries support)
  argocd-helm-charts/harbor/README.md
  argocd-helm-charts/kyverno/.helmignore
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/README.md
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/_helpers.tpl
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/harbor-proxy-cache-mutate-v2.yaml
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/values.example.yaml
  docs/guides/harbor-air-gap.md
Due: helm:check_diff
