Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

[CI] Helm Chart Update cloudnative-pg
  CHANGELOG.md
  argocd-helm-charts/cloudnative-pg/Chart.lock
  argocd-helm-charts/cloudnative-pg/Chart.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/Chart.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/README.md
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/crds/crds.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/rbac.yaml
Due: helm:check_diff

[CI] Helm Chart Update cluster-autoscaler
  CHANGELOG.md
  argocd-helm-charts/cluster-autoscaler/Chart.lock
  argocd-helm-charts/cluster-autoscaler/Chart.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/README.md
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update gitlab-runner
  CHANGELOG.md
  argocd-helm-charts/gitlab-runner/Chart.lock
  argocd-helm-charts/gitlab-runner/Chart.yaml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/CHANGELOG.md
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/Chart.yaml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/Makefile
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/templates/deployment.yaml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/templates/ingress-session-server.yaml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update keda
  CHANGELOG.md
  argocd-helm-charts/keda/Chart.lock
  argocd-helm-charts/keda/Chart.yaml
  argocd-helm-charts/keda/charts/keda/Chart.yaml
  argocd-helm-charts/keda/charts/keda/README.md
  argocd-helm-charts/keda/charts/keda/templates/crds/crd-cloudeventsources.yaml
  argocd-helm-charts/keda/charts/keda/templates/manager/clusterrolebindings.yaml
  argocd-helm-charts/keda/charts/keda/templates/manager/minimal-rbac.yaml
  argocd-helm-charts/keda/charts/keda/templates/metrics-server/clusterrolebinding.yaml
  argocd-helm-charts/keda/charts/keda/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update mattermost-team-edition
  CHANGELOG.md
  argocd-helm-charts/mattermost-team-edition/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.lock
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/values.yaml
  argocd-helm-charts/mattermost-team-edition/requirements.lock
Due: helm:check_diff

[CI] Helm Chart Update oncall
  CHANGELOG.md
  argocd-helm-charts/oncall/Chart.lock
  argocd-helm-charts/oncall/Chart.yaml
  argocd-helm-charts/oncall/charts/oncall/Chart.lock
  argocd-helm-charts/oncall/charts/oncall/Chart.yaml
Due: helm:check_diff

[CI] Helm Chart Update rabbitmq-operator
  CHANGELOG.md
  argocd-helm-charts/rabbitmq-operator/Chart.lock
  argocd-helm-charts/rabbitmq-operator/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/Chart.lock
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/README.md
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/templates/_affinities.tpl
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/templates/_tplvalues.tpl
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/templates/validations/_cassandra.tpl
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/templates/validations/_mongodb.tpl
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/templates/validations/_mysql.tpl
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/templates/validations/_postgresql.tpl
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/templates/validations/_redis.tpl
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/messaging-topology-operator/rabbitmq.com_bindings.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/messaging-topology-operator/rabbitmq.com_exchanges.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/messaging-topology-operator/rabbitmq.com_federations.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/messaging-topology-operator/rabbitmq.com_operatorpolicies.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/messaging-topology-operator/rabbitmq.com_permissions.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/messaging-topology-operator/rabbitmq.com_policies.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/messaging-topology-operator/rabbitmq.com_queues.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/messaging-topology-operator/rabbitmq.com_schemareplications.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/messaging-topology-operator/rabbitmq.com_shovels.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/messaging-topology-operator/rabbitmq.com_superstreams.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/messaging-topology-operator/rabbitmq.com_topicpermissions.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/messaging-topology-operator/rabbitmq.com_users.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/messaging-topology-operator/rabbitmq.com_vhosts.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/rabbitmq-cluster/rabbitmq.com_rabbitmqclusters.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update rook-ceph
  CHANGELOG.md
  argocd-helm-charts/rook-ceph/Chart.lock
  argocd-helm-charts/rook-ceph/Chart.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph-cluster/Chart.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph-cluster/values.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph/Chart.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update teleport-cluster
  CHANGELOG.md
  argocd-helm-charts/teleport-cluster/Chart.lock
  argocd-helm-charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/README.md
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_accesslists.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_oidcconnectors.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_provisiontokens.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_roles.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_rolesv6.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_rolesv7.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_clusterrole_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_config_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_deployment_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/proxy_config_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/proxy_deployment_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update teleport-kube-agent
  CHANGELOG.md
  argocd-helm-charts/teleport-kube-agent/Chart.lock
  argocd-helm-charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/deployment_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/job_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/statefulset_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/updater_deployment_test.yaml.snap
Due: helm:check_diff

Update to new tag for Kubeaid
  CHANGELOG.md
Due: none

Specifying AWS CLI command to create SSH KeyPair
  docs/aws/capi/cluster.md
Due: none

(cert-manager) : Simplifying the ClusterIssuer template | Fixes for making the wildcard certificates feature work
  argocd-helm-charts/cert-manager/templates/certificate.yaml
  argocd-helm-charts/cert-manager/templates/clusterissuer.yaml
  argocd-helm-charts/cert-manager/templates/ingressclass.yaml
  argocd-helm-charts/cert-manager/values.yaml
Due: helm:check_diff

fixing hbk prometheus
  argocd-helm-charts/prometheus-linuxaid/templates/prometheus.yaml
  argocd-helm-charts/prometheus-linuxaid/values.yaml
Due: helm:check_diff

Removed CPU limit for CNPG cluster in KeycloakX helm chart
  argocd-helm-charts/keycloakx/templates/postgresql-cnpg.yaml
Due: helm:check_diff

Support for changing memory requests and limits for PostgreSQL in KeycloakX Helm Chart
  argocd-helm-charts/keycloakx/templates/postgresql-zalando.yaml
Due: helm:check_diff

Add commit since 4.2.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

[CI] Helm Chart Update crossplane
  CHANGELOG.md
  argocd-helm-charts/crossplane/Chart.lock
  argocd-helm-charts/crossplane/Chart.yaml
  argocd-helm-charts/crossplane/charts/crossplane/Chart.yaml
Due: helm:check_diff

[CI] Helm Chart Update external-dns
  CHANGELOG.md
  argocd-helm-charts/external-dns/Chart.lock
  argocd-helm-charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/README.md
  argocd-helm-charts/external-dns/charts/external-dns/templates/_helpers.tpl
  argocd-helm-charts/external-dns/charts/external-dns/templates/crds/crd.yaml
  argocd-helm-charts/external-dns/charts/external-dns/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update gitlab-runner
  CHANGELOG.md
  argocd-helm-charts/gitlab-runner/Chart.lock
  argocd-helm-charts/gitlab-runner/Chart.yaml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/CHANGELOG.md
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/Chart.yaml
Due: helm:check_diff

[CI] Helm Chart Update kubernetes-dashboard
  CHANGELOG.md
  argocd-helm-charts/kubernetes-dashboard/Chart.lock
  argocd-helm-charts/kubernetes-dashboard/Chart.yaml
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/Chart.yaml
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/templates/NOTES.txt
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/templates/deployments/api.yaml
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/templates/deployments/auth.yaml
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/templates/deployments/metrics-scraper.yaml
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/templates/deployments/web.yaml
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update mariadb-operator
  CHANGELOG.md
  argocd-helm-charts/mariadb-operator/Chart.lock
  argocd-helm-charts/mariadb-operator/Chart.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/Chart.lock
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/Chart.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/README.md
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/charts/mariadb-operator-crds/Chart.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/charts/mariadb-operator-crds/templates/crds.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/_helpers.tpl
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/cert-controller-deployment.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/configmap.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/deployment.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/webhook-config.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/webhook-deployment.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/webhook-service.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update opensearch
  CHANGELOG.md
  argocd-helm-charts/opensearch/Chart.lock
  argocd-helm-charts/opensearch/Chart.yaml
  argocd-helm-charts/opensearch/charts/opensearch/CHANGELOG.md
  argocd-helm-charts/opensearch/charts/opensearch/Chart.yaml
  argocd-helm-charts/opensearch/charts/opensearch/templates/extraManifests.yaml
Due: helm:check_diff

[CI] Helm Chart Update opensearch-dashboards
  CHANGELOG.md
  argocd-helm-charts/opensearch-dashboards/Chart.lock
  argocd-helm-charts/opensearch-dashboards/Chart.yaml
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/CHANGELOG.md
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/Chart.yaml
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/templates/extraManifests.yaml
Due: helm:check_diff

[CI] Helm Chart Update teleport-cluster
  CHANGELOG.md
  argocd-helm-charts/teleport-cluster/Chart.lock
  argocd-helm-charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/templates/auth/serviceaccount.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/templates/proxy/serviceaccount.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_clusterrole_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_config_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_deployment_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/proxy_config_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/proxy_deployment_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/auth_serviceaccount_test.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/proxy_serviceaccount_test.yaml
Due: helm:check_diff

[CI] Helm Chart Update teleport-kube-agent
  CHANGELOG.md
  argocd-helm-charts/teleport-kube-agent/Chart.lock
  argocd-helm-charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/templates/delete_hook.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/templates/hook.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/deployment_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/job_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/statefulset_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/updater_deployment_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/job_test.yaml
Due: helm:check_diff

[CI] Helm Chart Update yetibot
  CHANGELOG.md
  argocd-helm-charts/yetibot/Chart.lock
  argocd-helm-charts/yetibot/Chart.yaml
  argocd-helm-charts/yetibot/charts/yetibot/Chart.yaml
Due: helm:check_diff

Fixing link to the KubeAid Bootstrap Script container image in KubeAid demo blog (Part 1)
  docs/aws/capi/cluster.md
Due: none

Fix and rename kubeaid managed apps and recording rules for Prometheus
  argocd-helm-charts/kubeaid-custom-azure/Chart.yaml
  argocd-helm-charts/kubeaid-custom-azure/templates/storageclass.yaml
  argocd-helm-charts/kubeaid-custom-azure/values.yaml
  build/kube-prometheus/common-template.jsonnet
Due: helm:check_diff, git:push

Remove redmine app from list of kubeaid apps in Prometheus recording rule
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Add comment for kubeaid managed apps from cluster specific jsonnet
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Add config repo tag updater script
  bin/tag-update.sh
Due: none

install yq
  .gitea/Dockerfile
Due: none

trigger build
  .gitea/workflows/container-image.yaml
Due: none

update
  .gitea/Dockerfile
Due: none

update
  .gitea/workflows/container-image.yaml
Due: none

remove : and add local commit hash linking in changelog for github
  CHANGELOG.md
Due: none
