Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

fix(postgresql-object-store): accept both cloud and provider field for S3 credentials
  argocd-helm-charts/kubeaid-addons/templates/postgresql-object-store.yaml
Due: helm:check_diff

chore(release): update CHANGELOG and Release Notes for Kubeaid 29.0.0
  .release-notes.md
  CHANGELOG.md
Due: none

fix(capi-cluster): drop Obmondo CAPH fork image for multi-subnet support
  argocd-helm-charts/capi-cluster/charts/hetzner/values.yaml
  argocd-helm-charts/capi-cluster/templates/provider-hetzner.yaml
Due: helm:check_diff

fix(capi-cluster): wget kubeaid-storagectl from Obmondo releases, not personal fork
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmConfig.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/examples/aws/cluster-autoscaler.yaml
  argocd-helm-charts/capi-cluster/examples/hetzner/cloud.yaml
  argocd-helm-charts/capi-cluster/values.yaml
Due: helm:check_diff

chore(release): update CHANGELOG and Release Notes for Kubeaid 29.0.2
  .release-notes.md
  CHANGELOG.md
Due: none

chore(release): update CHANGELOG and Release Notes for Kubeaid 29.0.3
  .release-notes.md
  CHANGELOG.md
Due: none

feat(capi-cluster/hetzner): migrate object refs to apiGroup (CAPI v1beta2)
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/Cluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/Machine.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/MachineDeployment.yaml
Due: helm:check_diff

refactor(capi-cluster/hetzner): tidy MachineDeployment cluster-autoscaler annotations
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/MachineDeployment.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/_helpers.tpl
  argocd-helm-charts/capi-cluster/charts/hetzner/values.schema.json
Due: helm:check_diff

fix(capi-cluster/hetzner): migrate MachineHealthCheck body to v1beta2 schema
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/MachineHealthCheck.yaml
Due: helm:check_diff

feat(capi-cluster/hetzner): align MachineDeployment shape with upstream cluster-template
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/MachineDeployment.yaml
Due: helm:check_diff

feat(capi-cluster): pin postKubeadm `git clone kubeaid` to global.kubeaid.version
  argocd-helm-charts/capi-cluster/charts/aws/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/kubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/values.yaml
Due: helm:check_diff

chore(release): update CHANGELOG and Release Notes for Kubeaid 29.0.5
  .release-notes.md
  CHANGELOG.md
Due: none

fix(capi-cluster/hetzner): add kubeadm-required fields to KCP KubeletConfiguration
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
Due: helm:check_diff

chore(release): update CHANGELOG and Release Notes for Kubeaid 29.0.6
  .release-notes.md
  CHANGELOG.md
Due: none

fix helm template error in kyverno
  argocd-helm-charts/kyverno/templates/harbor-proxy-cache/harbor-proxy-cache-mutate.yaml
  argocd-helm-charts/kyverno/values.yaml
Due: helm:check_diff

feat(blackbox): group blackbox probes by module
  argocd-helm-charts/kubeaid-addons/templates/blackbox-probes.yaml
  argocd-helm-charts/kubeaid-addons/values.yaml
Due: helm:check_diff

fix(capi-cluster/hetzner): postKubeadm cilium + CCM via helm template, not helm install
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
Due: helm:check_diff

fix(keycloakx): drop hardcoded `storageClass: default` from cnpg postgres spec
  argocd-helm-charts/keycloakx/values.yaml
Due: helm:check_diff

fix: enabled logical backup for keycloak and netbird and fixed nil pointer error during logical backup template compilation
  argocd-helm-charts/keycloakx/values.yaml
  argocd-helm-charts/kubeaid-addons/templates/postgresql-logical-backup.yaml
  argocd-helm-charts/netbird/Chart.lock
  argocd-helm-charts/netbird/values.yaml
Due: helm:check_diff

chore(fix): bumped kubeaid agent version
  argocd-helm-charts/kubeaid-agent/values.yaml
Due: helm:check_diff

chore(fix): typo in kubeaid-agent tag
  argocd-helm-charts/kubeaid-agent/values.yaml
Due: helm:check_diff

fix(capi-cluster): drop LB-exclusion label on worker-less clusters
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
Due: helm:check_diff

chore(release): update CHANGELOG and Release Notes for Kubeaid 29.0.7
  .release-notes.md
  CHANGELOG.md
Due: none

fix(netbird): disable postgresql backups by default
  argocd-helm-charts/netbird/values.yaml
Due: helm:check_diff

fix(capi-cluster): raise inotify limits on kubeadm nodes
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmConfig.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmConfigTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
Due: helm:check_diff

Added functionality to disable servicemonitors incase of test instances
  argocd-helm-charts/openvox/templates/puppet-agent-servicemonitor.yaml
  argocd-helm-charts/openvox/values.yaml
Due: helm:check_diff

fix(capi-cluster): prepend InternalIP to kubelet-preferred-address-types
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
Due: helm:check_diff

add cilium netpol for sonarqube using kubeaid-addons
  argocd-helm-charts/kubeaid-addons/README.md
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-sonarqube.yaml
  argocd-helm-charts/kubeaid-addons/values.yaml
Due: helm:check_diff

update image tag to v0.4.2 for kubeaid-agent
  argocd-helm-charts/kubeaid-agent/values.yaml
Due: helm:check_diff

fix(blackbox-exporter): remove ip flapping alert
  build/kube-prometheus/mixins/blackbox-exporter/mixin.libsonnet
  build/kube-prometheus/mixins/blackbox-exporter/prometheus.yaml
  build/kube-prometheus/mixins/blackbox-exporter/tests.yaml
Due: git:push

Improve Keycloak readme to set custom authentication flow for clients
  argocd-helm-charts/keycloakx/README.md
Due: helm:check_diff

changes in cilium policy sonarqube
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-sonarqube.yaml
Due: helm:check_diff

Add Cilium network policies for prometheus-linuxaid stack
  argocd-helm-charts/kubeaid-addons/templates/networkpolicy-prometheus-linuxaid-alertmanager.yaml
  argocd-helm-charts/kubeaid-addons/templates/networkpolicy-prometheus-linuxaid-grafana.yaml
  argocd-helm-charts/kubeaid-addons/templates/networkpolicy-prometheus-linuxaid.yaml
  argocd-helm-charts/kubeaid-addons/values.yaml
  argocd-helm-charts/prometheus-linuxaid/charts/kubeaid-addons
  argocd-helm-charts/prometheus-linuxaid/templates/prometheus-rolebinding-scrape-namespaces.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/prometheus.yaml
Due: helm:check_diff

fix the suggested changes
  argocd-helm-charts/kubeaid-addons/templates/networkpolicy-prometheus-linuxaid-alertmanager.yaml
  argocd-helm-charts/kubeaid-addons/templates/networkpolicy-prometheus-linuxaid-grafana.yaml
  argocd-helm-charts/kubeaid-addons/templates/networkpolicy-prometheus-linuxaid.yaml
  argocd-helm-charts/kubeaid-addons/values.yaml
Due: helm:check_diff

feat(graylog): implement and refine Cilium network policies
  argocd-helm-charts/graylog/README.md
  argocd-helm-charts/graylog/templates/netpol-default.yaml
  argocd-helm-charts/graylog/templates/netpol-graylog.yaml
  argocd-helm-charts/graylog/templates/netpol-mongodb.yaml
  argocd-helm-charts/graylog/values.yaml
  argocd-helm-charts/kubeaid-addons/README.md
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb-backup-cronjob.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb-role.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb-rolebinding.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb-serviceaccount.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-graylog.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-keycloak.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-mongodb-backup.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-mongodb.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-opensearch.yaml
  argocd-helm-charts/kubeaid-addons/values.yaml
Due: helm:check_diff

(chore): fix requested issues in network policies for Graylog and MongoDB
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-graylog.yaml
  argocd-helm-charts/kubeaid-addons/values.yaml
Due: helm:check_diff

fix(ci): fix yamllint errors and mongodb.yaml labels key
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb.yaml
  argocd-helm-charts/kubeaid-addons/values.yaml
Due: helm:check_diff

chore(release): update CHANGELOG and Release Notes for Kubeaid 29.0.8
  .release-notes.md
  CHANGELOG.md
Due: none

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
