Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:helm
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - "argocd-helm-charts/**/*"

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:1644571507
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-chart argo-cd

[issue #8301 #8351 #8352 #8353] Fix velero alert expression
  build/kube-prometheus/mixins/velero/mixin.libsonnet
Due: git:push

[#8143] obmondo-k8s-agent should be able to talk to prom
  argocd-helm-charts/obmondo-k8s-agent/templates/networkpolicy.yaml
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
  build/kube-prometheus/common-template.jsonnet
Due: helm:check_diff, git:push

[issue #7996] Add template mechanism for sealed secrets
  argocd-helm-charts/sealed-secrets/README.md
Due: helm:check_diff

#8591 Fix cron schedule in velero
  argocd-helm-charts/velero/templates/velero-schedules.yaml
Due: helm:check_diff

[#8617] schedule velero backup for everyday
  argocd-helm-charts/velero/templates/velero-schedules.yaml
Due: helm:check_diff

[#8625] added version constraint for all the provider used to setup the kops cluster
  terraform/aws/cluster/kops.tf
  terragrunt/kops/cluster/terragrunt.hcl
  terragrunt/kops/terragrunt.hcl
Due: none

issue #8536 Add Readme to connect to Azure
  docs/azure/aks/cluster.md
Due: none

[#8624] Added feature to add some custom options, like OIDC and featuregates for kops cluster
  terraform/aws/cluster/main.tf
  terraform/aws/cluster/variables.tf
Due: none

[#8616 #8615 #8618] fixed the promql alert expression based on the new scheduled
  argocd-helm-charts/velero/templates/velero-schedules.yaml
  build/kube-prometheus/mixins/velero/mixin.libsonnet
Due: helm:check_diff, git:push

[#8623] adding support for instance group and labels option to master and node group
  terraform/aws/cluster/main.tf
  terraform/aws/cluster/variables.tf
Due: none

[#8621] Added support for external dns zone policy, so it can managed other custom domain names
  terraform/aws/iam/external-dns.tf
  terraform/aws/iam/variables.tf
Due: none

[CI] Helm Chart Update aws-ebs-csi-driver
  argocd-helm-charts/aws-ebs-csi-driver/Chart.lock
  argocd-helm-charts/aws-ebs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/controller.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/metrics.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update aws-efs-csi-driver
  argocd-helm-charts/aws-efs-csi-driver/Chart.lock
  argocd-helm-charts/aws-efs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/CHANGELOG.md
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/templates/csidriver.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/templates/node-serviceaccount.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update cert-manager
  argocd-helm-charts/cert-manager/Chart.lock
  argocd-helm-charts/cert-manager/Chart.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/Chart.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/README.md
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/_helpers.tpl
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/cainjector-deployment.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/crds.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/deployment.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/networkpolicy-egress.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/networkpolicy-webhooks.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/servicemonitor.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/startupapicheck-job.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-deployment.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update dokuwiki
  argocd-helm-charts/dokuwiki/Chart.lock
  argocd-helm-charts/dokuwiki/Chart.yaml
  argocd-helm-charts/dokuwiki/charts/dokuwiki/Chart.yaml
  argocd-helm-charts/dokuwiki/charts/dokuwiki/README.md
  argocd-helm-charts/dokuwiki/charts/dokuwiki/templates/deployment.yaml
  argocd-helm-charts/dokuwiki/charts/dokuwiki/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update external-dns
  argocd-helm-charts/external-dns/Chart.lock
  argocd-helm-charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/README.md
  argocd-helm-charts/external-dns/charts/external-dns/templates/_helpers.tpl
  argocd-helm-charts/external-dns/charts/external-dns/templates/deployment.yaml
  argocd-helm-charts/external-dns/charts/external-dns/templates/secret.yaml
  argocd-helm-charts/external-dns/charts/external-dns/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update gatekeeper
  argocd-helm-charts/gatekeeper/Chart.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/Chart.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/README.md
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/assign-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/assignmetadata-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/expansiontemplate-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/modifyset-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/templates/gatekeeper-audit-deployment.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/templates/gatekeeper-controller-manager-deployment.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/templates/namespace-post-upgrade.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/values.yaml
  argocd-helm-charts/gatekeeper/requirements.lock
Due: helm:check_diff

[CI] Helm Chart Update haproxy
  argocd-helm-charts/haproxy/Chart.lock
  argocd-helm-charts/haproxy/Chart.yaml
  argocd-helm-charts/haproxy/charts/haproxy/Chart.yaml
  argocd-helm-charts/haproxy/charts/haproxy/templates/daemonset.yaml
  argocd-helm-charts/haproxy/charts/haproxy/templates/deployment.yaml
  argocd-helm-charts/haproxy/charts/haproxy/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update mattermost-team-edition
  argocd-helm-charts/mattermost-team-edition/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.lock
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/values.yaml
  argocd-helm-charts/mattermost-team-edition/requirements.lock
Due: helm:check_diff

doc: bug: fix for build.sh script to work on mac
  build/kube-prometheus/build.sh
Due: git:push
