Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:helm
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - "argocd-helm-charts/**/*"

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:1644571507
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-chart argo-cd

[CI] Helm Chart Update keycloakx
  argocd-helm-charts/keycloakx/Chart.lock
  argocd-helm-charts/keycloakx/Chart.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/.bumpversion.cfg
  argocd-helm-charts/keycloakx/charts/keycloakx/Chart.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/README.md
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/_helpers.tpl
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/database-secret.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/serviceaccount.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/statefulset.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/values.schema.json
  argocd-helm-charts/keycloakx/charts/keycloakx/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update rabbitmq-operator
  argocd-helm-charts/rabbitmq-operator/Chart.lock
  argocd-helm-charts/rabbitmq-operator/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/templates/messaging-topology-operator/certificate.yaml
Due: helm:check_diff

[CI] Helm Chart Update sealed-secrets
  argocd-helm-charts/sealed-secrets/Chart.lock
  argocd-helm-charts/sealed-secrets/Chart.yaml
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/Chart.yaml
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/README.md
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/templates/deployment.yaml
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/templates/service-account.yaml
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/values.yaml
Due: helm:check_diff

feat 6950 added mattermost-team-edition chart v2
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/.helmignore
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.lock
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/README.md
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/.helmignore
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/README.md
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/NOTES.txt
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/_helpers.tpl
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/configurationFiles-configmap.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/deployment.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/initializationFiles-configmap.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/pvc.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/secrets.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/serviceaccount.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/servicemonitor.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/svc.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/tests/test-configmap.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/tests/test.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/values.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/ci/default-values.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/ci/extra-values.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/NOTES.txt
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/_deprecations.tpl
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/_helpers.tpl
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/deployment.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/ingress.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/pvc-plugins.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/pvc.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/route.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/secret-config.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/secret-mattermost-dbsecret.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/service-account.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/service.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/tests/mattermost-config-test.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/tests/mattermost-test.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/values.yaml
  argocd-helm-charts/mattermost-team-edition/templates/postgresql.yaml
Due: helm:check_diff

feat 6950 fixing yetibot values.yaml
  argocd-helm-charts/yetibot/values.yaml
Due: helm:check_diff

fixed the gitlab CI images, so it has correct helm version
  .gitlab-ci.yml
Due: none

create a branch for automatic update and dont use the existing one
  bin/helm-repo-update.sh
Due: none

feat 6950 fixing helm version validation
  bin/helm-repo-update.sh
Due: none

feat 6950 adding values.yaml
  argocd-helm-charts/mattermost-team-edition/values.yaml
Due: helm:check_diff

feat 6950 adding newline
  argocd-helm-charts/mattermost-team-edition/Chart.yaml
Due: helm:check_diff

feat 6950 updating version
  argocd-helm-charts/mattermost-team-edition/Chart.yaml
Due: helm:check_diff

lint: fix and postgres object bug fix and added required command for keycloakx
  argocd-helm-charts/keycloakx/templates/postgresql.yaml
  argocd-helm-charts/keycloakx/values.yaml
Due: helm:check_diff

Cleaned up default templates
  argocd-helm-charts/obmondo-k8s-agent/templates/NOTES.txt
  argocd-helm-charts/obmondo-k8s-agent/templates/deployment.yaml
  argocd-helm-charts/obmondo-k8s-agent/templates/hpa.yaml
  argocd-helm-charts/obmondo-k8s-agent/templates/ingress.yaml
  argocd-helm-charts/obmondo-k8s-agent/templates/service.yaml
  argocd-helm-charts/obmondo-k8s-agent/templates/serviceaccount.yaml
  argocd-helm-charts/obmondo-k8s-agent/templates/tests/test-connection.yaml
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

Added new env variable API_URL
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

handle adding multiple WG peers
  terraform/azure/wireguard/cloud_init.yml.tftpl
  terraform/azure/wireguard/main.tf
  terraform/azure/wireguard/variables.tf
Due: none

feat: install the mixins based on the status of the directory
  build/kube-prometheus/build.sh
Due: git:push

feat: moved utils into lib dir and added cert-manager mixins
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/lib/utils.libsonnet
Due: git:push
