Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

changes done locally to ensure required SANs are there in kafka certificates
  argocd-helm-charts/strimzi-kafka-operator/templates/kafka.yaml
  argocd-helm-charts/strimzi-kafka-operator/values.yaml
Due: helm:check_diff

feat: moved Harbor DB migration doc to wiki
  argocd-helm-charts/harbor/README.md
Due: helm:check_diff

added improved velero alerts and Prometheus unit tests
  build/kube-prometheus/mixins/velero/mixin.libsonnet
  build/kube-prometheus/mixins/velero/prometheus.yaml
  build/kube-prometheus/mixins/velero/rules.yaml
Due: git:push

feat(alerting/velero) : alerts should be generated when there are no successfull backups / snapshots for a schedule
  build/kube-prometheus/mixins/velero/mixin.libsonnet
  build/kube-prometheus/mixins/velero/prometheus.yaml
Due: git:push

increase memory request and limit for Velero pod
  argocd-helm-charts/velero/values.yaml
Due: helm:check_diff

feat(velero) : adding VolumeSnapshotClass template
  argocd-helm-charts/velero/templates/volume-snapshot-class.yaml
Due: helm:check_diff

feat: added harbor blog and examples
  argocd-helm-charts/harbor/example/argocd-apps/templates/harbor.yaml
  argocd-helm-charts/harbor/example/argocd-apps/values-harbor.yaml
  docs/harbor_blog.md
Due: helm:check_diff

fix: updated puppetboard image.tag to 6.0.1
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

fix: added the default image.tag for puppetserver and puppetdb
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

fix: puppetboard worker is increased to 2
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

Enable logical backup for harbor
  argocd-helm-charts/harbor/templates/postgresql-logical-backup.yaml
Due: helm:check_diff

feat(capi-cluster/azure) : consuming service account issuer keys from Kubernetes Secret | removing root account password for each node
  argocd-helm-charts/capi-cluster/charts/azure/templates/kubeadmConfigTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/kubeadmControlPlane.yaml
Due: helm:check_diff

feat(capi-cluster/azure) : adding the azure-workload-identity-webhook KubeAid chart
  argocd-helm-charts/azure-workload-identity-webhook/Chart.lock
  argocd-helm-charts/azure-workload-identity-webhook/Chart.yaml
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/.helmignore
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/Chart.yaml
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/README.md
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/templates/_helpers.tpl
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/templates/azure-wi-webhook-admin-serviceaccount.yaml
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/templates/azure-wi-webhook-config-configmap.yaml
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/templates/azure-wi-webhook-controller-manager-deployment.yaml
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/templates/azure-wi-webhook-controller-manager-poddisruptionbudget.yaml
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/templates/azure-wi-webhook-manager-role-clusterrole.yaml
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/templates/azure-wi-webhook-manager-role-role.yaml
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/templates/azure-wi-webhook-manager-rolebinding-clusterrolebinding.yaml
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/templates/azure-wi-webhook-manager-rolebinding-rolebinding.yaml
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/templates/azure-wi-webhook-mutating-webhook-configuration-mutatingwebhookconfiguration.yaml
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/templates/azure-wi-webhook-server-cert-secret.yaml
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/templates/azure-wi-webhook-webhook-service-service.yaml
  argocd-helm-charts/azure-workload-identity-webhook/charts/workload-identity-webhook/values.yaml
  argocd-helm-charts/azure-workload-identity-webhook/values.yaml
Due: helm:check_diff

Update postgres wiki
  argocd-helm-charts/postgres-operator/README.md
  build/kube-prometheus/mixins/velero/rules.yaml
Due: helm:check_diff, git:push

fix: correct file names
  docs/harbor_blog.md
Due: none

fix(keycloakx/backup) : updated keycloakx's postgres logical backup container image
  argocd-helm-charts/keycloakx/templates/postgresql-logical-backup.yaml
Due: helm:check_diff

renaming velero alert expressions test file from rules.yaml to tests.yaml
  build/kube-prometheus/mixins/velero/tests.yaml
Due: git:push

update tag noble generic build in dockerfile
  .gitea/Dockerfile
Due: none

fix: reduce repeat_interval to 5m for obmondo route
  argocd-helm-charts/prometheus-linuxaid/values.yaml
  build/kube-prometheus/examples/alertmanager-config/alertmanager-main.yaml
Due: helm:check_diff, git:push

chore: lint the yaml formatting
  argocd-helm-charts/prometheus-linuxaid/values.yaml
Due: helm:check_diff

chore: remove old opsmondo rules
  argocd-helm-charts/prometheus-linuxaid/templates/prometheusRule-opsmondo.yaml
Due: helm:check_diff

chore: remove old monitoring stack rules
  argocd-helm-charts/prometheus-linuxaid/templates/prometheusRule-monitoring-stack.yaml
Due: helm:check_diff

Add commit since 11.0.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

feat: add recommendation to back up prometheus data
  argocd-helm-charts/prometheus-linuxaid/Readme.md
Due: helm:check_diff

chore(capi-cluster) : updating versions
  argocd-helm-charts/capi-cluster/values.yaml
Due: helm:check_diff

added azuredisk-csi-driver Helm chart
  argocd-helm-charts/azuredisk-csi-driver/Chart.lock
  argocd-helm-charts/azuredisk-csi-driver/Chart.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/Chart.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/NOTES.txt
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/_helpers.tpl
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  argocd-helm-charts/azuredisk-csi-driver/charts/azuredisk-csi-driver/values.yaml
Due: helm:check_diff

feat(capi-cluster/azure) : adding option to specify image ID
  argocd-helm-charts/capi-cluster/charts/azure/templates/AzureMachineTemplate.yaml
Due: helm:check_diff

Ignore exported_certname label while ignoring the blacklist services from the service down alert
  argocd-helm-charts/prometheus-linuxaid/rules/services.yaml
Due: helm:check_diff

adding hetzner capi templates
  argocd-helm-charts/capi-cluster/charts/hetzner/Chart.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/README.md
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HCloudMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HCloudRemediationTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerBareMetalHost.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerBareMetalMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerCluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/MachineDeployment.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/_helpers.tpl
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-control-plane-machine-health-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-control-plane-machine-template copy.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-control-plane-machine-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-control-plane-remediation-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-host-with-raid.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-host-without-raid.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-worker-machine-deployment.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-worker-machine-health-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-worker-machine-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-worker-remediation-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/cluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-control-plane-machine-health-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-control-plane-machine-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-control-plane-remediation-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-worker-machine-deployment.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-worker-machine-health-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-worker-machine-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-worker-remediation-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/kubeadm-config-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/kubeadm-control-plane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/values.yaml
Due: helm:check_diff

readme on hrms module
  argocd-helm-charts/erpnext/Readme.md
Due: helm:check_diff

fix: the sealed secret for alertmanager, needs an empty hash for spec.encryptedData
  build/kube-prometheus/README.md
  build/kube-prometheus/examples/alertmanager-config/alertmanager-main.yaml
Due: git:push

capi-cluster/hetzner subchart streamlining and fixes | adding hcloud-csi-driver chart
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/Chart.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/README.md
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/templates/Cluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/templates/HCloudMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/templates/HCloudRemediationTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/templates/HetznerBareMetalHost.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/templates/HetznerBareMetalMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/templates/HetznerCluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/templates/KubeadmConfigTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/templates/MachineDeployment.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/templates/MachineHealthCheck.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/values.yaml
  argocd-helm-charts/hcloud-csi-driver/Chart.lock
  argocd-helm-charts/hcloud-csi-driver/Chart.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/.helmignore
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/Chart.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/README.md
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/example-prod.values.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/_common_images.tpl
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/_common_labels.tpl
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/_common_name.tpl
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/_common_tplvalues.tpl
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/controller/clusterrole.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/controller/clusterrolebinding.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/controller/deployment.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/controller/poddisruptionbudget.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/controller/secret.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/controller/service.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/controller/serviceaccount.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/controller/servicemonitor.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/core/csidriver.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/core/storageclass.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/node/daemonset.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/node/service.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/templates/node/servicemonitor.yaml
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/values.schema.json
  argocd-helm-charts/hcloud-csi-driver/charts/hcloud-csi/values.yaml
Due: helm:check_diff

fix(capi-cluster/hetzner)
  argocd-helm-charts/capi-cluster/charts/hetzner/README.md
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/Chart.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/README.md
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/templates/Cluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/hetzner/values.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HCloudMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HCloudRemediationTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerBareMetalHost.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerBareMetalMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerCluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmConfigTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/MachineDeployment.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/MachineHealthCheck.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-control-plane-machine-health-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-control-plane-machine-template copy.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-control-plane-machine-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-control-plane-remediation-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-host-with-raid.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-host-without-raid.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-worker-machine-deployment.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-worker-machine-health-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-worker-machine-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/baremetal-worker-remediation-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/cluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-control-plane-machine-health-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-control-plane-machine-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-control-plane-remediation-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-worker-machine-deployment.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-worker-machine-health-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-worker-machine-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/hcloud-worker-remediation-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/kubeadm-config-template.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/kubeadm-control-plane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/values.yaml
Due: helm:check_diff

adding stuff
  argocd-helm-charts/odoo/templates/postgresql-logical-backup.yaml
  argocd-helm-charts/odoo/templates/postgresql.yaml
Due: helm:check_diff

adding cnpg support to odoo
  argocd-helm-charts/odoo/templates/postgresql-logical-backup.yaml
  argocd-helm-charts/odoo/templates/postgresql.yaml
  argocd-helm-charts/odoo/values.yaml
Due: helm:check_diff

shifting from Syself's to HCloud's CCM Helm chart
  argocd-helm-charts/ccm-hetzner/Chart.lock
  argocd-helm-charts/ccm-hetzner/Chart.yaml
  argocd-helm-charts/ccm-hetzner/charts/ccm-hetzner/Chart.yaml
  argocd-helm-charts/ccm-hetzner/charts/ccm-hetzner/templates/_helpers.tpl
  argocd-helm-charts/ccm-hetzner/charts/ccm-hetzner/templates/deployment.yaml
  argocd-helm-charts/ccm-hetzner/charts/ccm-hetzner/templates/pdb.yaml
  argocd-helm-charts/ccm-hetzner/charts/ccm-hetzner/templates/secret.yaml
  argocd-helm-charts/ccm-hetzner/charts/ccm-hetzner/templates/serviceaccount.yaml
  argocd-helm-charts/ccm-hetzner/charts/ccm-hetzner/values.yaml
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/.helmignore
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/.snapshots/default.yaml
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/.snapshots/full.daemonset.yaml
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/.snapshots/full.values.daemonset.yaml
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/Chart.yaml
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/README.md
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/templates/NOTES.txt
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/templates/_helpers.tpl
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/templates/clusterrolebinding.yaml
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/templates/daemonset.yaml
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/templates/deployment.yaml
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/templates/podmonitor.yaml
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/templates/serviceaccount.yaml
  argocd-helm-charts/ccm-hetzner/charts/hcloud-cloud-controller-manager/values.yaml
  argocd-helm-charts/ccm-hetzner/values.yaml
Due: helm:check_diff

granting read allowance for resources in storage APIGroup to Cluster AutoScaler
  argocd-helm-charts/cluster-autoscaler/templates/clusterrole.yaml
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
