Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

Add commit since 9.4.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

traefik fix
  argocd-helm-charts/traefik/templates/wildcard-certificate.yaml
  argocd-helm-charts/traefik/values.yaml
Due: helm:check_diff

fix(kube-prometheus) : check whether vars.prometheus.storage.classname exists or not
  build/kube-prometheus/common-template.jsonnet
Due: git:push

fix(kube-prometheus) : setting ruleNamespaceSelector to {} instead of null
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Add commit since 10.0.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

fix: typo bug in jsonnet, which was causing kube build to fail when generating the config file
  build/kube-prometheus/common-template.jsonnet
Due: git:push

fix(capi-cluster/aws) : user must specify subnet IDs when using an existing VPC
  argocd-helm-charts/capi-cluster/charts/aws/templates/AWSCluster.yaml
  argocd-helm-charts/capi-cluster/charts/aws/values.yaml
Due: helm:check_diff

update commit message for helm update script and add signing to commit
  bin/helm-repo-update.sh
Due: none

add signing to commit in add-commit script
  bin/add-commits.sh
Due: none

Add commit since 10.0.1 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

fix lastest tag in changelog
  CHANGELOG.md
Due: none

add for clause for the domain status alert
  argocd-helm-charts/prometheus-linuxaid/rules/domain.yaml
Due: helm:check_diff

Revert "add for clause for the domain status alert"
  argocd-helm-charts/prometheus-linuxaid/rules/domain.yaml
Due: helm:check_diff

Add commit since 10.1.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

fix: changed it to ttyS1 for ironic agent
  argocd-helm-charts/metal3/values.yaml
Due: helm:check_diff

fix: adding autologin, so we can get a shell access
  argocd-helm-charts/metal3/values.yaml
Due: helm:check_diff

feat: added kubeaid-agent user for argocd
  argocd-helm-charts/argo-cd/templates/appproject-kubeaid.yaml
  argocd-helm-charts/argo-cd/templates/configmap-argocd-user-kubeaid-agent.yaml
  argocd-helm-charts/argo-cd/templates/probe-blackbox.yaml
Due: helm:check_diff

revert argocd image updater file deletion
  argocd-helm-charts/argocd-image-updater/Chart.yaml
  argocd-helm-charts/argocd-image-updater/requirements.lock
  argocd-helm-charts/argocd-image-updater/values.yaml
Due: helm:check_diff

feat: added kubeaid-agent user for argocd, so kubeaid-agent can talk to argocd
  argocd-helm-charts/argo-cd/templates/appproject-kubeaid.yaml
  argocd-helm-charts/argo-cd/templates/configmap-argocd-user-kubeaid-agent.yaml
  argocd-helm-charts/argo-cd/templates/probe-blackbox.yaml
Due: helm:check_diff

Add commit since 10.2.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

Add steps to setup keycloak with azure ad
  argocd-helm-charts/keycloakx/README.md
  argocd-helm-charts/keycloakx/static/1.png
  argocd-helm-charts/keycloakx/static/10.png
  argocd-helm-charts/keycloakx/static/11.png
  argocd-helm-charts/keycloakx/static/12.png
  argocd-helm-charts/keycloakx/static/2.png
  argocd-helm-charts/keycloakx/static/3.png
  argocd-helm-charts/keycloakx/static/4.png
  argocd-helm-charts/keycloakx/static/5.png
  argocd-helm-charts/keycloakx/static/6.png
  argocd-helm-charts/keycloakx/static/7.png
  argocd-helm-charts/keycloakx/static/8.png
  argocd-helm-charts/keycloakx/static/9.png
Due: helm:check_diff

Add commit since 10.3.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

Add docs for fluent bit DNS issue
  argocd-helm-charts/fluent-bit/known-issues.md
Due: helm:check_diff

feat(capi-cluster/azure) : support provisioning self-managed Azure based Kubernetes cluster using ClusterAPI
  argocd-helm-charts/capi-cluster/charts/azure/azure/Chart.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/AzureCluster.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/AzureClusterIdentity.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/AzureMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/Cluster.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/KubeadmConfigTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/MachineDeployment.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/values.yaml
  argocd-helm-charts/capi-cluster/templates/ccm-azure.yaml
  argocd-helm-charts/capi-cluster/templates/provider-azure.yaml
  argocd-helm-charts/capi-cluster/values.yaml
  argocd-helm-charts/ccm-azure/Chart.lock
  argocd-helm-charts/ccm-azure/Chart.yaml
  argocd-helm-charts/ccm-azure/charts/cloud-provider-azure/.helmignore
  argocd-helm-charts/ccm-azure/charts/cloud-provider-azure/Chart.yaml
  argocd-helm-charts/ccm-azure/charts/cloud-provider-azure/README.md
  argocd-helm-charts/ccm-azure/charts/cloud-provider-azure/templates/_image.tpl
  argocd-helm-charts/ccm-azure/charts/cloud-provider-azure/templates/cloud-provider-azure.yaml
  argocd-helm-charts/ccm-azure/charts/cloud-provider-azure/values.yaml
Due: helm:check_diff

ignore docker container down alerts for gitea actions task
  argocd-helm-charts/prometheus-linuxaid/rules/docker.yaml
Due: helm:check_diff

ignore monitoring buildx container
  argocd-helm-charts/prometheus-linuxaid/rules/docker.yaml
Due: helm:check_diff

Add commit since 10.4.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

Updated Readme
  argocd-helm-charts/metal3/README.md
  argocd-helm-charts/metal3/Troubleshoot.md
Due: helm:check_diff

adding metal3 readme, hostupdatepolicy crd, and baremetal-operaor rbac rules
  argocd-helm-charts/metal3/README.md
  argocd-helm-charts/metal3/templates/baremetal-operator-rbac.yaml
  argocd-helm-charts/metal3/templates/bmh.yaml
  argocd-helm-charts/metal3/templates/metal3.io_hostupdatepolicies.yaml
  argocd-helm-charts/metal3/values.yaml
Due: helm:check_diff

fix(capi-cluster/azure) : fixed the subchart
  argocd-helm-charts/capi-cluster/charts/azure/README.md
  argocd-helm-charts/capi-cluster/charts/azure/azure/Chart.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/AzureCluster.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/AzureClusterIdentity.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/AzureMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/Cluster.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/KubeadmConfigTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/MachineDeployment.yaml
  argocd-helm-charts/capi-cluster/charts/azure/azure/values.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/AzureCluster.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/AzureClusterIdentity.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/AzureMachinePool.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/AzureMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/AzureManagedCluster.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/AzureManagedControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/MachineDeployment.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/SelfSystemMachinePool.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/SelfUserMachinePool.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/SystemMachinePool.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/SystemManagedMachiePool.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/UserMachinePool.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/UserManagedMachinePool.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/cluster.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/kubeadmConfigTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/kubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/azure/values.yaml
Due: helm:check_diff

capu-cluster/azure chart changes
  argocd-helm-charts/capi-cluster/charts/azure/azure/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/values.yaml
  argocd-helm-charts/cluster-autoscaler/templates/clusterrole.yaml
Due: helm:check_diff

migrating harbor database to postgress cnpg
  argocd-helm-charts/harbor/README.md
  argocd-helm-charts/harbor/templates/postgresql.yaml
  argocd-helm-charts/harbor/values.yaml
Due: helm:check_diff

fix HELM_UPSTREAM_CHART_VERSION unbound error when no upstream chart is present
  argocd-helm-charts/strimzi-kafka-operator/templates/kafka.yaml
  argocd-helm-charts/strimzi-kafka-operator/values.yaml
  bin/helm-repo-update.sh
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
