Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:helm
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - "argocd-helm-charts/**/*"

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:1644571507
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-chart argo-cd

doc: update README with MacOS prerequisites
  build/kube-prometheus/README.md
Due: git:push

[CI] Helm Chart Update metallb
  argocd-helm-charts/metallb/Chart.lock
  argocd-helm-charts/metallb/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/README.md
  argocd-helm-charts/metallb/charts/metallb/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update oncall
  argocd-helm-charts/oncall/Chart.lock
  argocd-helm-charts/oncall/Chart.yaml
  argocd-helm-charts/oncall/charts/oncall/Chart.lock
  argocd-helm-charts/oncall/charts/oncall/Chart.yaml
  argocd-helm-charts/oncall/charts/oncall/README.md
  argocd-helm-charts/oncall/charts/oncall/templates/_env.tpl
  argocd-helm-charts/oncall/charts/oncall/templates/celery/_deployment.tpl
  argocd-helm-charts/oncall/charts/oncall/templates/engine/deployment.yaml
  argocd-helm-charts/oncall/charts/oncall/templates/ingress-regular.yaml
  argocd-helm-charts/oncall/charts/oncall/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update prometheus-adapter
  argocd-helm-charts/prometheus-adapter/Chart.lock
  argocd-helm-charts/prometheus-adapter/Chart.yaml
  argocd-helm-charts/prometheus-adapter/charts/prometheus-adapter/Chart.yaml
  argocd-helm-charts/prometheus-adapter/charts/prometheus-adapter/templates/psp.yaml
Due: helm:check_diff

[CI] Helm Chart Update sealed-secrets
  argocd-helm-charts/sealed-secrets/Chart.lock
  argocd-helm-charts/sealed-secrets/Chart.yaml
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/Chart.yaml
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/README.md
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/templates/cluster-role.yaml
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update teleport-cluster
  argocd-helm-charts/teleport-cluster/Chart.lock
  argocd-helm-charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/templates/deployment.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/deployment_test.yaml.snap
Due: helm:check_diff

[CI] Helm Chart Update teleport-kube-agent
  argocd-helm-charts/teleport-kube-agent/Chart.lock
  argocd-helm-charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/.lint/join-params-iam.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/.lint/join-params-token.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/templates/config.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/templates/deployment.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/templates/secret.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/templates/statefulset.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/config_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/deployment_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/secret_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/statefulset_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/config_test.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/secret_test.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/statefulset_test.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/values.schema.json
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update traefik
  argocd-helm-charts/traefik/Chart.lock
  argocd-helm-charts/traefik/Chart.yaml
  argocd-helm-charts/traefik/charts/traefik/Changelog.md
  argocd-helm-charts/traefik/charts/traefik/Chart.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/_helpers.tpl
  argocd-helm-charts/traefik/charts/traefik/templates/_podtemplate.tpl
  argocd-helm-charts/traefik/charts/traefik/templates/_service.tpl
  argocd-helm-charts/traefik/charts/traefik/templates/daemonset.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/dashboard-hook-ingressroute.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/deployment.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/hpa.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/ingressclass.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/poddisruptionbudget.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/prometheusrules.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/pvc.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/rbac/clusterrole.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/rbac/clusterrolebinding.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/rbac/podsecuritypolicy.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/rbac/role.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/rbac/rolebinding.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/rbac/serviceaccount.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/service.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/servicemonitor.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/tlsoption.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/tlsstore.yaml
  argocd-helm-charts/traefik/charts/traefik/values.yaml
Due: helm:check_diff

doc: created custom README
  argocd-helm-charts/sonarqube/README.md
  argocd-helm-charts/sonarqube/docs/images/sonar.core.serverBaseURL.jpg
Due: helm:check_diff

[CI] Helm Chart Update velero
  argocd-helm-charts/velero/Chart.lock
  argocd-helm-charts/velero/Chart.yaml
  argocd-helm-charts/velero/charts/velero/Chart.yaml
  argocd-helm-charts/velero/charts/velero/templates/deployment.yaml
  argocd-helm-charts/velero/charts/velero/templates/restic-daemonset.yaml
  argocd-helm-charts/velero/charts/velero/values.yaml
Due: helm:check_diff

doc: updating network policies for sonarqube and allow 199.232.24.209 which is repo1.maven.org, which sonarqube needs when prometheus is enbaled
  argocd-helm-charts/sonarqube/templates/netpol-backup-sonarqube-db.yaml
  argocd-helm-charts/sonarqube/templates/netpol-nginx.yaml
  argocd-helm-charts/sonarqube/templates/netpol-postgresql.yaml
  argocd-helm-charts/sonarqube/templates/netpol-sonarqube.yaml
  argocd-helm-charts/sonarqube/values.yaml
Due: helm:check_diff

doc: typo fix for sonarqube netpol
  argocd-helm-charts/sonarqube/templates/netpol-sonarqube.yaml
Due: helm:check_diff

lint: typo again, mixed up nets with destaintion for sonarqube app
  argocd-helm-charts/sonarqube/templates/netpol-sonarqube.yaml
Due: helm:check_diff

doc: Update path
  bin/generate-puppet-hiera.sh
Due: none

[#8727] velero still sends metrics for the schedule which are deleted.
  build/kube-prometheus/mixins/velero/mixin.libsonnet
Due: git:push

feat: adding script to create yaml file for creating velero secret
  argocd-helm-charts/velero/README.md
  argocd-helm-charts/velero/bin/azure/azure
  build/velero-secret-gen/azure/main.go
  build/velero-secret-gen/go.mod
  build/velero-secret-gen/go.sum
Due: helm:check_diff, git:push

doc: [#7918] velero netpol bug fix, so kube-prom can scrape the velero metrics
  argocd-helm-charts/velero/templates/netpol-kube-prometheus.yaml
Due: helm:check_diff

#8801 Update env var to new value
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

#8815 Added a netpol for prometheus scrape
  argocd-helm-charts/obmondo-k8s-agent/templates/networkPolicy.yaml
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff
