Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

add smartmon_sata failure as a mixin in kube-prometheus
  build/kube-prometheus/README.md
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/mixins/smartmon/mixin.libsonnet
Due: git:push

feat: added zfs pool status monitoring
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/mixins/zfs/mixin.libsonnet
Due: git:push

remove zfs exporter
  argocd-helm-charts/prometheus-linuxaid/rules/zfs_exporter.yaml
Due: helm:check_diff

fix: tunned puppetserver and puppetdb, so it does not eat too much of memory
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

fix: added some default resource for puppet-server/db
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

Add commit since 6.0.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

[CI] Helm Chart Update argo-cd
  CHANGELOG.md
  argocd-helm-charts/argo-cd/Chart.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/Chart.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/crds/crd-application.yaml
  argocd-helm-charts/argo-cd/requirements.lock
Due: helm:check_diff

[CI] Helm Chart Update cert-manager
  CHANGELOG.md
  argocd-helm-charts/cert-manager/Chart.lock
  argocd-helm-charts/cert-manager/Chart.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/Chart.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/README.md
Due: helm:check_diff

[CI] Helm Chart Update cilium
  CHANGELOG.md
  argocd-helm-charts/cilium/Chart.lock
  argocd-helm-charts/cilium/Chart.yaml
  argocd-helm-charts/cilium/charts/cilium/Chart.yaml
  argocd-helm-charts/cilium/charts/cilium/README.md
  argocd-helm-charts/cilium/charts/cilium/files/cilium-envoy/configmap/bootstrap-config.json
  argocd-helm-charts/cilium/charts/cilium/templates/cilium-configmap.yaml
  argocd-helm-charts/cilium/charts/cilium/templates/hubble-relay/serviceaccount.yaml
  argocd-helm-charts/cilium/charts/cilium/templates/validate.yaml
  argocd-helm-charts/cilium/charts/cilium/values.schema.json
  argocd-helm-charts/cilium/charts/cilium/values.yaml
  argocd-helm-charts/cilium/charts/cilium/values.yaml.tmpl
Due: helm:check_diff

[CI] Helm Chart Update fluent-bit
  CHANGELOG.md
  argocd-helm-charts/fluent-bit/Chart.lock
  argocd-helm-charts/fluent-bit/Chart.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/Chart.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/ci/ci-values.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update gitlab-runner
  CHANGELOG.md
  argocd-helm-charts/gitlab-runner/Chart.lock
  argocd-helm-charts/gitlab-runner/Chart.yaml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/.gitlab-ci.yml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/CHANGELOG.md
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/CONTRIBUTING.md
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/Chart.yaml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/LICENSE
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/templates/configmap.yaml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/templates/ingress-session-server.yaml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update keycloakx
  CHANGELOG.md
  argocd-helm-charts/keycloakx/Chart.lock
  argocd-helm-charts/keycloakx/Chart.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/.bumpversion.cfg
  argocd-helm-charts/keycloakx/charts/keycloakx/Chart.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/README.md
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/_helpers.tpl
Due: helm:check_diff

[CI] Helm Chart Update oncall
  CHANGELOG.md
  argocd-helm-charts/oncall/Chart.lock
  argocd-helm-charts/oncall/Chart.yaml
  argocd-helm-charts/oncall/charts/oncall/Chart.lock
  argocd-helm-charts/oncall/charts/oncall/Chart.yaml
  argocd-helm-charts/oncall/charts/oncall/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update openobserve
  CHANGELOG.md
  argocd-helm-charts/openobserve/Chart.lock
  argocd-helm-charts/openobserve/Chart.yaml
  argocd-helm-charts/openobserve/charts/openobserve-standalone/Chart.yaml
  argocd-helm-charts/openobserve/charts/openobserve-standalone/values.yaml
  argocd-helm-charts/openobserve/charts/openobserve/Chart.yaml
  argocd-helm-charts/openobserve/charts/openobserve/templates/alertmanager-deployment.yaml
  argocd-helm-charts/openobserve/charts/openobserve/templates/alertmanager-service.yaml
  argocd-helm-charts/openobserve/charts/openobserve/templates/configmap.yaml
  argocd-helm-charts/openobserve/charts/openobserve/templates/reportserver-configmap.yaml
  argocd-helm-charts/openobserve/charts/openobserve/templates/reportserver-delpoyment.yaml
  argocd-helm-charts/openobserve/charts/openobserve/templates/reportserver-hpa.yaml
  argocd-helm-charts/openobserve/charts/openobserve/templates/reportserver-service.yaml
  argocd-helm-charts/openobserve/charts/openobserve/templates/secret.yaml
  argocd-helm-charts/openobserve/charts/openobserve/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update opensearch
  CHANGELOG.md
  argocd-helm-charts/opensearch/Chart.lock
  argocd-helm-charts/opensearch/Chart.yaml
  argocd-helm-charts/opensearch/charts/opensearch/CHANGELOG.md
  argocd-helm-charts/opensearch/charts/opensearch/Chart.yaml
  argocd-helm-charts/opensearch/charts/opensearch/ci/ci-ingress-class-name-values.yaml
  argocd-helm-charts/opensearch/charts/opensearch/ci/ci-rbac-enabled-values.yaml
  argocd-helm-charts/opensearch/charts/opensearch/ci/ci-values.yaml
  argocd-helm-charts/opensearch/charts/opensearch/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update reloader
  CHANGELOG.md
  argocd-helm-charts/reloader/Chart.yaml
  argocd-helm-charts/reloader/charts/reloader/Chart.yaml
  argocd-helm-charts/reloader/charts/reloader/templates/clusterrole.yaml
  argocd-helm-charts/reloader/charts/reloader/templates/deployment.yaml
  argocd-helm-charts/reloader/charts/reloader/values.yaml
  argocd-helm-charts/reloader/requirements.lock
Due: helm:check_diff

[CI] Helm Chart Update rook-ceph
  CHANGELOG.md
  argocd-helm-charts/rook-ceph/Chart.lock
  argocd-helm-charts/rook-ceph/Chart.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph-cluster/Chart.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph-cluster/templates/deployment.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph-cluster/values.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph/Chart.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph/templates/deployment.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update tigera-operator
  CHANGELOG.md
  argocd-helm-charts/tigera-operator/Chart.lock
  argocd-helm-charts/tigera-operator/Chart.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/Chart.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/crds/calico/crd.projectcalico.org_felixconfigurations.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/templates/tigera-operator/00-uninstall.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/values.yaml
Due: helm:check_diff

Update to new tag for Kubeaid
  CHANGELOG.md
Due: none

remove script artifact
  CHANGELOG.md
Due: none

(add) : postgresql, redis, and gitea configurations https://gitea.obmondo.com/EnableIT/opsmondo/issues/261
  argocd-helm-charts/gitea/templates/postgresql.yaml
  argocd-helm-charts/gitea/templates/redis-cluster.yaml
  argocd-helm-charts/gitea/values.yaml
Due: helm:check_diff

feat: mdraid monitoring
  argocd-helm-charts/prometheus-linuxaid/rules/mdraid.yaml
  build/kube-prometheus/mixins/mdraid/mixin.libsonnet
Due: helm:check_diff, git:push

add new rule monitor::raid::mdraid::failed, update epr of monitor::raid::mdraid::degraded, and add tests
  argocd-helm-charts/prometheus-linuxaid/rules/mdraid.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/mdraid.yaml
Due: helm:check_diff

add mdraid mixin in kube prometheus
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/mixins/mdraid/mixin.libsonnet
Due: git:push

fix: expr for mdraid promql rule
  build/kube-prometheus/mixins/mdraid/mixin.libsonnet
Due: git:push

Fix the spelling mistake
  argocd-helm-charts/prometheus-linuxaid/rules/domain.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/domain.yaml
Due: helm:check_diff

add missing prometheus rule in mixins
  build/kube-prometheus/mixins/argo-cd/prometheus.yaml
  build/kube-prometheus/mixins/kube-version/prometheus.yaml
  build/kube-prometheus/mixins/mdraid/prometheus.yaml
  build/kube-prometheus/mixins/memory/prometheus.yaml
  build/kube-prometheus/mixins/monitoring/prometheus.yaml
  build/kube-prometheus/mixins/smartmon/prometheus.yaml
  build/kube-prometheus/mixins/velero/prometheus.yaml
  build/kube-prometheus/mixins/zfs/prometheus.yaml
Due: git:push

add ci promtool checks for kube-prometheus mixins
  .gitea/workflows/promtool.yaml
  build/kube-prometheus/README.md
Due: git:push

fix: changed the promtool check format in gitea workflow
  .gitea/workflows/promtool.yaml
Due: none

chore: added opencost-mixin and mixin-utils v0.14.0 for kube-prom
  build/kube-prometheus/libraries/v0.14.0/jsonnetfile.json
  build/kube-prometheus/libraries/v0.14.0/jsonnetfile.lock.json
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/.github/workflows/ci.yml
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/.gitignore
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/.lint
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/LICENSE
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/Makefile
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/README.md
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/alerts/alerts.libsonnet
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/config.libsonnet
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/dashboards/dashboards.libsonnet
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/dashboards/opencost-namespace.libsonnet
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/dashboards/opencost-overview.libsonnet
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/dashboards_out/opencost-mixin-namespace.json
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/dashboards_out/opencost-mixin-overview.json
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/jsonnetfile.json
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/lib/alerts.jsonnet
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/lib/dashboards.jsonnet
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/mixin.libsonnet
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/prometheus_alerts.yaml
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/scripts/go.mod
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/scripts/go.sum
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/scripts/tools.go
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/adinhodovic/opencost-mixin/tests.yaml
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/grafana/jsonnet-libs/mixin-utils/test/.gitignore
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/grafana/jsonnet-libs/mixin-utils/test/Makefile
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/grafana/jsonnet-libs/mixin-utils/test/jsonnetfile.json
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/grafana/jsonnet-libs/mixin-utils/test/test_native-classic-histogram.libsonnet
  build/kube-prometheus/libraries/v0.14.0/vendor/github.com/grafana/jsonnet-libs/mixin-utils/utils.libsonnet
  build/kube-prometheus/libraries/v0.14.0/vendor/mixin-utils
  build/kube-prometheus/libraries/v0.14.0/vendor/opencost-mixin
Due: git:push

doc: fix for adding new mixins
  build/kube-prometheus/README.md
Due: git:push

chore: added mixin-utils needed for grafonnet
  build/kube-prometheus/build.sh
Due: git:push

feat: build dashboard for all the mixins kubeaid supports
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
