Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:helm
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:1644571507
  script:
  - ./bin/gitlab-build-and-create-mr.sh

feat: Add monitoring of these extra namespace
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Add Prometheus monitoring to ArgoCD
  argocd-helm-charts/argo-cd/values.yaml
Due: helm:check_diff

Fix helm command to read from stdin instead of file
  terragrunt/Readme.md
Due: none

bug: removed plain text which cause causing connectivity issue when port forwarding
  terraform/helm/argocd.tf
  terraform/helm/outputs.tf
  terraform/helm/providers.tf
Due: none

bug: create the argocd namespace before applying secret, since we need secret to be present before installing argocd helm chart
  terraform/helm/argocd.tf
  terraform/helm/providers.tf
Due: none

[CI] Helm Chart Update teleport-kube-agent
  argocd-helm-charts/teleport-kube-agent/Chart.lock
  argocd-helm-charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/README.md
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/templates/config.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/templates/deployment.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/templates/statefulset.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/README.md
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/clusterrole_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/clusterrolebinding_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/config_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/deployment_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/pdb_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/psp_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/secret_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/serviceaccount_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/statefulset_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/clusterrole_test.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/clusterrolebinding_test.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/config_test.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/deployment_test.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/pdb_test.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/psp_test.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/secret_test.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/serviceaccount_test.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/statefulset_test.yaml
  argocd-helm-charts/teleport-kube-agent/values.yaml
Due: helm:check_diff

bug: fixed values file for teleport cluster
  argocd-helm-charts/teleport-cluster/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update teleport-cluster
  argocd-helm-charts/teleport-cluster/Chart.lock
  argocd-helm-charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/README.md
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/README.md
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/certificate_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/clusterrole_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/clusterrolebinding_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/config_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/deployment_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/pdb_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/psp_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/pvc_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/service_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/serviceaccount_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/certificate_test.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/clusterrole_test.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/clusterrolebinding_test.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/config_test.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/deployment_test.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/pdb_test.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/psp_test.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/pvc_test.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/service_test.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/serviceaccount_test.yaml
Due: helm:check_diff

bug: fixed the branch name, So its unique everytime and fixed the typo error for git push options
  bin/helm-repo-update.sh
Due: none

[CI] Helm Chart Update aws-ebs-csi-driver
  argocd-helm-charts/aws-ebs-csi-driver/Chart.lock
  argocd-helm-charts/aws-ebs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/CHANGELOG.md
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/controller.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/node.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/serviceaccount-csi-controller.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update cert-manager
  argocd-helm-charts/cert-manager/Chart.lock
  argocd-helm-charts/cert-manager/Chart.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/Chart.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/README.md
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/_helpers.tpl
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/cainjector-deployment.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/cainjector-psp-clusterrolebinding.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/cainjector-rbac.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/cainjector-serviceaccount.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/crds.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/deployment.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/psp-clusterrolebinding.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/rbac.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/service.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/serviceaccount.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/servicemonitor.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/startupapicheck-job.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/startupapicheck-psp-clusterrolebinding.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/startupapicheck-rbac.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/startupapicheck-serviceaccount.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-config.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-deployment.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-psp-clusterrolebinding.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-rbac.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-service.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-serviceaccount.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-validating-webhook.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update cluster-autoscaler
  argocd-helm-charts/cluster-autoscaler/Chart.lock
  argocd-helm-charts/cluster-autoscaler/Chart.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/README.md
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/templates/deployment.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update dokuwiki
  argocd-helm-charts/dokuwiki/Chart.lock
  argocd-helm-charts/dokuwiki/Chart.yaml
  argocd-helm-charts/dokuwiki/charts/dokuwiki/Chart.lock
  argocd-helm-charts/dokuwiki/charts/dokuwiki/Chart.yaml
  argocd-helm-charts/dokuwiki/charts/dokuwiki/README.md
  argocd-helm-charts/dokuwiki/charts/dokuwiki/charts/common/Chart.yaml
  argocd-helm-charts/dokuwiki/charts/dokuwiki/charts/common/README.md
  argocd-helm-charts/dokuwiki/charts/dokuwiki/charts/common/templates/_affinities.tpl
  argocd-helm-charts/dokuwiki/charts/dokuwiki/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update external-dns
  argocd-helm-charts/external-dns/Chart.lock
  argocd-helm-charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/Chart.lock
  argocd-helm-charts/external-dns/charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/README.md
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/README.md
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/_affinities.tpl
  argocd-helm-charts/external-dns/charts/external-dns/templates/serviceaccount.yaml
  argocd-helm-charts/external-dns/charts/external-dns/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update gitlab-runner
  argocd-helm-charts/gitlab-runner/Chart.lock
  argocd-helm-charts/gitlab-runner/Chart.yaml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/CHANGELOG.md
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/Chart.yaml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update keycloak
  argocd-helm-charts/keycloak/Chart.lock
  argocd-helm-charts/keycloak/Chart.yaml
  argocd-helm-charts/keycloak/charts/keycloak/.bumpversion.cfg
  argocd-helm-charts/keycloak/charts/keycloak/Chart.yaml
  argocd-helm-charts/keycloak/charts/keycloak/templates/_helpers.tpl
  argocd-helm-charts/keycloak/charts/keycloak/values.schema.json
Due: helm:check_diff

[CI] Helm Chart Update keycloakx
  argocd-helm-charts/keycloakx/Chart.lock
  argocd-helm-charts/keycloakx/Chart.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/.bumpversion.cfg
  argocd-helm-charts/keycloakx/charts/keycloakx/Chart.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/README.md
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/_helpers.tpl
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/configmap-startup.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/database-secret.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/hpa.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/ingress.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/networkpolicy.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/poddisruptionbudget.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/prometheusrule.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/rbac.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/route.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/secrets.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/service-headless.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/service-http.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/serviceaccount.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/servicemonitor.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/statefulset.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/test/configmap-test.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/test/pod-test.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/values.schema.json
  argocd-helm-charts/keycloakx/charts/keycloakx/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update kubernetes-dashboard
  argocd-helm-charts/kubernetes-dashboard/Chart.lock
  argocd-helm-charts/kubernetes-dashboard/Chart.yaml
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/Chart.yaml
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update mattermost-team-edition
  argocd-helm-charts/mattermost-team-edition/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.lock
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/values.yaml
  argocd-helm-charts/mattermost-team-edition/requirements.lock
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
