Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

[#12787] Kilroy gatekeeper
  argocd-helm-charts/argo-cd/values.yaml
  argocd-helm-charts/gatekeeper/templates/K8sRequiredResources.yaml
  argocd-helm-charts/gatekeeper/values.yaml
Due: helm:check_diff

[#13531] fix image repo clusterautoscaler
  argocd-helm-charts/cluster-autoscaler/values.yaml
Due: helm:check_diff

[#13482] Add backup steps
  argocd-helm-charts/rabbitmq-operator/README.md
Due: helm:check_diff

[#13506] Implement MongoDB backup for Graylog using AWS S3 and Azure Storage Blob.
  argocd-helm-charts/graylog/templates/mongodb-backup.yaml
Due: helm:check_diff

Updated reloader helm chart v1.0.35
  argocd-helm-charts/reloader/Chart.yaml
  argocd-helm-charts/reloader/charts/reloader/Chart.yaml
  argocd-helm-charts/reloader/charts/reloader/templates/clusterrole.yaml
  argocd-helm-charts/reloader/charts/reloader/templates/clusterrolebinding.yaml
  argocd-helm-charts/reloader/charts/reloader/templates/deployment.yaml
  argocd-helm-charts/reloader/charts/reloader/templates/networkpolicy.yaml
  argocd-helm-charts/reloader/charts/reloader/tests/deployment_test.yaml
  argocd-helm-charts/reloader/charts/reloader/values.yaml
  argocd-helm-charts/reloader/requirements.lock
Due: helm:check_diff

[#13595] obmondo-k8s-agent pod should be reloaded when secret changes and fixed the reloader values file
  argocd-helm-charts/obmondo-k8s-agent/templates/deployment.yaml
  argocd-helm-charts/reloader/values.yaml
Due: helm:check_diff

disable node count check on k8s for now and enable it when we finished gitea EnableIT/internal/issues/21
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Add build-all option to build for differnet kube-prometheus versions
  build/kube-prometheus/build.sh
Due: git:push

[#13602] Updated aws-ebs-csi-driver helm chart to 2.21.0
  argocd-helm-charts/aws-ebs-csi-driver/Chart.lock
  argocd-helm-charts/aws-ebs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/CHANGELOG.md
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/clusterrole-provisioner.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/controller.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/node.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/role-leases.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/rolebinding-leases.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/serviceaccount-csi-controller.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/serviceaccount-csi-node.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/values.yaml
Due: helm:check_diff

Updated the kube2iam helm chart and using the default image.tag that comes from helm chart
  argocd-helm-charts/kube2iam/charts/kube2iam/Chart.yaml
  argocd-helm-charts/kube2iam/charts/kube2iam/README.md
  argocd-helm-charts/kube2iam/charts/kube2iam/templates/daemonset.yaml
  argocd-helm-charts/kube2iam/charts/kube2iam/values.yaml
  argocd-helm-charts/kube2iam/values.yaml
Due: helm:check_diff

Added OIDC support in k8s cluster for azure
  terraform/azure/aks/aks.tf
  terraform/azure/aks/variables-aks.tf
Due: none

Enable mongodb backup for graylog on aws s3 bucket
  argocd-helm-charts/graylog/templates/mongodb-backup.yaml
Due: helm:check_diff

[#13613] Add route table support
  terraform/azure/routes/routes.tf
  terraform/azure/routes/variables.tf
  terragrunt/aks/routes/terragrunt.hcl
Due: none

remove cpu limit & increase requests to 500m
  argocd-helm-charts/oncall/templates/postgresql.yaml
  argocd-helm-charts/oncall/values.yaml
Due: helm:check_diff

update the cpu limit for oncall postgresql
  argocd-helm-charts/oncall/templates/postgresql.yaml
  argocd-helm-charts/oncall/values.yaml
Due: helm:check_diff

Minor Change
  argocd-helm-charts/oncall/values.yaml
Due: helm:check_diff
