Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

added prometheus test rule in prometheus-linuxaid helm chart
  argocd-helm-charts/prometheus-linuxaid/tests/backup.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/btrfs.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/cert_expiry.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/cpu.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/dellhw.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/disk_linear_predict.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/disk_mountpoint_readonly.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/disk_records.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/disk_usage_disabled.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/disk_usage_enabled.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/drbd.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/elasticsearch.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/file_size.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/haproxy_backend.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/haproxy_ddos.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/haproxy_error_rates.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/iptables.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/load.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/load_disabled.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/lsof_exporter.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/mdraid.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/monitoring_stack.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/node_count.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/ntp.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/opsmondo.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/prometheus.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/psi.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/puppet.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/ram_oom.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/ram_use.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/service_fwupd.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/service_gitlab.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/service_omsagent.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/service_sssd.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/services.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/smart.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/ssacli.yaml
Due: helm:check_diff

added prometheus in docker image and added a CI to test promtheus alert rules
  .gitea/Dockerfile
  .gitea/workflows/git-push.yaml
  .gitea/workflows/markdownlint.yaml
  .gitea/workflows/promtool.yaml
Due: none

yamllint fixes in config to ignore some dirs and lint fixes in test rules
  .yamllint
  argocd-helm-charts/prometheus-linuxaid/tests/cpu.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/disk_records.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/disk_usage_disabled.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/mdraid.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/prometheus.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/puppet.yaml
Due: helm:check_diff

updated the ci image tag for kubeaid job
  .gitea/workflows/kubeaid.yaml
  .gitea/workflows/promtool.yaml
Due: none

added ci image build workflow
  .gitea/workflows/container-image.yaml
Due: none

build kubeaid-ci image
  .gitea/workflows/container-image.yaml
Due: none

use image name that is coming from action variables and secrets
  .gitea/workflows/container-image.yaml
  .gitea/workflows/kubeaid.yaml
  .gitea/workflows/promtool.yaml
Due: none

bug fix: services blacklisted in puppet was not getting ignored, tweaked the prom alert rule
  argocd-helm-charts/prometheus-linuxaid/rules/services.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/services.yaml
Due: helm:check_diff

bug fix: alert only when puppet agent has not ran for last 1 full day, in last 24 hours.
  argocd-helm-charts/prometheus-linuxaid/rules/puppet.yaml
Due: helm:check_diff

added default aws netpol for cluster-autoscaler
  argocd-helm-charts/cluster-autoscaler/templates/netpol-aws-default.yaml
Due: helm:check_diff

updated mattermost team edition helm chart
  argocd-helm-charts/mattermost-team-edition/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.lock
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/values.yaml
  argocd-helm-charts/mattermost-team-edition/requirements.lock
Due: helm:check_diff

Adding mattermost upgrade wiki
  argocd-helm-charts/mattermost-team-edition/README.md
Due: helm:check_diff

added empty values files for puppetserver
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

added postgresql template
  argocd-helm-charts/puppetserver/templates/postgresql.yaml
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

added postgresql auth
  argocd-helm-charts/puppetserver/templates/postgresql.yaml
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

added fullnameoverride
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

removed backup settings
  argocd-helm-charts/puppetserver/templates/postgresql.yaml
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

Fix var for kube-rbac-proxy resources
  build/kube-prometheus/common-template.jsonnet
Due: git:push

updated helm chart of harbor to 1.14.0
  argocd-helm-charts/harbor/Chart.lock
  argocd-helm-charts/harbor/Chart.yaml
  argocd-helm-charts/harbor/charts/harbor/Chart.yaml
  argocd-helm-charts/harbor/charts/harbor/README.md
  argocd-helm-charts/harbor/charts/harbor/templates/_helpers.tpl
  argocd-helm-charts/harbor/charts/harbor/templates/core/core-cm.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/core/core-dpl.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/core/core-secret.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/jobservice/jobservice-dpl.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/jobservice/jobservice-secrets.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/nginx/service.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/portal/service.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/registry/registry-dpl.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/registry/registry-secret.yaml
  argocd-helm-charts/harbor/charts/harbor/values.yaml
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
