Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

fix: add eno+ in the cilium extra args
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
Due: helm:check_diff

feat:add cilium network policy for argocd
  argocd-helm-charts/argo-cd/charts/kubeaid-addons
  argocd-helm-charts/kubeaid-addons/README.md
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-argocd.yaml
  argocd-helm-charts/kubeaid-addons/values.yaml
Due: helm:check_diff

Fix network configuration in CAPI KubeAdm for hetzner clusters.
  argocd-helm-charts/capi-cluster/templates/provider-hetzner.yaml
Due: helm:check_diff

feat(capi-cluster/hetzner): schema, deployment modes, examples and unit tests (#1449)
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HCloudMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerCluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmConfigTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/tests/README.md
  argocd-helm-charts/capi-cluster/charts/hetzner/tests/bare-metal-private_test.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/tests/bare-metal-public_test.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/tests/cluster-name-label_test.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/tests/hcloud-private_test.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/tests/hcloud-public_test.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/tests/hybrid-private-network_test.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/tests/hybrid-public-network_test.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/values.example.bare-metal.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/values.example.hcloud.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/values.example.hybrid.private-network.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/values.example.hybrid.public-network.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/values.schema.json
  argocd-helm-charts/capi-cluster/charts/hetzner/values.yaml
  argocd-helm-charts/capi-cluster/values.yaml
Due: helm:check_diff

Add velero exclude labels to prevent volume snapshots of mongo, alertmanager and postgres
  argocd-helm-charts/graylog/templates/mongodb.yaml
  argocd-helm-charts/kubeaid-addons/templates/postgresql-cluster.yaml
  build/kube-prometheus/common-template.jsonnet
Due: helm:check_diff, git:push

fix(kube-prometheus): allow kubeaid-agent to reach prometheus
  build/kube-prometheus/common-template.jsonnet
Due: git:push

feat(kube-prometheus): honor pinned kubeaid version from ArgoCD app
  .gitignore
  build/kube-prometheus/build.sh
Due: git:push

feat(prometheus-linuxaid): add OS security-support alert
  argocd-helm-charts/prometheus-linuxaid/rules/eol.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/eol.yaml
Due: helm:check_diff

fix(kube-prometheus): allow kubeaid-agent to reach alertmanager
  build/kube-prometheus/common-template.jsonnet
Due: git:push

chore(release): update CHANGELOG and Release Notes for Kubeaid 27.0.0
  .release-notes.md
  CHANGELOG.md
Due: none

docs: add installation video link to READMEs
  README.md
  docs/README.md
Due: none

fix(kubeaid-agent): split RBAC per file, add cluster-view + secret-reader, drop argocd-reader
  argocd-helm-charts/kubeaid-agent/templates/rbac-cluster-view.yaml
  argocd-helm-charts/kubeaid-agent/templates/rbac-secret-reader.yaml
Due: helm:check_diff

chore(release): update CHANGELOG and Release Notes for Kubeaid 27.0.1
  .release-notes.md
  CHANGELOG.md
Due: none

chore(gitea/postgresql-ha): switch chart to Soldevelo images
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/CHANGELOG.md
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/Chart.lock
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/Chart.yaml
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/README.md
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/.helmignore
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/CHANGELOG.md
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/Chart.yaml
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/README.md
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_affinities.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_capabilities.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_compatibility.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_errors.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_images.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_ingress.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_labels.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_names.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_resources.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_secrets.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_storage.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_tplvalues.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_utils.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/_warnings.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/validations/_cassandra.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/validations/_mariadb.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/validations/_mongodb.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/validations/_mysql.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/validations/_postgresql.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/validations/_redis.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/templates/validations/_validations.tpl
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common-chart/values.yaml
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common/Chart.yaml
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/charts/common/values.yaml
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/templates/postgresql/scripts-configmap.yaml
  argocd-helm-charts/gitea/charts/gitea/charts/postgresql-ha/values.yaml
Due: helm:check_diff

Fix: modified VeleroNoFirstSuccessfulBackup alert rule to stop throwing false positive alerts
  build/kube-prometheus/mixins/velero/mixin.libsonnet
  build/kube-prometheus/mixins/velero/prometheus.yaml
  build/kube-prometheus/mixins/velero/tests.yaml
Due: git:push

Migrate mongodb and its backup to kubeaid-addons helm chart
  argocd-helm-charts/graylog/charts/kubeaid-addons
  argocd-helm-charts/graylog/templates/mongodb.yaml
  argocd-helm-charts/graylog/values.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/Chart.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb-backup-cronjob.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb-role.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb-rolebinding.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb-serviceaccount.yaml
  argocd-helm-charts/kubeaid-addons/charts/mongodb/templates/mongodb.yaml
  argocd-helm-charts/kubeaid-addons/values.yaml
Due: helm:check_diff

Fix network configuration in CAPI KubeAdm for hetzner clusters.
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/values.schema.json
  argocd-helm-charts/capi-cluster/charts/hetzner/values.yaml
  argocd-helm-charts/capi-cluster/templates/provider-hetzner.yaml
  argocd-helm-charts/ccm-hcloud/values.yaml
Due: helm:check_diff

fix(argocd-alerts): join on (name, project) so alerts only fire for kubeaid project apps
  build/kube-prometheus/mixins/argo-cd/mixin.libsonnet
  build/kube-prometheus/mixins/argo-cd/prometheus.yaml
Due: git:push

feat(kubeaid-addons): add blackbox probe template
  argocd-helm-charts/kubeaid-addons/templates/blackbox-probes.yaml
  argocd-helm-charts/kubeaid-addons/values.yaml
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/e2e/vars/v0.16.0/kubeadm-with-blackbox-probes.jsonnet
  build/kube-prometheus/e2e/vars/v0.17.0/kubeadm-with-blackbox-probes.jsonnet
Due: helm:check_diff, git:push

Added Alert Rule for Unused Bounded PVCs
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/lib/default_vars.libsonnet
  build/kube-prometheus/mixins/orphan-pvc/mixin.libsonnet
  build/kube-prometheus/mixins/orphan-pvc/prometheus.yaml
Due: git:push

fix(kube-prometheus): avoid double mixin name prefix in grafana dashboard keys
  build/kube-prometheus/common-template.jsonnet
Due: git:push

fix(cert-manager): use http01.solvers.ingress.ingressClassName field name
  argocd-helm-charts/cert-manager/templates/clusterissuer.yaml
Due: helm:check_diff

fix: remove 4xx code alert traefik
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/lib/default_vars.libsonnet
  build/kube-prometheus/mixins/traefik/mixin.libsonnet
  build/kube-prometheus/mixins/traefik/prometheus.yaml
  build/kube-prometheus/mixins/traefik/tests.yaml
Due: git:push

feat: netpol for keycloak and some related fixes
  argocd-helm-charts/keycloakx/values.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/netorkpolicy-cnpg-pgsql.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-keycloak.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-postgresql-logical-backup.yaml
  argocd-helm-charts/kubeaid-addons/templates/networkpolicy-default-deny.yaml
  argocd-helm-charts/kubeaid-addons/templates/postgresql-cluster.yaml
  argocd-helm-charts/kubeaid-addons/templates/postgresql-logical-backup.yaml
  argocd-helm-charts/kubeaid-addons/templates/postgresql-podMonitor.yaml
Due: helm:check_diff

Added the values for version checker
  argocd-helm-charts/trivy-operator/README.md
  argocd-helm-charts/trivy-operator/templates/NOTES.txt
  argocd-helm-charts/trivy-operator/templates/prometheusrule.yaml
  argocd-helm-charts/version-checker/values.yaml
Due: helm:check_diff

chore(kubeaid-agent): drop dead kubeaidConfig from helm chart
  argocd-helm-charts/kubeaid-agent/templates/deployment.yaml
  argocd-helm-charts/kubeaid-agent/values.yaml
Due: helm:check_diff

feat(kubeaid-agent): add kubeaidUpdate.checkInterval values default
  argocd-helm-charts/kubeaid-agent/values.yaml
Due: helm:check_diff

feat(hcloud): implement CCM configuration and make LB private
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerCluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmConfig.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmConfigTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/values.schema.json
  argocd-helm-charts/capi-cluster/charts/hetzner/values.yaml
Due: helm:check_diff

Use correct cluster issuer
  argocd-helm-charts/oncall/values.yaml
Due: helm:check_diff

feat(hetzner): apiServer.certSANs for control-plane endpoint
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/values.schema.json
Due: helm:check_diff

docs(netbird): document Keycloak realm prerequisites for external mode
  argocd-helm-charts/netbird/README.md
Due: helm:check_diff

harbor kubeaid-addons policy
  argocd-helm-charts/kubeaid-addons/README.md
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-cnpg-pgsql.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-harbor.yaml
  argocd-helm-charts/kubeaid-addons/charts/network-policies/templates/networkpolicy-keycloak.yaml
  argocd-helm-charts/kubeaid-addons/templates/postgresql-podMonitor.yaml
  argocd-helm-charts/kubeaid-addons/values.yaml
Due: helm:check_diff

fix: let pgsql instance come from cnpg operator instead of hardcoding values
  argocd-helm-charts/kubeaid-addons/templates/postgresql-cluster.yaml
Due: helm:check_diff

feat: inject product and certname labels into alerts in prometheus-linuxaid
  argocd-helm-charts/prometheus-linuxaid/Readme.md
  argocd-helm-charts/prometheus-linuxaid/templates/prometheus.yaml
  argocd-helm-charts/prometheus-linuxaid/values.yaml
Due: helm:check_diff

fix: fixing prom query
  argocd-helm-charts/prometheus-linuxaid/tests/cert_expiry.yaml
  build/kube-prometheus/mixins/kube-version/prometheus.yaml
Due: helm:check_diff, git:push

feat: use subscribed certname for alert validation in prometheus-linuxaid
  argocd-helm-charts/prometheus-linuxaid/Readme.md
  argocd-helm-charts/prometheus-linuxaid/templates/prometheus.yaml
  argocd-helm-charts/prometheus-linuxaid/values.yaml
Due: helm:check_diff

remove redundant blackbox probes in charts.
  argocd-helm-charts/argo-cd/templates/probe-blackbox.yaml
  argocd-helm-charts/keycloakx/templates/blackbox-probe.yaml
  argocd-helm-charts/keycloakx/values.yaml
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
