Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:helm
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - "argocd-helm-charts/**/*"

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:1644571507
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-chart argo-cd

[CI] Helm Chart Update metallb
  argocd-helm-charts/metallb/Chart.lock
  argocd-helm-charts/metallb/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/Chart.lock
  argocd-helm-charts/metallb/charts/metallb/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/README.md
  argocd-helm-charts/metallb/charts/metallb/charts/common/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/charts/common/README.md
  argocd-helm-charts/metallb/charts/metallb/charts/common/templates/_affinities.tpl
  argocd-helm-charts/metallb/charts/metallb/templates/NOTES.txt
  argocd-helm-charts/metallb/charts/metallb/templates/controller/crds.yaml
  argocd-helm-charts/metallb/charts/metallb/templates/controller/deployment.yaml
  argocd-helm-charts/metallb/charts/metallb/templates/controller/rbac.yaml
  argocd-helm-charts/metallb/charts/metallb/templates/controller/webhooks.yaml
  argocd-helm-charts/metallb/charts/metallb/templates/speaker/daemonset.yaml
  argocd-helm-charts/metallb/charts/metallb/templates/speaker/rbac.yaml
  argocd-helm-charts/metallb/charts/metallb/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update oncall
  argocd-helm-charts/oncall/Chart.lock
  argocd-helm-charts/oncall/Chart.yaml
  argocd-helm-charts/oncall/charts/oncall/Chart.lock
  argocd-helm-charts/oncall/charts/oncall/Chart.yaml
  argocd-helm-charts/oncall/charts/oncall/README.md
  argocd-helm-charts/oncall/charts/oncall/templates/_env.tpl
  argocd-helm-charts/oncall/charts/oncall/templates/engine/service-external.yaml
  argocd-helm-charts/oncall/charts/oncall/templates/ingress-regular.yaml
  argocd-helm-charts/oncall/charts/oncall/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update opensearch
  argocd-helm-charts/opensearch/Chart.lock
  argocd-helm-charts/opensearch/Chart.yaml
  argocd-helm-charts/opensearch/charts/opensearch/CHANGELOG.md
  argocd-helm-charts/opensearch/charts/opensearch/Chart.yaml
Due: helm:check_diff

[CI] Helm Chart Update opensearch-dashboards
  argocd-helm-charts/opensearch-dashboards/Chart.lock
  argocd-helm-charts/opensearch-dashboards/Chart.yaml
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/CHANGELOG.md
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/Chart.yaml
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/README.md
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/templates/configmap.yaml
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/templates/ingress.yaml
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update prometheus-adapter
  argocd-helm-charts/prometheus-adapter/Chart.lock
  argocd-helm-charts/prometheus-adapter/Chart.yaml
  argocd-helm-charts/prometheus-adapter/charts/prometheus-adapter/Chart.yaml
  argocd-helm-charts/prometheus-adapter/charts/prometheus-adapter/values.yaml
Due: helm:check_diff

bug: fixed for connecting argocd and fixed the fqdn for k8s url
  terraform/azure/aks/output.tf
  terraform/helm/providers.tf
Due: none

feat: accept namespace from customer config as well and merge with the default list
  build/kube-prometheus/common-template.jsonnet
Due: git:push

bug: added a default value for prometheus_scrape_namespaces variable
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Added docs to setup hetzner server
  docs/hetzner/server-setup.md
Due: none

feat: add required env when using keycloak auth for grafana
  build/kube-prometheus/common-template.jsonnet
Due: git:push

feat: [#3202] added support for custom pvc size and storageclass name support and ingress annotations for grafana
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/lib/utils.libsonnet
Due: git:push

removed extra namespace which might not be present on all clusters
  build/kube-prometheus/common-template.jsonnet
Due: git:push

bug: fixed the env value can only be string or null, bools are not accepted
  build/kube-prometheus/common-template.jsonnet
Due: git:push

[issue #6349 #2384] : Add monitoring to obmondo-k8s-agent
  argocd-helm-charts/obmondo-k8s-agent/templates/deployment.yaml
  argocd-helm-charts/obmondo-k8s-agent/templates/networkpolicy.yaml
  argocd-helm-charts/obmondo-k8s-agent/templates/service.yaml
  argocd-helm-charts/obmondo-k8s-agent/templates/servicemonitor.yaml
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

restore the secrets
  terraform/helm/sealed-secrets.tf
  terraform/helm/variables.tf
  terragrunt/Readme.md
Due: none

lint: adding support for multiple ACME solvers in cert-manager
  argocd-helm-charts/cert-manager/templates/issuer.yaml
  build/kube-prometheus/common-template.jsonnet
Due: helm:check_diff, git:push

lint
  argocd-helm-charts/sealed-secrets/README.md
Due: helm:check_diff

Add .README to helm folder
  terraform/helm/.README
Due: none
