Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

fix: the appversion and correct key to lookup to find the image.tag
  argocd-helm-charts/cve-dictionary/Chart.yaml
  argocd-helm-charts/cve-dictionary/templates/deployment.yaml
Due: helm:check_diff

feat: split the cronjob, so all the container does not get spawned on a single node
  argocd-helm-charts/vuls-dictionary/templates/_helpers.tpl
  argocd-helm-charts/vuls-dictionary/templates/cronjobs-cve.yaml
  argocd-helm-charts/vuls-dictionary/templates/cronjobs-oval.yaml
  argocd-helm-charts/vuls-dictionary/templates/deployment.yaml
  argocd-helm-charts/vuls-dictionary/values.yaml
Due: helm:check_diff

feat: added vuls-cve and oval db
  argocd-helm-charts/cve-dictionary/.helmignore
  argocd-helm-charts/cve-dictionary/Chart.yaml
  argocd-helm-charts/cve-dictionary/templates/NOTES.txt
  argocd-helm-charts/cve-dictionary/templates/_helpers.tpl
  argocd-helm-charts/cve-dictionary/templates/deployment.yaml
  argocd-helm-charts/cve-dictionary/templates/hpa.yaml
  argocd-helm-charts/cve-dictionary/templates/ingress.yaml
  argocd-helm-charts/cve-dictionary/templates/service.yaml
  argocd-helm-charts/cve-dictionary/templates/serviceaccount.yaml
  argocd-helm-charts/cve-dictionary/templates/tests/test-connection.yaml
  argocd-helm-charts/cve-dictionary/values.yaml
Due: helm:check_diff

chore: renamed from cve-dict to vuls-dict
  argocd-helm-charts/vuls-dictionary/.helmignore
  argocd-helm-charts/vuls-dictionary/Chart.yaml
  argocd-helm-charts/vuls-dictionary/templates/NOTES.txt
  argocd-helm-charts/vuls-dictionary/templates/_helpers.tpl
  argocd-helm-charts/vuls-dictionary/templates/deployment.yaml
  argocd-helm-charts/vuls-dictionary/templates/ingress.yaml
  argocd-helm-charts/vuls-dictionary/templates/service.yaml
  argocd-helm-charts/vuls-dictionary/templates/serviceaccount.yaml
  argocd-helm-charts/vuls-dictionary/values.yaml
Due: helm:check_diff

fix: deleted unwanted files from helm chart of cve-dictionary
  argocd-helm-charts/cve-dictionary/templates/hpa.yaml
  argocd-helm-charts/cve-dictionary/templates/tests/test-connection.yaml
Due: helm:check_diff

Migrating cnpg in mattermost and updating the logical backup templates.
  argocd-helm-charts/mattermost-team-edition/README.md
  argocd-helm-charts/mattermost-team-edition/templates/postgresql-logical-backup.yaml
  argocd-helm-charts/mattermost-team-edition/templates/postgresql.yaml
  argocd-helm-charts/mattermost-team-edition/values.yaml
Due: helm:check_diff

feat: allow user to give multiple storageclass via values file
  argocd-helm-charts/zfs-localpv/templates/storageclass.yaml
  argocd-helm-charts/zfs-localpv/values.yaml
Due: helm:check_diff

feat: added thinprovision and allowVolumeExpansion in zfs local pv
  argocd-helm-charts/zfs-localpv/templates/storageclass.yaml
Due: helm:check_diff

feat: handle optional values, cause we cant update the existing sc
  argocd-helm-charts/zfs-localpv/templates/storageclass.yaml
Due: helm:check_diff

wishlist of features for cnpg
  argocd-helm-charts/cloudnative-pg/wishlisth.md
Due: helm:check_diff

fix: limited the zfs SC options
  argocd-helm-charts/zfs-localpv/templates/storageclass.yaml
  argocd-helm-charts/zfs-localpv/values.yaml
Due: helm:check_diff

Add commit since 8.1.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

add postInitSQL key in puppetserver psql to add psql extensions required for puppet 8
  argocd-helm-charts/puppetserver/templates/postgresql.yaml
Due: helm:check_diff

use postInitApplicationSQL instead of postInitSQL in puppet psql to add extensions
  argocd-helm-charts/puppetserver/templates/postgresql.yaml
Due: helm:check_diff

feat(capi-cluster/aws) : accepting existing VPC ID from the user
  argocd-helm-charts/capi-cluster/charts/aws/templates/AWSCluster.yaml
  argocd-helm-charts/capi-cluster/charts/aws/values.yaml
Due: helm:check_diff

fix: changed the resources to have a decent load working with it
  argocd-helm-charts/rook-ceph/values.yaml
Due: helm:check_diff

Add commit since 9.0.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

fix kubeaid build script: remove unknown monitoring mixin
  build/kube-prometheus/common-template.jsonnet
Due: git:push

add nvme percentage used rule in smartmon
  argocd-helm-charts/prometheus-linuxaid/rules/smartmon.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/smartmon.yaml
  build/kube-prometheus/mixins/smartmon/mixin.libsonnet
  build/kube-prometheus/mixins/smartmon/prometheus.yaml
Due: helm:check_diff, git:push

[Fix] Install promtool v2.55.0
  .gitea/Dockerfile
Due: none

Add commit since 9.1.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

add guide on how to add keycloak to erpnext
  argocd-helm-charts/erpnext/charts/erpnext/README.md
Due: helm:check_diff

updates from my KubeAid fork
  argocd-helm-charts/capi-cluster/charts/aws/outputs.yaml
  argocd-helm-charts/capi-cluster/charts/aws/templates/AWSCluster.yaml
  argocd-helm-charts/capi-cluster/charts/aws/templates/AWSMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/aws/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/aws/templates/MachineDeployment.yaml
  argocd-helm-charts/capi-cluster/charts/aws/templates/_helpers.tpl
  argocd-helm-charts/capi-cluster/charts/aws/values.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/AzureCluster.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/AzureClusterIdentity.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/AzureManagedCluster.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/AzureManagedControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/cluster.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/kubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/azure/templates/selfMnagedCluster.yaml
  argocd-helm-charts/capi-cluster/charts/azure/values.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/Cluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HCloudMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HCloudRemediationTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerBareMetalHost.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerBareMetalMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerCluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmConfigTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/MachineDeployment.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/MachineHealthCheck.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/_helpers.tpl
  argocd-helm-charts/capi-cluster/charts/hetzner/values.yaml
  argocd-helm-charts/capi-cluster/examples/aws/cluster-autoscaler.yaml
  argocd-helm-charts/capi-cluster/examples/aws/machinepools.yaml
  argocd-helm-charts/capi-cluster/examples/hetzner/cloud.yaml
  argocd-helm-charts/capi-cluster/templates/provider-aws.yaml
  argocd-helm-charts/capi-cluster/templates/provider-hetzner.yaml
  argocd-helm-charts/capi-cluster/values.yaml
Due: helm:check_diff

fix(sealed-secrets) : using correct container image and service-account name
  argocd-helm-charts/capi-cluster/charts/aws/outputs.yaml
  argocd-helm-charts/sealed-secrets/templates/cronjob.yaml
  argocd-helm-charts/sealed-secrets/values.yaml
Due: helm:check_diff

feat(capi-cluster/aws) : added support to specify additional users, each with corresponding SSH public key | fixed scale from 0 support and node cordoning issue
  argocd-helm-charts/capi-cluster/charts/aws/templates/KubeadmConfig.yaml
  argocd-helm-charts/capi-cluster/charts/aws/templates/KubeadmConfigTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/aws/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/aws/templates/MachineDeployment.yaml
Due: helm:check_diff

(fix/hetzner-failover) : Adjust envs
  argocd-helm-charts/hetzner-robot/templates/deployment.yaml
  argocd-helm-charts/hetzner-robot/values.yaml
Due: helm:check_diff

(fix/capi-cluster) : default values file structure | using super-admin.conf as the kubeconfig file
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/values.yaml
Due: helm:check_diff

Add commit since 9.3.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

chore : updating part 1 of the KubeAid demonstration blog series for AWS
  docs/aws/capi/cluster.md
Due: none

chore(docs) : updating part 1 of the KubeAid demonstration blog series for AWS
  docs/aws/capi/cluster.md
Due: none

fix(blogs/capi/aws) : fixed a command
  docs/aws/capi/cluster.md
Due: none

fix: removed the default storage class, which is specific to enableit
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
