Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

[#13847] fix AKS OIDC terraform code
  terraform/azure/aks/aks.tf
  terraform/azure/aks/variables-aks.tf
Due: none

[#14] Support to use existing subnet
  terraform/azure/aks/aks.tf
  terraform/azure/aks/variables-aks.tf
Due: none

[#14] Support to use only existing subnet and removes default virtual networks
  terraform/azure/aks/aks.tf
  terraform/azure/aks/output.tf
  terraform/azure/aks/variables-aks.tf
  terraform/azure/peering/peering.tf
  terraform/azure/peering/variables.tf
Due: none

feat: added support to add custome grafana dashboard
  build/kube-prometheus/common-template.jsonnet
Due: git:push

fix: reverted to old velero alert.
  build/kube-prometheus/mixins/velero/mixin.libsonnet
Due: git:push

Fixed the peering code to include the existing vnet
  terraform/azure/aks/output.tf
  terraform/azure/peering/peering.tf
  terraform/azure/peering/variables.tf
Due: none

lint fixes
  terragrunt/aks/helm/terragrunt.hcl
  terragrunt/aks/peering/terragrunt.hcl
Due: none

Improve custom dashboard addition in Grafana
  build/kube-prometheus/README.md
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/examples/k8id_managed.jsonnet
Due: git:push

:no-diff fix: added gitea ci-bot role setup
  argocd-helm-charts/gitea-runner/templates/namespace.yaml
  argocd-helm-charts/gitea-runner/templates/role-binding.yaml
  argocd-helm-charts/gitea-runner/templates/role.yaml
  argocd-helm-charts/gitea-runner/templates/serviceaccount.yaml
  argocd-helm-charts/gitea-runner/values.yaml
Due: helm:check_diff

[#14](https://gitea.obmondo.com/EnableIT/qd2xcggwag/issues/14) fix peering to use existing subnet
  terraform/azure/peering/peering.tf
  terraform/azure/peering/variables.tf
Due: none

merge mock outputs with state in terragrunt
  terragrunt/aks/helm/terragrunt.hcl
  terragrunt/aks/peering/terragrunt.hcl
  terragrunt/aks/routes/terragrunt.hcl
Due: none

Fixed the peering terraform code for new setup
  terraform/azure/peering/peering.tf
Due: none

Make sure route table is created first before creating the routes
  terraform/azure/peering/peering.tf
  terraform/azure/peering/variables.tf
  terraform/azure/routes/routes.tf
Due: none

:no-diff fix: added secret for gitea-runner
  argocd-helm-charts/gitea-runner/templates/secret.yaml
  argocd-helm-charts/gitea-runner/templates/serviceaccount.yaml
Due: helm:check_diff

Added the functionality add peerings between vnets present in different subscription
  terraform/azure/peering/peering.tf
  terraform/azure/peering/variables.tf
Due: none

Added support to add root application and add argocd repositories
  terraform/helm/argocd-repositories.tf
  terraform/helm/variables.tf
Due: none

Added argocd provider
  terraform/azure/aks/providers.tf
  terraform/helm/providers.tf
Due: none

updated helm chart for mariadb-operator
  argocd-helm-charts/mariadb-operator/Chart.lock
  argocd-helm-charts/mariadb-operator/Chart.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/Chart.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/README.md
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/crds/crds.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/deployment.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/rbac.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/serviceaccount.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/webhook-config.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/webhook-deployment.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/webhook-service.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/webhook-serviceaccount.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/webhook-servicemonitor.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/values.yaml
Due: helm:check_diff

updated matomo helm chart
  argocd-helm-charts/matomo/Chart.lock
  argocd-helm-charts/matomo/Chart.yaml
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
