Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

[#13976] Increase the memroy limit for filebeat app
  argocd-helm-charts/filebeat/values.yaml
Due: helm:check_diff

Grafana Keycloak better support with a bug fix
  build/kube-prometheus/common-template.jsonnet
Due: git:push

bumped the tag of kube2iam to latest one
  argocd-helm-charts/kube2iam/values.yaml
Due: helm:check_diff

cloudnative-pg chart upgradation
  argocd-helm-charts/cloudnative-pg/Chart.lock
  argocd-helm-charts/cloudnative-pg/Chart.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/Chart.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/README.md
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/crds/crds.yaml
Due: helm:check_diff

[#13960] Revert velero alert
  build/kube-prometheus/mixins/velero/mixin.libsonnet
  build/kube-prometheus/mixins/velero/prometheus.yaml
Due: git:push

Update image version for obmondo-k8s-agent
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

[#14115] fix postgres-operator security context
  argocd-helm-charts/postgres-operator/values.yaml
Due: helm:check_diff

Update tag 6.1.9 -> 6.1.10
  argocd-helm-charts/errbot/values.yaml
Due: helm:check_diff

fix matomo sync issue
  argocd-helm-charts/matomo/templates/mariadb-grant.yaml
Due: helm:check_diff

[#14527] Add docs to integrate Keycloak with Grafana
  build/kube-prometheus/NOTES.md
Due: git:push

[#13973] Improve sonarqube docs
  argocd-helm-charts/sonarqube/README.md
Due: helm:check_diff

adding telegram template
  argocd-helm-charts/oncall/Readme.md
Due: helm:check_diff

[#14638] Upgrade reloader chart to v1.0.40
  argocd-helm-charts/reloader/Chart.yaml
  argocd-helm-charts/reloader/charts/reloader/Chart.yaml
  argocd-helm-charts/reloader/charts/reloader/templates/deployment.yaml
  argocd-helm-charts/reloader/charts/reloader/values.yaml
  argocd-helm-charts/reloader/requirements.lock
Due: helm:check_diff

fixing linting
  argocd-helm-charts/oncall/Readme.md
Due: helm:check_diff

[#14638] Reloader security context
  argocd-helm-charts/reloader/values.yaml
Due: helm:check_diff

[#14786] Update cluster-autoscaler chart
  argocd-helm-charts/cluster-autoscaler/Chart.lock
  argocd-helm-charts/cluster-autoscaler/Chart.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/README.md
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/README.md.gotmpl
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/templates/_helpers.tpl
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/templates/clusterrole.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/templates/deployment.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/templates/podsecuritypolicy.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/templates/role.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/templates/vpa.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/values.yaml
Due: helm:check_diff

[#13847]: Wiki for importing existing resources to statefile
  terragrunt/README.md
Due: none
