Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

add cloudnative-pg - initial add
  argocd-helm-charts/cloudnative-pg/Chart.lock
  argocd-helm-charts/cloudnative-pg/Chart.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/.helmignore
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/Chart.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/LICENSE
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/README.md
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/NOTES.txt
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/_helpers.tpl
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/config.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/crds/crds.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/deployment.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/monitoring-configmap.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/mutatingwebhookconfiguration.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/podmonitor.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/rbac.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/service.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/templates/validatingwebhookconfiguration.yaml
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/values.schema.json
  argocd-helm-charts/cloudnative-pg/charts/cloudnative-pg/values.yaml
Due: helm:check_diff

initial empty readme and values
  argocd-helm-charts/cloudnative-pg/readme.md
  argocd-helm-charts/cloudnative-pg/values.yaml
Due: helm:check_diff

enable monitoring by default
  argocd-helm-charts/cloudnative-pg/values.yaml
Due: helm:check_diff

#12008 add mixin for Go API metrics for node counts
  argocd-helm-charts/gitlab-runner/templates/role.yaml
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/mixins/node-count/mixin.libsonnet
  build/kube-prometheus/mixins/node-count/prometheus.yaml
Due: helm:check_diff, git:push

:no-diff. Add additional verbs to gitlab-runner's serviceMonitor apiGroup
  argocd-helm-charts/gitlab-runner/templates/role.yaml
Due: helm:check_diff

Upgrade velero chart
  argocd-helm-charts/velero/Chart.lock
  argocd-helm-charts/velero/Chart.yaml
  argocd-helm-charts/velero/charts/velero/Chart.yaml
  argocd-helm-charts/velero/charts/velero/OWNERS
  argocd-helm-charts/velero/charts/velero/README.md
  argocd-helm-charts/velero/charts/velero/ci/test-values.yaml
  argocd-helm-charts/velero/charts/velero/crds/backups.yaml
  argocd-helm-charts/velero/charts/velero/crds/downloadrequests.yaml
  argocd-helm-charts/velero/charts/velero/crds/resticrepositories.yaml
  argocd-helm-charts/velero/charts/velero/crds/restores.yaml
  argocd-helm-charts/velero/charts/velero/crds/schedules.yaml
  argocd-helm-charts/velero/charts/velero/credentials-velero
  argocd-helm-charts/velero/charts/velero/templates/NOTES.txt
  argocd-helm-charts/velero/charts/velero/templates/_helpers.tpl
  argocd-helm-charts/velero/charts/velero/templates/backupstoragelocation.yaml
  argocd-helm-charts/velero/charts/velero/templates/deployment.yaml
  argocd-helm-charts/velero/charts/velero/templates/node-agent-daemonset.yaml
  argocd-helm-charts/velero/charts/velero/templates/podmonitor.yaml
  argocd-helm-charts/velero/charts/velero/templates/restic-daemonset.yaml
  argocd-helm-charts/velero/charts/velero/templates/servicemonitor.yaml
  argocd-helm-charts/velero/charts/velero/templates/upgrade-crds.yaml
  argocd-helm-charts/velero/charts/velero/templates/volumesnapshotlocation.yaml
  argocd-helm-charts/velero/charts/velero/values.yaml
Due: helm:check_diff

fixed repo update script when no args is given
  bin/helm-repo-update.sh
Due: none

Added doc for scrape namespaces using kube-prometheus
  docs/prometheus_scrape_namespaces_using_kube-prometheus.md
Due: none

Fix errbot ingress and support additional labels
  argocd-helm-charts/errbot/templates/ingress.yaml
  argocd-helm-charts/errbot/templates/service.yaml
  argocd-helm-charts/errbot/templates/statefulset.yaml
  argocd-helm-charts/errbot/values.yaml
Due: helm:check_diff

Allow prometheus access to resources with k8id permission label
  argocd-helm-charts/errbot/values.yaml
  build/kube-prometheus/common-template.jsonnet
Due: helm:check_diff, git:push

Explicitly specify namespace in network policy allow rule
  build/kube-prometheus/common-template.jsonnet
Due: git:push

added loop to add helm repo for each url
  bin/helm-repo-update.sh
Due: none

add dependencies to helm repo list
  bin/helm-repo-update.sh
Due: none

to fix version issue
  bin/helm-repo-update.sh
Due: none

added support for multiple chart dependency
  bin/helm-repo-update.sh
Due: none

added logic comments
  bin/helm-repo-update.sh
Due: none

parsing yaml values using yq
  bin/helm-repo-update.sh
Due: none

fix lint errors
  bin/helm-repo-update.sh
Due: none

remove echo statement
  bin/helm-repo-update.sh
Due: none

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
