Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

[CI] Helm Chart Update opensearch-dashboards
  CHANGELOG.md
  argocd-helm-charts/opensearch-dashboards/Chart.lock
  argocd-helm-charts/opensearch-dashboards/Chart.yaml
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/CHANGELOG.md
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/Chart.yaml
Due: helm:check_diff

[CI] Helm Chart Update rabbitmq-operator
  CHANGELOG.md
  argocd-helm-charts/rabbitmq-operator/Chart.lock
  argocd-helm-charts/rabbitmq-operator/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/Chart.lock
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/README.md
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/templates/_compatibility.tpl
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update redmine
  CHANGELOG.md
  argocd-helm-charts/redmine/Chart.lock
  argocd-helm-charts/redmine/Chart.yaml
  argocd-helm-charts/redmine/charts/redmine/Chart.lock
  argocd-helm-charts/redmine/charts/redmine/Chart.yaml
  argocd-helm-charts/redmine/charts/redmine/README.md
Due: helm:check_diff

[CI] Helm Chart Update rook-ceph
  CHANGELOG.md
  argocd-helm-charts/rook-ceph/Chart.lock
  argocd-helm-charts/rook-ceph/Chart.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph-cluster/Chart.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph-cluster/values.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph/Chart.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph/templates/configmap.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph/templates/resources.yaml
  argocd-helm-charts/rook-ceph/charts/rook-ceph/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update sonarqube
  CHANGELOG.md
  argocd-helm-charts/sonarqube/Chart.lock
  argocd-helm-charts/sonarqube/Chart.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/CHANGELOG.md
  argocd-helm-charts/sonarqube/charts/sonarqube/Chart.lock
  argocd-helm-charts/sonarqube/charts/sonarqube/Chart.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/README.md
  argocd-helm-charts/sonarqube/charts/sonarqube/ci/cirrus-values.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/openshift-verifier/values.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/NOTES.txt
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/_helpers.tpl
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/_pod.tpl
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/change-admin-password-hook.yml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/deployment.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/http-route.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/ingress.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/init-fs.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/jdbc-config.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/networkpolicy.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/prometheus-podmonitor.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/route.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/secret.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/service.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/values.schema.json
  argocd-helm-charts/sonarqube/charts/sonarqube/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update traefik
  CHANGELOG.md
  argocd-helm-charts/traefik/Chart.lock
  argocd-helm-charts/traefik/Chart.yaml
  argocd-helm-charts/traefik/charts/traefik/Changelog.md
  argocd-helm-charts/traefik/charts/traefik/Chart.yaml
  argocd-helm-charts/traefik/charts/traefik/VALUES.md
  argocd-helm-charts/traefik/charts/traefik/templates/_podtemplate.tpl
  argocd-helm-charts/traefik/charts/traefik/templates/rbac/clusterrole.yaml
  argocd-helm-charts/traefik/charts/traefik/values.yaml
Due: helm:check_diff

Update to new tag for Kubeaid
  CHANGELOG.md
Due: none

Added a template for postgress pdb
  argocd-helm-charts/keycloakx/templates/postgresql-cnpg.yaml
Due: helm:check_diff

enable azure policy
  terraform/azure/aks/aks.tf
  terraform/azure/aks/variables-aks.tf
Due: none

Add support for storage blob network rules
  terraform/azure/aks/aks.tf
  terraform/azure/aks/variables-aks.tf
Due: none

add/renamed the references and links to kubeaid
  README.md
  argocd-helm-charts/argo-cd/Readme.md
  argocd-helm-charts/argo-cd/examples/basic_values.yaml
  argocd-helm-charts/cert-manager/bin/README.md
  argocd-helm-charts/cert-manager/examples/cert-manager.yaml
  argocd-helm-charts/cert-manager/readme.md
  argocd-helm-charts/k8id-custom-azure/Chart.yaml
  argocd-helm-charts/k8id-custom-azure/templates/storageclass.yaml
  argocd-helm-charts/keda/README.md
  argocd-helm-charts/keycloakx/README.md
  argocd-helm-charts/kube2iam/README.md
  argocd-helm-charts/obmondo-k8s-agent/Readme.md
  argocd-helm-charts/opensearch/README.md
  argocd-helm-charts/sealed-secrets/README.md
  argocd-helm-charts/snapshot-controller/Readme.md
  argocd-helm-charts/traefik-forward-auth/README.md
  argocd-helm-charts/traefik-forward-auth/examples/values.yaml
  bin/README.md
  bin/generate-puppet-hiera.sh
  build/kube-prometheus/NOTES.md
  build/kube-prometheus/README.md
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/examples/k8id_managed.jsonnet
  build/kube-prometheus/examples/kops.jsonnet
  build/velero-secret-gen/azure/main.go
  docs/Readme.md
  docs/aws/kops/cluster.md
  docs/aws/kops/samples/values.yaml
  docs/pod_autoscaling_prometheus_adapter.md
  docs/prometheus_scrape_namespaces_using_kube-prometheus.md
  docs/update_helm_chart.md
  terragrunt/README.md
  terragrunt/REFERENCE.md
Due: helm:check_diff, git:push

Make customerid optional in CAPI Cluster Helm values
  argocd-helm-charts/capi-cluster/templates/provider-aws.yaml
Due: helm:check_diff

Making CAPI Cluster App's default values file compatible with the optional customerid feature
  argocd-helm-charts/capi-cluster/values.yaml
Due: helm:check_diff

Add commit since 4.0.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

[CI] Helm Chart Update cert-manager
  CHANGELOG.md
  argocd-helm-charts/cert-manager/Chart.lock
  argocd-helm-charts/cert-manager/Chart.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/Chart.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/README.md
  argocd-helm-charts/cert-manager/charts/cert-manager/values.schema.json
  argocd-helm-charts/cert-manager/charts/cert-manager/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update cluster-api
  CHANGELOG.md
  argocd-helm-charts/cluster-api/Chart.lock
  argocd-helm-charts/cluster-api/Chart.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/Chart.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/templates/addon.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/templates/bootstrap.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/templates/control-plane.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/templates/core-conditions.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/templates/core.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/templates/deployment.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/templates/infra-conditions.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/templates/infra.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/templates/operator-components.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update k8s-event-logger
  CHANGELOG.md
  argocd-helm-charts/k8s-event-logger/Chart.lock
  argocd-helm-charts/k8s-event-logger/Chart.yaml
  argocd-helm-charts/k8s-event-logger/charts/k8s-event-logger/Chart.yaml
  argocd-helm-charts/k8s-event-logger/charts/k8s-event-logger/README.md
  argocd-helm-charts/k8s-event-logger/charts/k8s-event-logger/templates/deployment.yaml
  argocd-helm-charts/k8s-event-logger/charts/k8s-event-logger/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update kubernetes-dashboard
  CHANGELOG.md
  argocd-helm-charts/kubernetes-dashboard/Chart.lock
  argocd-helm-charts/kubernetes-dashboard/Chart.yaml
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/Chart.yaml
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/templates/_helpers.tpl
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update mariadb-operator
  CHANGELOG.md
  argocd-helm-charts/mariadb-operator/Chart.lock
  argocd-helm-charts/mariadb-operator/Chart.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/Chart.lock
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/Chart.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/README.md
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/charts/mariadb-operator-crds/Chart.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/charts/mariadb-operator-crds/templates/NOTES.txt
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/charts/mariadb-operator-crds/templates/crds.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/configmap.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/pdb.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/rbac-namespace.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/rbac.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update metrics-server
  CHANGELOG.md
  argocd-helm-charts/metrics-server/Chart.lock
  argocd-helm-charts/metrics-server/Chart.yaml
  argocd-helm-charts/metrics-server/charts/metrics-server/CHANGELOG.md
  argocd-helm-charts/metrics-server/charts/metrics-server/Chart.yaml
  argocd-helm-charts/metrics-server/charts/metrics-server/README.md
  argocd-helm-charts/metrics-server/charts/metrics-server/templates/deployment.yaml
  argocd-helm-charts/metrics-server/charts/metrics-server/templates/psp.yaml
  argocd-helm-charts/metrics-server/charts/metrics-server/templates/rolebinding-nanny.yaml
  argocd-helm-charts/metrics-server/charts/metrics-server/templates/service.yaml
  argocd-helm-charts/metrics-server/charts/metrics-server/templates/servicemonitor.yaml
  argocd-helm-charts/metrics-server/charts/metrics-server/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update oncall
  CHANGELOG.md
  argocd-helm-charts/oncall/Chart.lock
  argocd-helm-charts/oncall/Chart.yaml
  argocd-helm-charts/oncall/charts/oncall/Chart.lock
  argocd-helm-charts/oncall/charts/oncall/Chart.yaml
Due: helm:check_diff

[CI] Helm Chart Update traefik
  CHANGELOG.md
  argocd-helm-charts/traefik/Chart.lock
  argocd-helm-charts/traefik/Chart.yaml
  argocd-helm-charts/traefik/charts/traefik/Changelog.md
  argocd-helm-charts/traefik/charts/traefik/Chart.yaml
  argocd-helm-charts/traefik/charts/traefik/VALUES.md
  argocd-helm-charts/traefik/charts/traefik/values.schema.json
  argocd-helm-charts/traefik/charts/traefik/values.yaml
Due: helm:check_diff

Adding KubeAid demo blog (Part 1)
  docs/Readme.md
  docs/aws/capi/cluster.md
Due: none

Add commit since 4.1.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

[CI] Helm Chart Update argo-cd
  CHANGELOG.md
  argocd-helm-charts/argo-cd/Chart.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/Chart.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-server/clusterrole.yaml
  argocd-helm-charts/argo-cd/requirements.lock
Due: helm:check_diff

[CI] Helm Chart Update aws-ebs-csi-driver
  CHANGELOG.md
  argocd-helm-charts/aws-ebs-csi-driver/Chart.lock
  argocd-helm-charts/aws-ebs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/CHANGELOG.md
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/_helpers.tpl
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/_node-windows.tpl
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/_node.tpl
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/controller.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/poddisruptionbudget-controller.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/serviceaccount-csi-controller.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/tests/helm-tester.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update cilium
  CHANGELOG.md
  argocd-helm-charts/cilium/Chart.lock
  argocd-helm-charts/cilium/Chart.yaml
  argocd-helm-charts/cilium/charts/cilium/Chart.yaml
  argocd-helm-charts/cilium/charts/cilium/README.md
  argocd-helm-charts/cilium/charts/cilium/templates/_helpers.tpl
  argocd-helm-charts/cilium/charts/cilium/templates/cilium-operator/clusterrole.yaml
  argocd-helm-charts/cilium/charts/cilium/templates/hubble/tls-certmanager/metrics-server-secret.yaml
  argocd-helm-charts/cilium/charts/cilium/templates/hubble/tls-certmanager/relay-client-secret.yaml
  argocd-helm-charts/cilium/charts/cilium/templates/hubble/tls-certmanager/relay-server-secret.yaml
  argocd-helm-charts/cilium/charts/cilium/templates/hubble/tls-certmanager/server-secret.yaml
  argocd-helm-charts/cilium/charts/cilium/templates/hubble/tls-certmanager/ui-client-certs.yaml
  argocd-helm-charts/cilium/charts/cilium/templates/hubble/tls-cronjob/_job-spec.tpl
  argocd-helm-charts/cilium/charts/cilium/values.yaml
Due: helm:check_diff
