Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

docs: correct Hetzner hardware and pricing in cluster design and buying guide
  docs/cluster-design.md
  docs/guides/hetzner-server-buy-guides.md
Due: none

fix(buzz): wait for postgres and repair pre-0.2.0 schema on start
  argocd-helm-charts/buzz/README.md
  argocd-helm-charts/buzz/values.yaml
Due: helm:check_diff

fix(backup-exporter): stop alerting for apps that never enabled a backup type
  argocd-helm-charts/backup-exporter/Chart.yaml
  argocd-helm-charts/backup-exporter/templates/postgres-prometheusrule.yaml
  argocd-helm-charts/backup-exporter/templates/velero-prometheusrule.yaml
  argocd-helm-charts/backup-exporter/test/prometheusRuleTest.yaml
  argocd-helm-charts/backup-exporter/values.yaml
Due: helm:check_diff

fix(backup-exporter): stop alerting for apps that never enabled a backup type
  argocd-helm-charts/backup-exporter/Chart.yaml
  argocd-helm-charts/backup-exporter/templates/postgres-prometheusrule.yaml
  argocd-helm-charts/backup-exporter/templates/servicemonitor.yaml
  argocd-helm-charts/backup-exporter/templates/velero-prometheusrule.yaml
  argocd-helm-charts/backup-exporter/test/prometheusRuleTest.yaml
Due: helm:check_diff

fix(velero): match resourcePolicy skip labels to real PVC labels
  argocd-helm-charts/velero/Chart.yaml
  argocd-helm-charts/velero/values.yaml
Due: helm:check_diff

chore(minor update): Updated netbird-operator from version 0.7.0 to 0.8.0
  .helm_version_last_update
  argocd-helm-charts/netbird-operator/Chart.lock
  argocd-helm-charts/netbird-operator/Chart.yaml
  argocd-helm-charts/netbird-operator/charts/netbird-operator/Chart.yaml
  argocd-helm-charts/netbird-operator/charts/netbird-operator/crds/netbird.io_networkegresses.yaml
  argocd-helm-charts/netbird-operator/charts/netbird-operator/templates/rbac.yaml
Due: helm:check_diff

fix(openvox): use OnRootMismatch fsGroupChangePolicy for gfetch
  argocd-helm-charts/openvox/values.yaml
Due: helm:check_diff

feat(rustfs): add optional backup-cleanup CronJob template
  argocd-helm-charts/rustfs/Chart.yaml
  argocd-helm-charts/rustfs/templates/cronjob-backup-cleanup.yaml
  argocd-helm-charts/rustfs/values.yaml
Due: helm:check_diff

fix(rustfs): run backup-cleanup CronJob via the s3-backup-cleanup image
  argocd-helm-charts/rustfs/templates/cronjob-backup-cleanup.yaml
  argocd-helm-charts/rustfs/values.yaml
Due: helm:check_diff

feat(etcd-backup-recover): creating the Helm chart
  argocd-helm-charts/etcd-backup-restore/Chart.yaml
  argocd-helm-charts/etcd-backup-restore/templates/_helpers.tpl
  argocd-helm-charts/etcd-backup-restore/templates/etcd-backup-secret.yaml
  argocd-helm-charts/etcd-backup-restore/templates/etcd-ca-secret.yaml
  argocd-helm-charts/etcd-backup-restore/templates/etcd-client-service.yaml
  argocd-helm-charts/etcd-backup-restore/templates/etcd-client-tls-secret.yaml
  argocd-helm-charts/etcd-backup-restore/templates/etcd-configmap.yaml
  argocd-helm-charts/etcd-backup-restore/templates/etcd-peer-ca-secret.yaml
  argocd-helm-charts/etcd-backup-restore/templates/etcd-peer-server-tls-secret.yaml
  argocd-helm-charts/etcd-backup-restore/templates/etcd-peer-service.yaml
  argocd-helm-charts/etcd-backup-restore/templates/etcd-server-tls-secret.yaml
  argocd-helm-charts/etcd-backup-restore/templates/etcd-statefulset.yaml
  argocd-helm-charts/etcd-backup-restore/templates/etcdbr-ca-secret.yaml
  argocd-helm-charts/etcd-backup-restore/templates/etcdbr-client-tls-secret.yaml
  argocd-helm-charts/etcd-backup-restore/templates/etcdbr-server-tls-secret.yaml
  argocd-helm-charts/etcd-backup-restore/templates/serviceaccount.yaml
  argocd-helm-charts/etcd-backup-restore/values.yaml
Due: helm:check_diff

fix(etcd-backup-restore): pin container image versions
  argocd-helm-charts/etcd-backup-restore/values.yaml
Due: helm:check_diff

chore(etcd-backup-restore): templatizing store-prefix argument, with etcd as the default value
  argocd-helm-charts/etcd-backup-restore/templates/etcd-statefulset.yaml
  argocd-helm-charts/etcd-backup-restore/values.yaml
Due: helm:check_diff

docs(decisions): add security and vulnerability scanning decision
  decisions.md
  decisions/security-scanning.md
Due: none

docs(decisions): add language to fenced code block
  decisions/security-scanning.md
Due: none

docs(decisions): restructure as README and add OpenVAS exposure layer
  decisions/security-scanning.md
Due: none

fix(security): remove hardcoded Azure VM password and correct ExternalDNS IAM policy attachment
  terraform/aws/iam/external-dns.tf
  terraform/azure/gitlab-ci-server/vm.tf
Due: none

chore(infra): upgrade baseline kubernetes to 1.28.7 and azurerm provider to 3.x
  terraform/aws/cluster/variables.tf
  terraform/azure/aks/providers.tf
Due: none

docs(loki-stack): rewrite readme for the loki chart and list loki as a supported log option
  argocd-helm-charts/loki-stack/README.md
  docs/monitoring.md
Due: helm:check_diff

docs(readme): drop the table of contents — GitHub's outline covers it
  README.md
Due: none

docs(readme): tighten the opening — same three ideas, forty percent shorter
  README.md
Due: none

docs: correct update-rollout and air-gap answers
  docs/faq.md
  docs/getting-started/post-configuration.md
  docs/kubeaid/features-technical-details.md
Due: none

fix(hetzner): wait for the default route before detecting the primary NIC
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmConfig.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/_helpers.tpl
Due: helm:check_diff

feat: add mixin for missing node count
  build/kube-prometheus/mixins/node-count/mixin.libsonnet
  build/kube-prometheus/mixins/node-count/prometheus.yaml
Due: git:push

fix(hetzner): disable CAPH's CSR approver, defer to kubelet-csr-approver
  argocd-helm-charts/capi-cluster/templates/provider-hetzner.yaml
Due: helm:check_diff

docs(operations): add hybrid Hetzner cluster upgrade guide
  docs/operations/upgrade-hetzner-hybrid-cluster.md
Due: none

docs(operations): fix markdownlint violations in the upgrade guide
  docs/operations/upgrade-hetzner-hybrid-cluster.md
Due: none

matomo: wire wrapper to digitalist chart, bump to 3.0.0
  .helm_version_last_update
  argocd-helm-charts/matomo/Chart.yaml
  argocd-helm-charts/matomo/README.md
  argocd-helm-charts/matomo/values.yaml
Due: helm:check_diff

chore(chart): Updated kubeaid helm charts
  .helm_version_last_update
  VERSION
  argocd-helm-charts/fluent-bit/Chart.lock
  argocd-helm-charts/fluent-bit/Chart.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/CHANGELOG.md
  argocd-helm-charts/fluent-bit/charts/fluent-bit/Chart.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/README.md
  argocd-helm-charts/fluent-bit/charts/fluent-bit/RELEASE.md
  argocd-helm-charts/haproxy/Chart.lock
  argocd-helm-charts/haproxy/Chart.yaml
  argocd-helm-charts/haproxy/charts/haproxy/Chart.yaml
  argocd-helm-charts/haproxy/charts/haproxy/README.md
  argocd-helm-charts/haproxy/charts/haproxy/ci/daemonset-trafficdistribution-values.yaml
  argocd-helm-charts/haproxy/charts/haproxy/ci/deployment-trafficdistribution-values.yaml
  argocd-helm-charts/haproxy/charts/haproxy/templates/daemonset.yaml
  argocd-helm-charts/haproxy/charts/haproxy/templates/service.yaml
  argocd-helm-charts/haproxy/charts/haproxy/values.yaml
  argocd-helm-charts/openobserve/Chart.lock
  argocd-helm-charts/openobserve/Chart.yaml
  argocd-helm-charts/openobserve/charts/openobserve/Chart.yaml
  argocd-helm-charts/openobserve/charts/openobserve/templates/configmap.yaml
  argocd-helm-charts/openobserve/charts/openobserve/values.yaml
  argocd-helm-charts/seaweedfs/Chart.yaml
  argocd-helm-charts/seaweedfs/charts/seaweedfs/Chart.yaml
  argocd-helm-charts/seaweedfs/charts/seaweedfs/README.md
  argocd-helm-charts/seaweedfs/charts/seaweedfs/templates/admin/admin-statefulset.yaml
  argocd-helm-charts/seaweedfs/charts/seaweedfs/templates/all-in-one/all-in-one-deployment.yaml
  argocd-helm-charts/seaweedfs/charts/seaweedfs/templates/cosi/cosi-deployment.yaml
  argocd-helm-charts/seaweedfs/charts/seaweedfs/templates/filer/filer-statefulset.yaml
  argocd-helm-charts/seaweedfs/charts/seaweedfs/templates/master/master-statefulset.yaml
  argocd-helm-charts/seaweedfs/charts/seaweedfs/templates/s3/s3-deployment.yaml
  argocd-helm-charts/seaweedfs/charts/seaweedfs/templates/sftp/sftp-deployment.yaml
  argocd-helm-charts/seaweedfs/charts/seaweedfs/templates/shared/_helpers.tpl
  argocd-helm-charts/seaweedfs/charts/seaweedfs/templates/volume/volume-statefulset.yaml
  argocd-helm-charts/seaweedfs/charts/seaweedfs/templates/worker/worker-deployment.yaml
  argocd-helm-charts/seaweedfs/charts/seaweedfs/values.yaml
  argocd-helm-charts/seaweedfs/requirements.lock
  argocd-helm-charts/yetibot/Chart.lock
  argocd-helm-charts/yetibot/Chart.yaml
  argocd-helm-charts/yetibot/charts/yetibot/Chart.yaml
Due: helm:check_diff

feat(linuxaid-agents): add ArgoCD Helm chart to run OpenVox agent as a per-node Job
  argocd-helm-charts/linuxaid-agents/Chart.yaml
  argocd-helm-charts/linuxaid-agents/templates/NOTES.txt
  argocd-helm-charts/linuxaid-agents/templates/_helpers.tpl
  argocd-helm-charts/linuxaid-agents/templates/job.yaml
  argocd-helm-charts/linuxaid-agents/values.yaml
Due: helm:check_diff

feat(linuxaid-agents): fan-out launcher instead of a static node Job
  argocd-helm-charts/linuxaid-agents/templates/NOTES.txt
  argocd-helm-charts/linuxaid-agents/templates/job.yaml
  argocd-helm-charts/linuxaid-agents/templates/launcher-cronjob.yaml
  argocd-helm-charts/linuxaid-agents/templates/rbac.yaml
  argocd-helm-charts/linuxaid-agents/values.yaml
Due: helm:check_diff

feat(security-exporter): read ArgoCD applications to attribute findings
  argocd-helm-charts/kubeaid-agent/charts/security-exporter/templates/rbac.yaml
Due: helm:check_diff

chore(loki): fix leftover loki-stack references after the chart rename
  argocd-helm-charts/loki/Chart.yaml
  argocd-helm-charts/loki/README.md
  build/kube-prometheus/lib/default_kubeaid_apps_vars.yaml
  docs/monitoring.md
Due: helm:check_diff, git:push

feat(manage-helm-chart): flag stale charts and helm update errors
  STALE_AND_HELM_UPDATE_ERROR_REPORT.md
  bin/manage-helm-chart.sh
Due: none

fix: toggle wal archival for postgres backup
  argocd-helm-charts/kubeaid-addons/templates/postgresql-cluster.yaml
  argocd-helm-charts/kubeaid-addons/values.yaml
Due: helm:check_diff

fix(kubeaid-addons): option to enable or disable WAL archiving
  argocd-helm-charts/kubeaid-addons/templates/postgresql-cluster.yaml
Due: helm:check_diff
