Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

init
  bin/scan-images.sh
  sbom.md
Due: none

removed awk and used more verbose commands now
  bin/generate-sbom.sh
  bin/scan-images.sh
  sbom.md
Due: none

chore: update obmondo-k8s-agent app version to v1.1.6
  argocd-helm-charts/obmondo-k8s-agent/Chart.yaml
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

chore: remove deprecated image pull secrets configuration
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

chore: add steps for multi platform container images
  argocd-helm-charts/harbor/README.md
Due: helm:check_diff

chore: format the readme to address lint issues
  argocd-helm-charts/harbor/README.md
Due: helm:check_diff

chore: add external ip handling for tcp and dup services for netbird setup
  argocd-helm-charts/netbird/README.md
Due: helm:check_diff

set pgsql to 14 to maintain compatibility
  argocd-helm-charts/sonarqube/README.md
  argocd-helm-charts/sonarqube/templates/postgres.yaml
  argocd-helm-charts/sonarqube/upgrading.md
  argocd-helm-charts/sonarqube/values.yaml
Due: helm:check_diff

Add docs on monitoringPasscode in Sonarqube
  argocd-helm-charts/sonarqube/values.yaml
Due: helm:check_diff

updating docs acc. to kubeaid cli and removing old procedures
  README.md
  docs/Readme.md
  docs/aws-cluster-setup.md
  docs/aws-private-link.md
  docs/aws/capi/ami.md
  docs/aws/capi/cluster.md
  docs/aws/kops/backup.md
  docs/aws/kops/cluster.md
  docs/aws/kops/samples/values.yaml
  docs/aws/kops/wireguard.md
  docs/azure-cluster-setup.md
  docs/azure/aks/cluster.md
  docs/azure/aks/samples/values.yaml
  docs/bare-metal-cluster-setup.md
  docs/hetzner-manual-setup/server-setup.md
  docs/hetzner-setup/bare-metal-cluster-setup.md
  docs/hetzner-setup/hcloud-cluster-setup.md
  docs/hetzner-setup/hybrid-cluster-setup.md
  docs/local-k3d-cluster-setup.md
Due: none

Add commit since 17.1.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

feat: rabbitmq mixin is coming from a diff upstream repo for v0.13.0, so lets handle that accordingly
  build/kube-prometheus/build.sh
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Split Grafana dashboards into per-dashboard ConfigMaps https://gitea.obmondo.com/EnableIT/KubeAid/issues/901
  build/kube-prometheus/common-template.jsonnet
Due: git:push

feat: Added support for ruleNamespaceSelector in common template
  build/kube-prometheus/common-template.jsonnet
Due: git:push

fix: Add 10-minute delay to domain status alerts
  argocd-helm-charts/prometheus-linuxaid/rules/domain.yaml
Due: helm:check_diff

fix: handle the kube-prom strict v0.13.0 check gracefully using equality operator
  build/kube-prometheus/common-template.jsonnet
Due: git:push

update readme
  README.md
  docs/ci-cd-setup.md
  docs/gitlab-vm-setup.md
  docs/kubeaid/features-technical-details.md
  docs/kubeaid/why-kubeaid.md
Due: none

feat: split the custom entry for linuxaid puppetserver, so we can handle custom autosign and puppet enc script
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

Add commit since 17.2.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

fix: path for autosign conf in env and bash script to have correct file entry in the autosign.conf
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

feat: Added monitoring namespace in default scraping
  build/kube-prometheus/common-template.jsonnet
Due: git:push

chore: commented out the hieradataurl value in puppetserver helm chart, since that is only for example, so user can see and set in their own values file
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

fix: update the gitea chart configs to disable unnecessary resources, and persist admin creds
  argocd-helm-charts/gitea/Chart.yaml
  argocd-helm-charts/gitea/values.yaml
Due: helm:check_diff

feat: allow a opensource enc script for linuxaid as a default
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

add special release disclaimer for v0.16.0 in kube-prometheus https://gitea.obmondo.com/EnableIT/KubeAid/issues/916
  build/kube-prometheus/README.md
Due: git:push

Add minio chart
  argocd-helm-charts/minio/Chart.lock
  argocd-helm-charts/minio/Chart.yaml
  argocd-helm-charts/minio/charts/minio/.helmignore
  argocd-helm-charts/minio/charts/minio/Chart.yaml
  argocd-helm-charts/minio/charts/minio/README.md
  argocd-helm-charts/minio/charts/minio/templates/NOTES.txt
  argocd-helm-charts/minio/charts/minio/templates/_helper_create_bucket.txt
  argocd-helm-charts/minio/charts/minio/templates/_helper_create_policy.txt
  argocd-helm-charts/minio/charts/minio/templates/_helper_create_svcacct.txt
  argocd-helm-charts/minio/charts/minio/templates/_helper_create_user.txt
  argocd-helm-charts/minio/charts/minio/templates/_helper_custom_command.txt
  argocd-helm-charts/minio/charts/minio/templates/_helper_policy.tpl
  argocd-helm-charts/minio/charts/minio/templates/_helpers.tpl
  argocd-helm-charts/minio/charts/minio/templates/ciliumnetworkpolicy.yaml
  argocd-helm-charts/minio/charts/minio/templates/configmap.yaml
  argocd-helm-charts/minio/charts/minio/templates/console-ingress.yaml
  argocd-helm-charts/minio/charts/minio/templates/console-service.yaml
  argocd-helm-charts/minio/charts/minio/templates/deployment.yaml
  argocd-helm-charts/minio/charts/minio/templates/ingress.yaml
  argocd-helm-charts/minio/charts/minio/templates/networkpolicy.yaml
  argocd-helm-charts/minio/charts/minio/templates/poddisruptionbudget.yaml
  argocd-helm-charts/minio/charts/minio/templates/post-job.yaml
  argocd-helm-charts/minio/charts/minio/templates/pvc.yaml
  argocd-helm-charts/minio/charts/minio/templates/secrets.yaml
  argocd-helm-charts/minio/charts/minio/templates/securitycontextconstraints.yaml
  argocd-helm-charts/minio/charts/minio/templates/service.yaml
  argocd-helm-charts/minio/charts/minio/templates/serviceaccount.yaml
  argocd-helm-charts/minio/charts/minio/templates/servicemonitor.yaml
  argocd-helm-charts/minio/charts/minio/templates/statefulset.yaml
  argocd-helm-charts/minio/charts/minio/values.yaml
  argocd-helm-charts/minio/values.yaml
Due: helm:check_diff

fix: routeprefix was under wrong key
  argocd-helm-charts/prometheus-linuxaid/templates/prometheus.yaml
Due: helm:check_diff

feat: prometheus linuxaid, can now be used by any opensource user, and removed any static data from it
  argocd-helm-charts/prometheus-linuxaid/templates/alertmanager-main.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/alertmanager.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/grafana-chain-middleware.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/grafana-datasource.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/grafana-header-middleware.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/grafana-ingressroute.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/grafana-jwt-middleware.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/grafana.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/ingress.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/prometheus-ingressroute.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/prometheus.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/prometheusRule-btrfs.yaml
  argocd-helm-charts/prometheus-linuxaid/values.yaml
Due: helm:check_diff

chore: some object name should depend on the default naming convention coming from the template func
  argocd-helm-charts/prometheus-linuxaid/templates/_helpers.tpl
  argocd-helm-charts/prometheus-linuxaid/templates/ingress.yaml
  argocd-helm-charts/prometheus-linuxaid/values.yaml
Due: helm:check_diff

fix: removed the leading slash from prometheus linuxaid from ingressroute and grafana, prometheus object
  argocd-helm-charts/prometheus-linuxaid/templates/grafana-datasource.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/grafana-ingressroute.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/grafana.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/prometheus-ingressroute.yaml
Due: helm:check_diff

- Migrated rabbitmq-operator image reference in Helm chart from docker.io/bitnami to Bitnami Legacy registry as per upstream Bitnami container changes.
  argocd-helm-charts/rabbitmq-operator/values.yaml
Due: helm:check_diff

add support for setting alertmanager ingress
  build/kube-prometheus/common-template.jsonnet
Due: git:push

update rabbitmq image repository bitnami/rabbitmq to a new legacy repository bitnamilegacy/rabbitmq
  argocd-helm-charts/oncall/charts/oncall/charts/rabbitmq/values.yaml
Due: helm:check_diff

feat: dont let anyone override the default monitoring namespace, but one can add extra if they want to
  build/kube-prometheus/common-template.jsonnet
Due: git:push
