Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

Add instructions on upgrading kube-prometheus
  build/kube-prometheus/README.md
Due: git:push

Register custom and external metrics apiservices
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Increase prom adapter resource limits and turn off unneeded external-metrics
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Added readme wiki and fixed resources
  argocd-helm-charts/teleport-cluster/README.md
  argocd-helm-charts/teleport-cluster/values.yaml
Due: helm:check_diff

added better instruction on backup and copying it locally
  argocd-helm-charts/teleport-cluster/README.md
Due: helm:check_diff

[#12276] fix s3 backup
  argocd-helm-charts/sealed-secrets/templates/configmap.yaml
Due: helm:check_diff

[#12281] Updated fluent-bit to 2.1.2
  argocd-helm-charts/fluent-bit/Chart.lock
  argocd-helm-charts/fluent-bit/Chart.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/Chart.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/templates/configmap-dashboards.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/values.yaml
Due: helm:check_diff

[#12281] Updated graylog to 5.0.3
  argocd-helm-charts/graylog/Chart.lock
  argocd-helm-charts/graylog/Chart.yaml
  argocd-helm-charts/graylog/charts/graylog/Chart.lock
  argocd-helm-charts/graylog/charts/graylog/Chart.yaml
  argocd-helm-charts/graylog/charts/graylog/templates/statefulset.yaml
  argocd-helm-charts/graylog/charts/graylog/values.yaml
Due: helm:check_diff

[#12281] removed the static image tag for graylog
  argocd-helm-charts/graylog/values.yaml
Due: helm:check_diff

Enable switchable replicaset
  argocd-helm-charts/graylog/templates/mongodb.yaml
Due: helm:check_diff

Add support for specifying additional prom adapter rules
  build/kube-prometheus/common-template.jsonnet
Due: git:push

made default size as 2G for mongodb pvc
  argocd-helm-charts/graylog/templates/mongodb.yaml
  argocd-helm-charts/graylog/values.yaml
Due: helm:check_diff

:no-diff added usecase of kube2iam for k8id
  argocd-helm-charts/kube2iam/README.md
Due: helm:check_diff

:no-diff removed trailing spaces
  argocd-helm-charts/kube2iam/README.md
Due: helm:check_diff

issue#11828 Add pod autoscaling guide
  docs/pod_autoscaling.md
Due: none

added envs for sonarqube postgres
  argocd-helm-charts/sonarqube/templates/postgres.yaml
Due: helm:check_diff

:no-diff change account id
  argocd-helm-charts/kube2iam/README.md
Due: helm:check_diff

rook-ceph resource fix
  argocd-helm-charts/rook-ceph/values.yaml
Due: helm:check_diff
