Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

updated helm chart of harbor to 1.14.0
  argocd-helm-charts/harbor/Chart.lock
  argocd-helm-charts/harbor/Chart.yaml
  argocd-helm-charts/harbor/charts/harbor/Chart.yaml
  argocd-helm-charts/harbor/charts/harbor/README.md
  argocd-helm-charts/harbor/charts/harbor/templates/_helpers.tpl
  argocd-helm-charts/harbor/charts/harbor/templates/core/core-cm.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/core/core-dpl.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/core/core-secret.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/jobservice/jobservice-dpl.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/jobservice/jobservice-secrets.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/nginx/service.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/portal/service.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/registry/registry-dpl.yaml
  argocd-helm-charts/harbor/charts/harbor/templates/registry/registry-secret.yaml
  argocd-helm-charts/harbor/charts/harbor/values.yaml
Due: helm:check_diff

added patch in role for gitea-runner
  argocd-helm-charts/gitea-runner/templates/role.yaml
Due: helm:check_diff

fixed the yamllint
  argocd-helm-charts/puppetserver/values.yaml
Due: helm:check_diff

added doc for deletion of metrics in prometheus
  build/kube-prometheus/README.md
Due: git:push

excludes pgdata from keycloakx
  argocd-helm-charts/keycloakx/templates/postgresql.yaml
  argocd-helm-charts/keycloakx/values.yaml
Due: helm:check_diff

added inherited labels
  argocd-helm-charts/keycloakx/templates/postgresql.yaml
  argocd-helm-charts/keycloakx/values.yaml
Due: helm:check_diff

modified: postgres-operator/values.yaml
  argocd-helm-charts/postgres-operator/values.yaml
Due: helm:check_diff

fixed the schedule gitea action
  .gitea/workflows/kubeaid.yaml
Due: none

added argo-cd-sync state mixin
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/mixins/argo-cd-sync/mixin.libsonnet
  build/kube-prometheus/mixins/argo-cd-sync/prometheus.yaml
Due: git:push

modified: argocd-helm-charts/keycloakx/templates/postgresql.yaml
  argocd-helm-charts/keycloakx/templates/postgresql.yaml
  argocd-helm-charts/postgres-operator/values.yaml
Due: helm:check_diff

modified: templates/postgresql.yaml
  argocd-helm-charts/keycloakx/templates/postgresql.yaml
Due: helm:check_diff

try out prom ing but has one error
  build/kube-prometheus/common-template.jsonnet
Due: git:push

fixed the jsonnet error and ingress comes now
  build/kube-prometheus/common-template.jsonnet
Due: git:push

changed the port for prometheus
  build/kube-prometheus/common-template.jsonnet
Due: git:push

jsonnet lint fix
  build/kube-prometheus/common-template.jsonnet
Due: git:push

added support for prometheus ingress in kube-prom
  build/kube-prometheus/common-template.jsonnet
Due: git:push

set externalurl only when prometheus ingress host is given
  build/kube-prometheus/common-template.jsonnet
Due: git:push

use updated crd version for traefik middleware
  argocd-helm-charts/traefik-forward-auth/templates/middleware.yaml
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
