Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

Migrating content from ArgoCD wiki to KubeAid
  argocd-helm-charts/argo-cd/Readme.md
Due: helm:check_diff

added redisfailover and readme
  argocd-helm-charts/redis-operator/examples/README.md
  argocd-helm-charts/redis-operator/examples/redis-example-with-backup-exclusion.yaml
Due: helm:check_diff

Included opencost in network policy for prometheus
  build/kube-prometheus/common-template.jsonnet
Due: git:push

filebeat pod crashloop fix
  argocd-helm-charts/filebeat/charts/filebeat/README.md
Due: helm:check_diff

filebeat pod crashloop fix 2
  argocd-helm-charts/filebeat/charts/filebeat/README.md
Due: helm:check_diff

Added rabbitmq mixin to v13.0.0 library
  build/kube-prometheus/libraries/v0.13.0/jsonnetfile.json
  build/kube-prometheus/libraries/v0.13.0/jsonnetfile.lock.json
  build/kube-prometheus/libraries/v0.13.0/vendor/github.com/adinhodovic/rabbitmq-mixin/.gitignore
  build/kube-prometheus/libraries/v0.13.0/vendor/github.com/adinhodovic/rabbitmq-mixin/LICENSE
  build/kube-prometheus/libraries/v0.13.0/vendor/github.com/adinhodovic/rabbitmq-mixin/Makefile
  build/kube-prometheus/libraries/v0.13.0/vendor/github.com/adinhodovic/rabbitmq-mixin/README.md
  build/kube-prometheus/libraries/v0.13.0/vendor/github.com/adinhodovic/rabbitmq-mixin/alerts.jsonnet
  build/kube-prometheus/libraries/v0.13.0/vendor/github.com/adinhodovic/rabbitmq-mixin/alerts/alerts.libsonnet
  build/kube-prometheus/libraries/v0.13.0/vendor/github.com/adinhodovic/rabbitmq-mixin/config.libsonnet
  build/kube-prometheus/libraries/v0.13.0/vendor/github.com/adinhodovic/rabbitmq-mixin/dashboards.jsonnet
  build/kube-prometheus/libraries/v0.13.0/vendor/github.com/adinhodovic/rabbitmq-mixin/dashboards/dashboards.libsonnet
  build/kube-prometheus/libraries/v0.13.0/vendor/github.com/adinhodovic/rabbitmq-mixin/jsonnetfile.json
  build/kube-prometheus/libraries/v0.13.0/vendor/github.com/adinhodovic/rabbitmq-mixin/mixin.libsonnet
  build/kube-prometheus/libraries/v0.13.0/vendor/github.com/adinhodovic/rabbitmq-mixin/rules.jsonnet
  build/kube-prometheus/libraries/v0.13.0/vendor/github.com/adinhodovic/rabbitmq-mixin/rules/rules.libsonnet
  build/kube-prometheus/libraries/v0.13.0/vendor/rabbitmq-mixin
Due: git:push

Adding rabbitmq mixin in common-templates.jsonnet | rabbitmq mixin is disabled by default
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Fix: rabbitmq-mixin addition
  argocd-helm-charts/redis-operator/examples/redis-example-with-backup-exclusion.yaml
  build/kube-prometheus/common-template.jsonnet
Due: helm:check_diff, git:push

removing cpu limits for prometheus pods as it is much lower and not required issueref=https://gitea.obmondo.com/EnableIT/qd2xcggwag/issues/58
  build/kube-prometheus/common-template.jsonnet
Due: git:push

stopped msd pods from dying
  argocd-helm-charts/rook-ceph/values.yaml
Due: helm:check_diff

added hcloud-ccm helm chart
  argocd-helm-charts/hcloud-cloud-controller-manager/Chart.lock
  argocd-helm-charts/hcloud-cloud-controller-manager/Chart.yaml
  argocd-helm-charts/hcloud-cloud-controller-manager/charts/hcloud-cloud-controller-manager/.helmignore
  argocd-helm-charts/hcloud-cloud-controller-manager/charts/hcloud-cloud-controller-manager/Chart.yaml
  argocd-helm-charts/hcloud-cloud-controller-manager/charts/hcloud-cloud-controller-manager/README.md
  argocd-helm-charts/hcloud-cloud-controller-manager/charts/hcloud-cloud-controller-manager/templates/NOTES.txt
  argocd-helm-charts/hcloud-cloud-controller-manager/charts/hcloud-cloud-controller-manager/templates/_helpers.tpl
  argocd-helm-charts/hcloud-cloud-controller-manager/charts/hcloud-cloud-controller-manager/templates/clusterrolebinding.yaml
  argocd-helm-charts/hcloud-cloud-controller-manager/charts/hcloud-cloud-controller-manager/templates/daemonset.yaml
  argocd-helm-charts/hcloud-cloud-controller-manager/charts/hcloud-cloud-controller-manager/templates/deployment.yaml
  argocd-helm-charts/hcloud-cloud-controller-manager/charts/hcloud-cloud-controller-manager/templates/podmonitor.yaml
  argocd-helm-charts/hcloud-cloud-controller-manager/charts/hcloud-cloud-controller-manager/templates/serviceaccount.yaml
  argocd-helm-charts/hcloud-cloud-controller-manager/charts/hcloud-cloud-controller-manager/values.yaml
  argocd-helm-charts/hcloud-cloud-controller-manager/values.yaml
Due: helm:check_diff

added velero known issues
  argocd-helm-charts/velero/known-issues.md
Due: helm:check_diff

renamed the dir for hetzner cloud
  argocd-helm-charts/hcloud-ccm/Chart.lock
  argocd-helm-charts/hcloud-ccm/Chart.yaml
  argocd-helm-charts/hcloud-ccm/charts/hcloud-cloud-controller-manager/.helmignore
  argocd-helm-charts/hcloud-ccm/charts/hcloud-cloud-controller-manager/Chart.yaml
  argocd-helm-charts/hcloud-ccm/charts/hcloud-cloud-controller-manager/README.md
  argocd-helm-charts/hcloud-ccm/charts/hcloud-cloud-controller-manager/templates/NOTES.txt
  argocd-helm-charts/hcloud-ccm/charts/hcloud-cloud-controller-manager/templates/_helpers.tpl
  argocd-helm-charts/hcloud-ccm/charts/hcloud-cloud-controller-manager/templates/clusterrolebinding.yaml
  argocd-helm-charts/hcloud-ccm/charts/hcloud-cloud-controller-manager/templates/daemonset.yaml
  argocd-helm-charts/hcloud-ccm/charts/hcloud-cloud-controller-manager/templates/deployment.yaml
  argocd-helm-charts/hcloud-ccm/charts/hcloud-cloud-controller-manager/templates/podmonitor.yaml
  argocd-helm-charts/hcloud-ccm/charts/hcloud-cloud-controller-manager/templates/serviceaccount.yaml
  argocd-helm-charts/hcloud-ccm/charts/hcloud-cloud-controller-manager/values.yaml
  argocd-helm-charts/hcloud-ccm/values.yaml
  argocd-helm-charts/hcloud-cloud-controller-manager/values.yaml
Due: helm:check_diff

Add support for logical backup
  argocd-helm-charts/keycloakx/templates/postgresql-logical-backup.yaml
  argocd-helm-charts/keycloakx/values.yaml
Due: helm:check_diff

update
  argocd-helm-charts/keycloakx/values.yaml
Due: helm:check_diff

update
  argocd-helm-charts/keycloakx/templates/postgresql-logical-backup.yaml
Due: helm:check_diff

test
  argocd-helm-charts/keycloakx/templates/postgresql-logical-backup.yaml
Due: helm:check_diff

escape secret name
  argocd-helm-charts/keycloakx/templates/postgresql-logical-backup.yaml
Due: helm:check_diff
