Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

Add netpol fix for Traefik pods to Prometheus
  build/kube-prometheus/common-template.jsonnet
Due: git:push

:no-diff add doc for shift override
  argocd-helm-charts/oncall/Readme.md
  argocd-helm-charts/oncall/images/override.png
Due: helm:check_diff

Apply 1 suggestion(s) to 1 file(s)
  argocd-helm-charts/oncall/Readme.md
Due: helm:check_diff

converting github action
  .gitea/workflows/git-push.yml
  .gitea/workflows/helm-diff.yml
  .gitea/workflows/helm-update.yml
  .gitea/workflows/jsonnet-lint.yml
  .gitea/workflows/markdownlint.yml
  .gitea/workflows/opa-test.yml
  .gitea/workflows/shellcheck.yml
  .gitea/workflows/yamllint.yml
  .github/workflows/ci.yml
  .github/workflows/git-push.yml
  .github/workflows/helm-diff.yml
  .github/workflows/helm-update.yml
  .github/workflows/jsonnet-lint.yml
  .github/workflows/markdownlint.yml
  .github/workflows/opa-test.yml
  .github/workflows/shellcheck.yml
  .github/workflows/yamllint.yml
  bin/build-and-create-pr.sh
  bin/helm-repo-update.sh
Due: none

update the argocd provider version
  terraform/helm/argocd.tf
Due: none

Bug fix to read the repo and userame from argocd_repos map
  terraform/helm/argocd-repositories.tf
Due: none

Add keycloakx memory limit
  argocd-helm-charts/keycloakx/values.yaml
Due: helm:check_diff

adding ci fixes
  .gitea/workflows/git-push.yml
  .gitea/workflows/helm-diff.yml
  .gitea/workflows/helm-update.yml
  .gitea/workflows/jsonnet-lint.yml
  .gitea/workflows/markdownlint.yml
  .gitea/workflows/opa-test.yml
  .gitea/workflows/shellcheck.yml
  .gitea/workflows/yamllint.yml
  .github/workflows/git-push.yml
  .github/workflows/helm-diff.yml
  .github/workflows/helm-update.yml
  .github/workflows/jsonnet-lint.yml
  .github/workflows/markdownlint.yml
  .github/workflows/opa-test.yml
  .github/workflows/shellcheck.yml
  .github/workflows/yamllint.yml
  argocd-helm-charts/zfs-localpv/Chart.yaml
  argocd-helm-charts/zfs-localpv/examples/values-nodeselector.yaml
  argocd-helm-charts/zfs-localpv/examples/values-storageclass.yaml
  argocd-helm-charts/zfs-localpv/values.yaml
  bin/build-and-create-pr.sh
  bin/helm-repo-update.sh
Due: helm:check_diff

Fix traefik config after chart upgrade
  argocd-helm-charts/traefik/values.yaml
Due: helm:check_diff

changes for migration of k8s-agent new arch and viper
  argocd-helm-charts/obmondo-k8s-agent/templates/deployment.yaml
  argocd-helm-charts/obmondo-k8s-agent/templates/k8sAgentConfig.yaml
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

adding argocd sync feature
  argocd-helm-charts/obmondo-k8s-agent/templates/deployment.yaml
  argocd-helm-charts/obmondo-k8s-agent/templates/k8sAgentConfig.yaml
  argocd-helm-charts/obmondo-k8s-agent/templates/networkPolicy.yaml
  argocd-helm-charts/obmondo-k8s-agent/templates/rbac.yaml
  argocd-helm-charts/obmondo-k8s-agent/templates/whiteListedAppsConfig.yaml
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
  build/kube-prometheus/mixins/argocd-sync/mixin.libsonnet
  build/kube-prometheus/mixins/argocd-sync/prometheus.yaml
Due: helm:check_diff, git:push

soling linting
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

mixin setup and solving linting
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/mixins/argocd-sync/mixin.libsonnet
  build/kube-prometheus/mixins/argocd-sync/prometheus.yaml
Due: git:push

Fixes for azure k8s cluster setup
  terraform/azure/peering/peering.tf
  terraform/helm/providers.tf
  terragrunt/aks/helm/terragrunt.hcl
  terragrunt/aks/peering/terragrunt.hcl
  terragrunt/aks/routes/terragrunt.hcl
Due: none

Added the required providers
  terraform/helm/providers.tf
Due: none

adding helm diff fixes in ci
  .gitea/workflows/helm-diff.yml
  .gitea/workflows/helm-update.yml
  bin/helm-diff.sh
Due: none

fix: added a decent size for harbor registry
  argocd-helm-charts/harbor/values.yaml
Due: helm:check_diff

Upgrade velero chart to 5.1.2
  argocd-helm-charts/velero/Chart.lock
  argocd-helm-charts/velero/Chart.yaml
  argocd-helm-charts/velero/charts/velero/Chart.yaml
  argocd-helm-charts/velero/charts/velero/README.md
  argocd-helm-charts/velero/charts/velero/crds/backuprepositories.yaml
  argocd-helm-charts/velero/charts/velero/crds/backups.yaml
  argocd-helm-charts/velero/charts/velero/crds/backupstoragelocations.yaml
  argocd-helm-charts/velero/charts/velero/crds/datadownloads.yaml
  argocd-helm-charts/velero/charts/velero/crds/datauploads.yaml
  argocd-helm-charts/velero/charts/velero/crds/deletebackuprequests.yaml
  argocd-helm-charts/velero/charts/velero/crds/downloadrequests.yaml
  argocd-helm-charts/velero/charts/velero/crds/podvolumebackups.yaml
  argocd-helm-charts/velero/charts/velero/crds/podvolumerestores.yaml
  argocd-helm-charts/velero/charts/velero/crds/restores.yaml
  argocd-helm-charts/velero/charts/velero/crds/schedules.yaml
  argocd-helm-charts/velero/charts/velero/crds/serverstatusrequests.yaml
  argocd-helm-charts/velero/charts/velero/crds/volumesnapshotlocations.yaml
  argocd-helm-charts/velero/charts/velero/templates/backupstoragelocation.yaml
  argocd-helm-charts/velero/charts/velero/templates/deployment.yaml
  argocd-helm-charts/velero/charts/velero/templates/label-namespace/labelnamespace.yaml
  argocd-helm-charts/velero/charts/velero/templates/node-agent-daemonset.yaml
  argocd-helm-charts/velero/charts/velero/templates/prometheusrule.yaml
  argocd-helm-charts/velero/charts/velero/templates/schedule.yaml
  argocd-helm-charts/velero/charts/velero/templates/secret.yaml
  argocd-helm-charts/velero/charts/velero/templates/servicemonitor.yaml
  argocd-helm-charts/velero/charts/velero/templates/upgrade-crds/upgrade-crds.yaml
  argocd-helm-charts/velero/charts/velero/templates/volumesnapshotlocation.yaml
  argocd-helm-charts/velero/charts/velero/values.yaml
Due: helm:check_diff
