Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

[CI] Helm Chart Update mattermost-team-edition
  CHANGELOG.md
  argocd-helm-charts/mattermost-team-edition/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.lock
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/values.yaml
  argocd-helm-charts/mattermost-team-edition/requirements.lock
Due: helm:check_diff

[CI] Helm Chart Update oncall
  CHANGELOG.md
  argocd-helm-charts/oncall/Chart.lock
  argocd-helm-charts/oncall/Chart.yaml
  argocd-helm-charts/oncall/charts/oncall/Chart.lock
  argocd-helm-charts/oncall/charts/oncall/Chart.yaml
Due: helm:check_diff

[CI] Helm Chart Update opensearch
  CHANGELOG.md
  argocd-helm-charts/opensearch/Chart.lock
  argocd-helm-charts/opensearch/Chart.yaml
  argocd-helm-charts/opensearch/charts/opensearch/CHANGELOG.md
  argocd-helm-charts/opensearch/charts/opensearch/Chart.yaml
  argocd-helm-charts/opensearch/charts/opensearch/templates/serviceMonitor.yaml
Due: helm:check_diff

[CI] Helm Chart Update opensearch-dashboards
  CHANGELOG.md
  argocd-helm-charts/opensearch-dashboards/Chart.lock
  argocd-helm-charts/opensearch-dashboards/Chart.yaml
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/CHANGELOG.md
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/Chart.yaml
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/README.md
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/templates/service.yaml
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/templates/serviceMonitor.yaml
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update rabbitmq-operator
  CHANGELOG.md
  argocd-helm-charts/rabbitmq-operator/Chart.lock
  argocd-helm-charts/rabbitmq-operator/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/Chart.lock
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/templates/_images.tpl
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/crds/rabbitmq-cluster/rabbitmq.com_rabbitmqclusters.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update reloader
  CHANGELOG.md
  argocd-helm-charts/reloader/Chart.yaml
  argocd-helm-charts/reloader/charts/reloader/Chart.yaml
  argocd-helm-charts/reloader/charts/reloader/values.yaml
  argocd-helm-charts/reloader/requirements.lock
Due: helm:check_diff

[CI] Helm Chart Update teleport-cluster
  CHANGELOG.md
  argocd-helm-charts/teleport-cluster/Chart.lock
  argocd-helm-charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_roles.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_rolesv6.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_rolesv7.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/values.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_clusterrole_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_config_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_deployment_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/proxy_config_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/proxy_deployment_test.yaml.snap
Due: helm:check_diff

[CI] Helm Chart Update teleport-kube-agent
  CHANGELOG.md
  argocd-helm-charts/teleport-kube-agent/Chart.lock
  argocd-helm-charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/deployment_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/job_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/statefulset_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/updater_deployment_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update whoami
  CHANGELOG.md
  argocd-helm-charts/whoami/Chart.lock
  argocd-helm-charts/whoami/Chart.yaml
  argocd-helm-charts/whoami/charts/whoami/Chart.lock
  argocd-helm-charts/whoami/charts/whoami/Chart.yaml
  argocd-helm-charts/whoami/charts/whoami/values.yaml
Due: helm:check_diff

Update to new tag for Kubeaid
  CHANGELOG.md
Due: none

upgrade argocd
  terraform/helm/argocd.tf
Due: none

Removing CertManager, ArgoCD, SealedSecrets and AWS EBS HelmChartProxies (they'll be installed using KubeAid)
  argocd-helm-charts/capi-cluster/templates/argo-cd.yaml
  argocd-helm-charts/capi-cluster/templates/cert-manager.yaml
  argocd-helm-charts/capi-cluster/templates/csi-aws.yaml
  argocd-helm-charts/capi-cluster/templates/sealed-secrets.yaml
Due: helm:check_diff

Adding support for multiple MachinePools
  argocd-helm-charts/capi-cluster/charts/aws/templates/AWSMachinePool.yaml
  argocd-helm-charts/capi-cluster/charts/aws/templates/MachinePool.yaml
  argocd-helm-charts/capi-cluster/charts/aws/values.yaml
  argocd-helm-charts/capi-cluster/values.yaml
Due: helm:check_diff

chore: Rename middleware.yaml to puppetdb-middlewaretcp.yaml
  argocd-helm-charts/puppetserver/templates/puppetdb-ingressroutetcp.yaml
  argocd-helm-charts/puppetserver/templates/puppetdb-middlewaretcp.yaml
  argocd-helm-charts/puppetserver/templates/puppetserver-ingressroutetcp.yaml
Due: helm:check_diff

chore: Rename middleware.yaml to puppetdb-middlewaretcp.yaml
  argocd-helm-charts/puppetserver/templates/puppetdb-middlewaretcp.yaml
Due: helm:check_diff

Adding support for user specified labels for a MachinePool
  argocd-helm-charts/capi-cluster/charts/aws/templates/MachinePool.yaml
Due: helm:check_diff

(fix) : build script with default commit/tag
  build/kube-prometheus/build.sh
Due: git:push

(docs) : default version
  build/kube-prometheus/README.md
Due: git:push

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
