Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

use updated crd version for traefik middleware
  argocd-helm-charts/traefik-forward-auth/templates/middleware.yaml
Due: helm:check_diff

added monitoring namespace in ruleNamespaceSelector
  build/kube-prometheus/common-template.jsonnet
Due: git:push

added changes to ruleNamespaceSelector to load rules from the monitoring namespace only
  build/kube-prometheus/common-template.jsonnet
Due: git:push

added argocd custom alert for unhealth and outofsync app
  build/kube-prometheus/build.sh
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/mixins/argo-cd-sync/prometheus.yaml
  build/kube-prometheus/mixins/argo-cd/mixin.libsonnet
Due: git:push

changed the value of externalUrl in prometheus spec to string from object
  build/kube-prometheus/common-template.jsonnet
Due: git:push

modified: argocd-helm-charts/postgres-operator/README.md
  argocd-helm-charts/mattermost-team-edition/templates/postgresql.yaml
  argocd-helm-charts/postgres-operator/README.md
  argocd-helm-charts/postgres-operator/examples/postgres-cluster.yaml
  argocd-helm-charts/redmine/templates/postgresql.yaml
  argocd-helm-charts/relate/charts/relate/templates/postgres.yaml
  argocd-helm-charts/sonarqube/templates/postgres.yaml
Due: helm:check_diff

Support for AKS private endpoint
  terraform/azure/aks/aks.tf
  terraform/azure/aks/variables-aks.tf
  terraform/azure/peering/peering.tf
Due: none

minor typo fix in haproxy value file and disable netpol for obmondo-k8s-agent
  argocd-helm-charts/haproxy/values.yaml
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

ServiceMonitor for Traefik deployed by default | Allowing Prometheus to scrape from the traefik namespace by default
  argocd-helm-charts/traefik/values.yaml
  build/kube-prometheus/common-template.jsonnet
Due: helm:check_diff, git:push

Lower job history limit in sealed secret cronjob
  argocd-helm-charts/sealed-secrets/templates/cronjob.yaml
Due: helm:check_diff

Remove cpu limits from prometheus operator pod https://gitea.obmondo.com/EnableIT/rufvpto91t/issues/323
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Fix for formatting error
  build/kube-prometheus/common-template.jsonnet
Due: git:push

fixed a bug in the argocd-mixin, which had wrong labels variable
  build/kube-prometheus/mixins/argo-cd/mixin.libsonnet
Due: git:push

fixed the ceph-object spec for healthcheck as per doc
  argocd-helm-charts/rook-ceph/values.yaml
Due: helm:check_diff

upgraded cert-manager helm chart to 1.14.3
  argocd-helm-charts/cert-manager/Chart.lock
  argocd-helm-charts/cert-manager/Chart.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/Chart.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/README.md
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/_helpers.tpl
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/cainjector-config.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/cainjector-deployment.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/controller-config.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/crds.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/deployment.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/podmonitor.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/service.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/startupapicheck-job.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-config.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-deployment.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-validating-webhook.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/values.yaml
Due: helm:check_diff

removed the preferredChain empty string, since its not needed
  argocd-helm-charts/cert-manager/templates/issuer.yaml
  argocd-helm-charts/cert-manager/values.yaml
Due: helm:check_diff

added ipaddress and iplayer support and newer helm chart support
  argocd-helm-charts/metallb/templates/ipaddresspool.yaml
  argocd-helm-charts/metallb/templates/layer.yaml
Due: helm:check_diff

Downgrade to 3.2.9 chart to fix bug in crd and added note about current upstream state
  argocd-helm-charts/redis-operator/Chart.lock
  argocd-helm-charts/redis-operator/Chart.yaml
  argocd-helm-charts/redis-operator/README.md
  argocd-helm-charts/redis-operator/charts/redis-operator/Chart.yaml
  argocd-helm-charts/redis-operator/charts/redis-operator/crds/databases.spotahome.com_redisfailovers.yaml
  argocd-helm-charts/redis-operator/charts/redis-operator/values.yaml
Due: helm:check_diff

Migrating content from ArgoCD wiki to KubeAid
  argocd-helm-charts/argo-cd/Readme.md
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
