Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:helm
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - "argocd-helm-charts/**/*"

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:1644571507
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-chart argo-cd

lint: linting fix
  argocd-helm-charts/cert-manager/readme.md
Due: helm:check_diff

lint: text adjustment
  argocd-helm-charts/cert-manager/readme.md
Due: helm:check_diff

:no-diff bug: fixed the port for metrics server and added additional port for kubelet access
  argocd-helm-charts/metrics-server/templates/netpol-metrics-server.yaml
Due: helm:check_diff

feat: removed cpu limit for kube-build components
  build/kube-prometheus/common-template.jsonnet
Due: git:push

feat: add required netpol for prom-adapter so it can scrape prom metrics for HPA
  build/kube-prometheus/common-template.jsonnet
Due: git:push

doc: Added Readme for installing new charts
  argocd-helm-charts/Readme.md
  argocd-helm-charts/postgres-operator/README.md
Due: helm:check_diff

Remove redundant mattermost DB chart
  .gitignore
  argocd-helm-charts/mattermost-team-edition/.gitignore
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/.helmignore
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/README.md
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/NOTES.txt
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/_helpers.tpl
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/configurationFiles-configmap.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/deployment.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/initializationFiles-configmap.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/pvc.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/secrets.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/serviceaccount.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/servicemonitor.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/svc.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/tests/test-configmap.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/templates/tests/test.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/charts/mysql/values.yaml
  argocd-helm-charts/sonarqube/.gitignore
Due: helm:check_diff

bug: base64encode, so it can work with AKS
  terragrunt/kops/helm/terragrunt.hcl
Due: none

doc: Added examples for velero AWS values
  argocd-helm-charts/velero/examples/values-aws.yaml
Due: helm:check_diff

doc:[#2444]: adding docs for zfs-localpv KBM setup
  argocd-helm-charts/zfs-localpv/Readme.md
  argocd-helm-charts/zfs-localpv/examples/values-nodeselector.yaml
  argocd-helm-charts/zfs-localpv/examples/values-storageclass.yaml
  argocd-helm-charts/zfs-localpv/templates/storageclass.yaml
  argocd-helm-charts/zfs-localpv/values.yaml
Due: helm:check_diff

feat: updated the alertmanager config with slack example
  build/kube-prometheus/example-alertmanager-config/alertmanager-main-slack.yaml
Due: git:push

[#7512] feat: add a feature to bump the resource limit for node exporter kube_rbac_proxy container Upstream PR https://github.com/prometheus-operator/kube-prometheus/pull/1864/files
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/libraries/v0.11.0/vendor/github.com/prometheus-operator/kube-prometheus/jsonnet/kube-prometheus/components/node-exporter.libsonnet
Due: git:push

[#7512] feat: add a feature to bump the resource limit for prometheus operator kube_rbac_proxy container Upstream PR https://github.com/prometheus-operator/kube-prometheus/pull/1864/files
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/libraries/v0.11.0/vendor/github.com/prometheus-operator/kube-prometheus/jsonnet/kube-prometheus/components/prometheus-operator.libsonnet
Due: git:push

[#7522 #7523] Increased the default size of postgres for sonarqube
  argocd-helm-charts/sonarqube/templates/postgres.yaml
Due: helm:check_diff

[#7676] removed prometheus-adapter for managed cluster
  build/kube-prometheus/common-template.jsonnet
Due: git:push

[issue #7721] Fix gatekeeper netpol with calico
  argocd-helm-charts/gatekeeper/templates/networkpolicy.yaml
  argocd-helm-charts/gatekeeper/values.yaml
Due: helm:check_diff

doc: added a oneliner to create the cloudflare secret
  argocd-helm-charts/cert-manager/readme.md
Due: helm:check_diff
