Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:helm
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:1644571507
  script:
  - ./bin/gitlab-build-and-create-mr.sh

8104 Make helm-diff script handle chart removal
  bin/helm-diff.sh
Due: none

8104 Add rook-ceph chart REABME with description of upstream charts used
  argocd-helm-charts/rook-ceph/README.md
Due: helm:check_diff

8104 Re-add example values for rook-ceph chart
  argocd-helm-charts/rook-ceph/example-values/use-all-devices.yaml
  argocd-helm-charts/rook-ceph/example-values/use-device-filter.yaml
Due: helm:check_diff

8104 Add how to see Ceph status to rook-ceph README (:no-diff)
  argocd-helm-charts/rook-ceph/README.md
Due: helm:check_diff

:no-diff 8104 Fix helm-diff script not checking diff when it should
  bin/helm-diff.sh
Due: none

:no-diff 8104 Please lint
  argocd-helm-charts/rook-ceph/README.md
Due: helm:check_diff

8104 Enable rool-ceph monitoring
  argocd-helm-charts/rook-ceph/values.yaml
Due: helm:check_diff

postgres backup support for keycloakx
  argocd-helm-charts/keycloakx/templates/postgresql.yaml
  argocd-helm-charts/postgres-operator/README.md
  argocd-helm-charts/postgres-operator/values.yaml
Due: helm:check_diff

fix: feature branch file name was wrong in the diff command and set the tab space to 2 instead of 4 in bash script helm-diff
  bin/helm-diff.sh
Due: none

minor updates to README: added more details about adding a new mixin
  .gitignore
  build/kube-prometheus/README.md
Due: git:push

added better linting for common-template.jsonnet and kubernetes EOL's prometheus.yaml file
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/mixins/eol/prometheus.yaml
Due: git:push

updated EOS/EOL alerts, added more detailed, alerts
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/mixins/eol/mixin.libsonnet
  build/kube-prometheus/mixins/eol/prometheus.yaml
  build/kube-prometheus/mixins/kube-version/mixin.libsonnet
  build/kube-prometheus/mixins/kube-version/prometheus.yaml
Due: git:push

fix: lowered the resource usage on rook-ceph pods and removed the custom toolbox pod for ceph since now it comes with rook-ceph helm chart
  argocd-helm-charts/rook-ceph/templates/toolbox.yaml
  argocd-helm-charts/rook-ceph/values.yaml
Due: helm:check_diff

fix: added resource usage on teleport kube agent app
  argocd-helm-charts/teleport-kube-agent/values.yaml
Due: helm:check_diff

fix: added resource usage on rabbitmq operator app
  argocd-helm-charts/rabbitmq-operator/values.yaml
Due: helm:check_diff

fix: added resource usage on rabbitmq cluster coming from relate
  argocd-helm-charts/relate/charts/relate/templates/rabbitmq.yaml
Due: helm:check_diff

run gitlab runner as priv pod
  argocd-helm-charts/gitlab-runner/values.yaml
Due: helm:check_diff

fix: added default resources for teleport cluster
  argocd-helm-charts/teleport-cluster/values.yaml
Due: helm:check_diff

#9393 added link to version details in the description for Kubernetes EOS/EOL alerts | marked alerts sent when EOS or EOL has already been reached as critical
  build/kube-prometheus/mixins/kube-version/mixin.libsonnet
  build/kube-prometheus/mixins/kube-version/prometheus.yaml
Due: git:push

#9393 added link to version details in the description for Kubernetes EOS/EOL...
  argocd-helm-charts/graylog/templates/mongodb.yaml
  argocd-helm-charts/graylog/values.yaml
  argocd-helm-charts/opensearch-v2/Chart.lock
  argocd-helm-charts/opensearch-v2/Chart.yaml
  argocd-helm-charts/opensearch-v2/Readme.md
  argocd-helm-charts/opensearch-v2/charts/opensearch/.helmignore
  argocd-helm-charts/opensearch-v2/charts/opensearch/CHANGELOG.md
  argocd-helm-charts/opensearch-v2/charts/opensearch/Chart.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/README.md
  argocd-helm-charts/opensearch-v2/charts/opensearch/ci/ci-ingress-class-name-values.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/ci/ci-rbac-enabled-values.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/ci/ci-values.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/NOTES.txt
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/_helpers.tpl
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/configmap.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/extraManifests.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/ingress.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/networkpolicy.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/poddisruptionbudget.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/podsecuritypolicy.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/role.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/rolebinding.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/securityconfig.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/service.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/serviceaccount.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/statefulset.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/values.yaml
  argocd-helm-charts/opensearch-v2/values.yaml
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
