Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

fix: opendesk template
  argocd-helm-charts/opendesk/templates/openebs-tmp-hostpath.yaml
Due: helm:check_diff

fix(kyverno/clusterpolicy/replace-container-image-registries): writing tests and bug fixes
  argocd-helm-charts/kyverno/templates/replace-container-image-registries/.kyverno-test/digest-specified.pod.patched.yaml
  argocd-helm-charts/kyverno/templates/replace-container-image-registries/.kyverno-test/digest-specified.pod.yaml
  argocd-helm-charts/kyverno/templates/replace-container-image-registries/.kyverno-test/kyverno-test.yaml
  argocd-helm-charts/kyverno/templates/replace-container-image-registries/.kyverno-test/policy.yaml
  argocd-helm-charts/kyverno/templates/replace-container-image-registries/.kyverno-test/registry-specified.pod.patched.yaml
  argocd-helm-charts/kyverno/templates/replace-container-image-registries/.kyverno-test/registry-specified.pod.yaml
  argocd-helm-charts/kyverno/templates/replace-container-image-registries/.kyverno-test/registry-unspecified.pod.patched.yaml
  argocd-helm-charts/kyverno/templates/replace-container-image-registries/.kyverno-test/registry-unspecified.pod.yaml
  argocd-helm-charts/kyverno/templates/replace-container-image-registries/.kyverno-test/tag-unspecified.pod.patched.yaml
  argocd-helm-charts/kyverno/templates/replace-container-image-registries/.kyverno-test/tag-unspecified.pod.yaml
  argocd-helm-charts/kyverno/templates/replace-container-image-registries/.kyverno-test/values.yaml
  argocd-helm-charts/kyverno/templates/replace-container-image-registries/policy.yaml
  argocd-helm-charts/kyverno/templates/replace-docker-registry-with-ecr.yaml
Due: helm:check_diff

feat(kyverno): importing the replace-container-registries Kyverno ClusterPolicy
  argocd-helm-charts/kyverno/templates/replace-docker-registry-with-ecr.yaml
Due: helm:check_diff

keycloak pass doc
  argocd-helm-charts/keycloakx/README.md
Due: helm:check_diff

fix: setup ingressroutetcp for puppetdb, when puppetdb fqdn is given
  argocd-helm-charts/openvox/templates/puppetdb-ingressroutetcp.yaml
Due: helm:check_diff

chore: updated Chart.yaml, so its not autoupdated for puppetserver/openvox
  argocd-helm-charts/openvox/Chart.yaml
Due: helm:check_diff

add cert expiry mixin
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/mixins/cert-expiry/mixin.libsonnet
  build/kube-prometheus/mixins/cert-expiry/prometheus.yaml
Due: git:push

add cert expiry mixin https://gitea.obmondo.com/EnableIT/a0hu8x41ng/issues/114
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/mixins/kubelet-cert-expiry/mixin.libsonnet
  build/kube-prometheus/mixins/kubelet-cert-expiry/prometheus.yaml
Due: git:push

fix(capi-cluster/hetzner): remove cluster-signing-duration override (defaults to ~1 year)
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
Due: helm:check_diff

Enable matternelle domain
  argocd-helm-charts/mattermost-operator/Readme.md
  argocd-helm-charts/mattermost-operator/templates/ingress.yaml
  argocd-helm-charts/mattermost-operator/templates/mattermost-installation.yaml
  argocd-helm-charts/mattermost-operator/templates/postgresql-logical-backup.yaml
  argocd-helm-charts/mattermost-operator/values.yaml
Due: helm:check_diff

kept only one monday workflow
  .gitea/workflows/kubeaid.yaml
Due: none

lint fix
  .gitea/workflows/kubeaid.yaml
Due: none

adding container image with helm installed
  .gitea/workflows/helm-update.yaml
Due: none

fix: run r10k as a diff pod, if r10k dies, puppet client would fail to connect to puppetserver, since liveness is broken
  argocd-helm-charts/openvox/values.yaml
Due: helm:check_diff

fix scheme for serviceMonitor to be https , consistent with https port https://gitea.obmondo.com/EnableIT/a0hu8x41ng/issues/36
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Add commit since 19.0.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

Add tls support fixed error in logical backup
  argocd-helm-charts/mattermost-operator/templates/mattermost-installation.yaml
  argocd-helm-charts/mattermost-operator/templates/postgresql-logical-backup.yaml
Due: helm:check_diff

Updated the disk alert to ignore mountpoints for which we don't want the alert for
  argocd-helm-charts/prometheus-linuxaid/rules/disk.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/disk_usage_enabled.yaml
Due: helm:check_diff

changing ignore to ignore_mountpoint
  argocd-helm-charts/prometheus-linuxaid/rules/disk.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/disk_usage_enabled.yaml
Due: helm:check_diff

fixing odoo image
  argocd-helm-charts/odoo/values.yaml
Due: helm:check_diff

Add commit since 19.1.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

add persistence in alertmanager https://gitea.obmondo.com/EnableIT/KubeAid/issues/989
  build/kube-prometheus/common-template.jsonnet
Due: git:push

add restore scripts for mongodb and postgres logical backups and update readme in cnpg and mongodb operators
  argocd-helm-charts/cloudnative-pg/bin/restore.sh
  argocd-helm-charts/cloudnative-pg/readme.md
  argocd-helm-charts/mongodb-operator/Readme.md
  argocd-helm-charts/mongodb-operator/bin/restore.sh
Due: helm:check_diff

docs: add instructions for restoring Mattermost DB and updating DB connection string in version 10.11.4
  argocd-helm-charts/mattermost-operator/Readme.md
Due: helm:check_diff

fix(cert-manager): use http01.solvers.ingress.ingressClassName field name
  argocd-helm-charts/cert-manager/templates/clusterissuer.yaml
Due: helm:check_diff

fix(build): only scrape existing namespaces with kube-prometheus
  build/kube-prometheus/common-template.jsonnet
Due: git:push

fix: run the agent exporter and r10k on the same node where puppetserver is running
  argocd-helm-charts/openvox/values.yaml
Due: helm:check_diff

add support for Adding Cpu and Mem resources for mattermost
  argocd-helm-charts/mattermost-operator/example/mattermost-values.yaml
  argocd-helm-charts/mattermost-operator/templates/mattermost-installation.yaml
Due: helm:check_diff

feat: script fix
  .goreleaser-github.yaml
  .helm_version_last_update
  bin/helm-repo-update.sh
Due: none

test
  argocd-helm-charts/odoo/templates/postgresql-logical-backup.yaml
Due: helm:check_diff

Update stepca url for clusterissuer template
  argocd-helm-charts/cert-manager/templates/clusterissuer.yaml
Due: helm:check_diff

Remove system namespace from prometheus scrape
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Add ACME provisioner to step ca
  argocd-helm-charts/step-ca/values.yaml
Due: helm:check_diff

small bug fix in upstream chart
  argocd-helm-charts/peertube/charts/peertube/templates/deployment.yaml
Due: helm:check_diff
