Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:helm
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:1644571507
  script:
  - ./bin/gitlab-build-and-create-mr.sh

Add resource limit and requests to k8s agent
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

adding redis-operator
  argocd-helm-charts/redis-operator/Chart.lock
  argocd-helm-charts/redis-operator/Chart.yaml
  argocd-helm-charts/redis-operator/charts/redis-operator/.helmignore
  argocd-helm-charts/redis-operator/charts/redis-operator/Chart.yaml
  argocd-helm-charts/redis-operator/charts/redis-operator/crds/databases.spotahome.com_redisfailovers.yaml
  argocd-helm-charts/redis-operator/charts/redis-operator/templates/_helpers.tpl
  argocd-helm-charts/redis-operator/charts/redis-operator/templates/_versions.tpl
  argocd-helm-charts/redis-operator/charts/redis-operator/templates/deployment.yaml
  argocd-helm-charts/redis-operator/charts/redis-operator/templates/monitoring.yaml
  argocd-helm-charts/redis-operator/charts/redis-operator/templates/private-registry.yaml
  argocd-helm-charts/redis-operator/charts/redis-operator/templates/service-account.yaml
  argocd-helm-charts/redis-operator/charts/redis-operator/templates/service.yaml
  argocd-helm-charts/redis-operator/charts/redis-operator/values.yaml
  argocd-helm-charts/redis-operator/values.yaml
Due: helm:check_diff

Lower cpu and memory requests for k8s-agent
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

Support added when cluster is unmanaged.
  build/kube-prometheus/README.md
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/examples/alertmanager-config/alertmanager-main-slack.yaml
  build/kube-prometheus/examples/alertmanager-config/alertmanager-main.yaml
  build/kube-prometheus/examples/k8id_managed.jsonnet
  build/kube-prometheus/examples/kops.jsonnet
  build/kube-prometheus/examples/unmanaged.jsonnet
Due: git:push

added an empty values files for k8id-custom-azure
  argocd-helm-charts/k8id-custom-azure/values.yaml
Due: helm:check_diff

feat: [#6194] added support for postgresql size and storageclass for keycloak feat: [#6194] added a custom helm chart for Azure
  argocd-helm-charts/k8id-custom-azure/Chart.yaml
  argocd-helm-charts/k8id-custom-azure/templates/storageclass.yaml
  argocd-helm-charts/keycloakx/templates/postgresql.yaml
  argocd-helm-charts/keycloakx/values.yaml
Due: helm:check_diff

Update docs for adding k8s-agent
  argocd-helm-charts/obmondo-k8s-agent/Readme.md
Due: helm:check_diff

doc:no-diff improving argocd-helm chart doc
  docs/argocd_helm_charts.md
Due: none

:no-diff traefik add whitelisting feature
  argocd-helm-charts/traefik/examples/ip-white-list.yaml
  argocd-helm-charts/traefik/templates/white-list.yaml
Due: helm:check_diff

:no-diff lint fix
  argocd-helm-charts/traefik/examples/ip-white-list.yaml
Due: helm:check_diff

[issue #7941 #7940] Fix velero backup failure alerts
  build/kube-prometheus/mixins/velero/mixin.libsonnet
  build/kube-prometheus/mixins/velero/prometheus.yaml
Due: git:push

[#8002] add grafana redirect url on logout only when keycloak is enabled
  build/kube-prometheus/common-template.jsonnet
Due: git:push

[#8002] skip setting up oauth client secret when no keycloak is setup and have the default admin secret in place
  build/kube-prometheus/common-template.jsonnet
Due: git:push

[issue #7940] Improve velero documentation
  argocd-helm-charts/velero/README.md
Due: helm:check_diff

[##7778]doc:no-diff adding gitlab & github doc for creating Access tokens
  docs/access_token/github.md
  docs/access_token/gitlab.md
Due: none

doc: [#6194] add a oneliner for creating argocd-secret with keycloak client secret
  argocd-helm-charts/argo-cd/readme.md
Due: helm:check_diff

[#7984] Misc fixes.
  terraform/aws/kops/main.tf
  terraform/aws/kops/state.tf
  terraform/aws/kops/templates/admin_ssh_keys.tpl
  terraform/aws/kops/variables.tf
  terraform/helm/README.md
  terraform/helm/argocd.tf
  terraform/helm/argocd.yaml
  terraform/helm/outputs.tf
  terraform/helm/providers.tf
  terraform/helm/variables.tf
  terragrunt/README.md
  terragrunt/REFERENCE.md
  terragrunt/kops/README.md
  terragrunt/kops/helm/terragrunt.hcl
  terragrunt/kops/peering/terragrunt.hcl
  terragrunt/kops/terragrunt.hcl
Due: none

Fix incorrect bash command
  argocd-helm-charts/Readme.md
Due: helm:check_diff

stick to http port when its for kubeadm platform
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
