Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

Enable backup to use kube2iam for AWS credentials
  argocd-helm-charts/sealed-secrets/templates/cronjob.yaml
Due: helm:check_diff

Enable using S3 without specifying an endpoint
  argocd-helm-charts/sealed-secrets/templates/configmap.yaml
Due: helm:check_diff

Upgrading Argo-CD chart used by the installation system, to one supporting Argo-CD 2.6
  terraform/helm/argocd.tf
Due: none

Fixed sealed-secrets, so that it can be used with network policies and without backup
  argocd-helm-charts/sealed-secrets/templates/netpol-default.yaml
  argocd-helm-charts/sealed-secrets/templates/netpol-sealed-secrets.yaml
Due: helm:check_diff

:no-diff [#10280] added netbird support, do disable the bgp mesh route for bare metal servers
  argocd-helm-charts/tigera-operator/templates/bgpConfiguration.yaml
  argocd-helm-charts/tigera-operator/values.yaml
Due: helm:check_diff

[#11476 #11548] bumped the obmondo-k8s-agent which fixes the eos/eol alerts
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
Due: helm:check_diff

move to gplv3
  LICENSE
Due: none

[#11815]extend postgress pvc size to 4GiB
  argocd-helm-charts/relate/charts/relate/templates/postgres.yaml
  argocd-helm-charts/relate/charts/relate/values.yaml
Due: helm:check_diff

:no-diff [#7953] ignore netbird interface when setting up bgp mesh route
  argocd-helm-charts/tigera-operator/templates/bgpConfiguration.yaml
Due: helm:check_diff

#11476 Fix alert description and summary of EOS and EOL alerts
  build/kube-prometheus/mixins/kube-version/mixin.libsonnet
Due: git:push

#11896 Increase Prometheus PVC size
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Raise default request size for prometheus
  build/kube-prometheus/common-template.jsonnet
Due: git:push

Add Postgres Recovery method
  argocd-helm-charts/postgres-operator/README.md
Due: helm:check_diff

Add upgrade check step
  argocd-helm-charts/graylog/README.md
Due: helm:check_diff

#12182 remove OpenSearch version 7 in graylog config
  argocd-helm-charts/graylog/values.yaml
Due: helm:check_diff

[#11548] fixed the typo in argocd memory resource
  argocd-helm-charts/argo-cd/values.yaml
Due: helm:check_diff

[#12187 #11548] fixed the argocd resource limit for server
  argocd-helm-charts/argo-cd/values.yaml
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
