Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:helm
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:1644571507
  script:
  - ./bin/gitlab-build-and-create-mr.sh

:no-diff Updated sealed secret readme page
  argocd-helm-charts/sealed-secrets/README.md
Due: helm:check_diff

:no-diff fix lint errors
  argocd-helm-charts/sealed-secrets/README.md
Due: helm:check_diff

:no-diff fix linting errors
  argocd-helm-charts/sealed-secrets/README.md
Due: helm:check_diff

[issue #10345 ]Upgraded Gatekeeper Helm chart to 3.11.0
  argocd-helm-charts/gatekeeper/Chart.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/Chart.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/README.md
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/assign-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/assignmetadata-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/config-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/constraintpodstatus-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/constrainttemplate-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/constrainttemplatepodstatus-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/expansiontemplate-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/modifyset-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/mutatorpodstatus-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/crds/provider-customresourcedefinition.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/templates/_helpers.tpl
  argocd-helm-charts/gatekeeper/charts/gatekeeper/templates/gatekeeper-audit-deployment.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/templates/gatekeeper-controller-manager-deployment.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/templates/gatekeeper-mutating-webhook-configuration-mutatingwebhookconfiguration.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/templates/gatekeeper-validating-webhook-configuration-validatingwebhookconfiguration.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/templates/namespace-post-install.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/templates/namespace-post-upgrade.yaml
  argocd-helm-charts/gatekeeper/charts/gatekeeper/values.yaml
  argocd-helm-charts/gatekeeper/readme.md
  argocd-helm-charts/gatekeeper/requirements.lock
Due: helm:check_diff

[#6205] added servicemonitor for graylog
  argocd-helm-charts/graylog/values.yaml
Due: helm:check_diff

#7996 Add instructions for adding pushupdate user for automating updates
  docs/Readme.md
Due: none

#10414 Increase prometheus limit to stop OOM errors
  build/kube-prometheus/common-template.jsonnet
Due: git:push

#10292 Remove resource requests and limits from redis-operator
  argocd-helm-charts/redis-operator/charts/redis-operator/values.yaml
Due: helm:check_diff

#10047 Remove cpu limits from grafana
  build/kube-prometheus/common-template.jsonnet
Due: git:push

k8id.io is official website
  README.md
Due: none

its affero gpl - not just gpl
  README.md
Due: none

added toggle to change postgres instance for mattermost app
  argocd-helm-charts/mattermost-team-edition/templates/postgresql.yaml
Due: helm:check_diff

[CI] Helm Chart Update aws-ebs-csi-driver
  argocd-helm-charts/aws-ebs-csi-driver/Chart.lock
  argocd-helm-charts/aws-ebs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/CHANGELOG.md
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/controller.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/node-windows.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/node.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/templates/tests/helm-tester.yaml
  argocd-helm-charts/aws-ebs-csi-driver/charts/aws-ebs-csi-driver/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update aws-efs-csi-driver
  argocd-helm-charts/aws-efs-csi-driver/Chart.lock
  argocd-helm-charts/aws-efs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/CHANGELOG.md
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/templates/node-daemonset.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update cert-manager
  argocd-helm-charts/cert-manager/Chart.lock
  argocd-helm-charts/cert-manager/Chart.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/Chart.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/README.md
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/crds.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/deployment.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-config.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/templates/webhook-deployment.yaml
  argocd-helm-charts/cert-manager/charts/cert-manager/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update cluster-autoscaler
  argocd-helm-charts/cluster-autoscaler/Chart.lock
  argocd-helm-charts/cluster-autoscaler/Chart.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/README.md
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/README.md.gotmpl
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/templates/_helpers.tpl
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/templates/deployment.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update dokuwiki
  argocd-helm-charts/dokuwiki/Chart.lock
  argocd-helm-charts/dokuwiki/Chart.yaml
  argocd-helm-charts/dokuwiki/charts/dokuwiki/Chart.lock
  argocd-helm-charts/dokuwiki/charts/dokuwiki/Chart.yaml
  argocd-helm-charts/dokuwiki/charts/dokuwiki/README.md
  argocd-helm-charts/dokuwiki/charts/dokuwiki/charts/common/Chart.yaml
  argocd-helm-charts/dokuwiki/charts/dokuwiki/charts/common/README.md
  argocd-helm-charts/dokuwiki/charts/dokuwiki/charts/common/templates/_affinities.tpl
  argocd-helm-charts/dokuwiki/charts/dokuwiki/charts/common/templates/_ingress.tpl
  argocd-helm-charts/dokuwiki/charts/dokuwiki/charts/common/templates/_names.tpl
  argocd-helm-charts/dokuwiki/charts/dokuwiki/charts/common/templates/_secrets.tpl
  argocd-helm-charts/dokuwiki/charts/dokuwiki/charts/common/templates/_utils.tpl
  argocd-helm-charts/dokuwiki/charts/dokuwiki/templates/tls-secrets.yaml
  argocd-helm-charts/dokuwiki/charts/dokuwiki/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update external-dns
  argocd-helm-charts/external-dns/Chart.lock
  argocd-helm-charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/Chart.lock
  argocd-helm-charts/external-dns/charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/README.md
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/README.md
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/_affinities.tpl
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/_ingress.tpl
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/_names.tpl
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/_secrets.tpl
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/_utils.tpl
  argocd-helm-charts/external-dns/charts/external-dns/templates/_helpers.tpl
  argocd-helm-charts/external-dns/charts/external-dns/templates/dep-ds.yaml
  argocd-helm-charts/external-dns/charts/external-dns/templates/psp-clusterrole.yaml
  argocd-helm-charts/external-dns/charts/external-dns/templates/psp-clusterrolebinding.yaml
  argocd-helm-charts/external-dns/charts/external-dns/templates/secret.yaml
  argocd-helm-charts/external-dns/charts/external-dns/templates/tls-secret.yaml
  argocd-helm-charts/external-dns/charts/external-dns/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update fluent-bit
  argocd-helm-charts/fluent-bit/Chart.lock
  argocd-helm-charts/fluent-bit/Chart.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/Chart.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/templates/servicemonitor.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/templates/vpa.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update gitlab-runner
  argocd-helm-charts/gitlab-runner/Chart.lock
  argocd-helm-charts/gitlab-runner/Chart.yaml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/CHANGELOG.md
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/Chart.yaml
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
