Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

Minor Change
  argocd-helm-charts/oncall/values.yaml
Due: helm:check_diff

Add relevant comments
  argocd-helm-charts/oncall/values.yaml
Due: helm:check_diff

Minor Changes
  argocd-helm-charts/oncall/templates/postgresql.yaml
  argocd-helm-charts/oncall/values.yaml
Due: helm:check_diff

[#11850] Exclude velero backups from ArgoCD diffs
  argocd-helm-charts/argo-cd/values.yaml
Due: helm:check_diff

[#13613] Add support to add only routes to existing routetable
  terraform/azure/routes/routes.tf
  terraform/azure/routes/variables.tf
Due: none

[#13597] Fix opensearch Readme
  argocd-helm-charts/opensearch/README.md
Due: helm:check_diff

Increased limit.cpu and requests.cpu to 250, since that much is mandatory, by zolando postgres operator
  argocd-helm-charts/mattermost-team-edition/values.yaml
Due: helm:check_diff

[#13763] Add readme to add an alertmanager secret
  build/kube-prometheus/README.md
Due: git:push

[#13602] allow externals-snapshotter to talk to aws api endpoints, by adding some backup labels in the velero schedule
  argocd-helm-charts/external-snapshotter/templates/netpol-snapshot-validation-webhook.yaml
  argocd-helm-charts/velero/templates/velero-schedules.yaml
Due: helm:check_diff

Add graylog Upgrade instruction and remove opensearch-v2
  argocd-helm-charts/graylog/README.md
  argocd-helm-charts/opensearch-v2/Chart.lock
  argocd-helm-charts/opensearch-v2/Chart.yaml
  argocd-helm-charts/opensearch-v2/Readme.md
  argocd-helm-charts/opensearch-v2/charts/opensearch/.helmignore
  argocd-helm-charts/opensearch-v2/charts/opensearch/CHANGELOG.md
  argocd-helm-charts/opensearch-v2/charts/opensearch/Chart.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/README.md
  argocd-helm-charts/opensearch-v2/charts/opensearch/ci/ci-ingress-class-name-values.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/ci/ci-rbac-enabled-values.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/ci/ci-values.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/NOTES.txt
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/_helpers.tpl
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/configmap.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/extraManifests.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/ingress.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/networkpolicy.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/poddisruptionbudget.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/podsecuritypolicy.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/role.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/rolebinding.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/securityconfig.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/service.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/serviceaccount.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/templates/statefulset.yaml
  argocd-helm-charts/opensearch-v2/charts/opensearch/values.yaml
  argocd-helm-charts/opensearch-v2/values.yaml
  argocd-helm-charts/opensearch/values.yaml
Due: helm:check_diff

changed the gitea runner image, since it was not the official one and fixed the env as per the official docker image.
  argocd-helm-charts/gitea-runner/charts/act-runner/templates/deployment.yaml
  argocd-helm-charts/gitea-runner/charts/act-runner/values.yaml
Due: helm:check_diff

bug fix: fixed the typo in prom alert for node-count
  build/kube-prometheus/mixins/node-count/mixin.libsonnet
Due: git:push

:no-diff fixed the netpol for sonarqube
  argocd-helm-charts/sonarqube/templates/netpol-postgresql.yaml
Due: helm:check_diff

[#13769] Increase memory alert threshold to 85%
  build/kube-prometheus/mixins/memory/mixin.libsonnet
Due: git:push

:no-diff fix doc for templating sealed secret
  argocd-helm-charts/sealed-secrets/README.md
Due: helm:check_diff

:no-diff fix lint issues
  argocd-helm-charts/sealed-secrets/README.md
Due: helm:check_diff

Add guide to reset grafana password
  build/kube-prometheus/README.md
Due: git:push

[#13768] Fix netpols in sonarqube
  argocd-helm-charts/sonarqube/templates/netpol-default.yaml
  argocd-helm-charts/sonarqube/templates/netpol-postgresql.yaml
  argocd-helm-charts/sonarqube/templates/netpol-sonarqube.yaml
Due: helm:check_diff

Updated Velero backup failed alert expression with newer metric
  build/kube-prometheus/mixins/velero/mixin.libsonnet
  build/kube-prometheus/mixins/velero/prometheus.yaml
Due: git:push

change the tag of kube2iam to the old one
  argocd-helm-charts/kube2iam/values.yaml
Due: helm:check_diff

[#13976] Increase the memroy limit for filebeat app
  argocd-helm-charts/filebeat/values.yaml
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
