Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

update add-commits script to support github commit hash link by adding relative link to commit hash
  bin/add-commits.sh
Due: none

removed the bin/tag-update.sh script
  bin/tag-update.sh
Due: none

Add config repo tag updater script and install yq
  .gitea/Dockerfile
  bin/tag-update.sh
Due: none

feat: added a support for updating argocd template file with correct tag and added doc as well
  .gitea/Dockerfile
  README.md
  bin/update-kubeaid-argocd-app.sh
  docs/update_kubeaid_argocd_apps.md
Due: none

fix: the image tag for the kubeaid-ci container image
  .gitea/workflows/container-image.yaml
Due: none

fix: run the ci, when the workflow file is change for container image build
  .gitea/workflows/container-image.yaml
Due: none

fix: the context for docker build and removed obsolete options for template workflow
  .gitea/workflows/container-image.yaml
Due: none

updated the dockerfile to use a noble base image
  .gitea/Dockerfile
Due: none

fixed the golang version in the dockerfile, after changing the base image
  .gitea/Dockerfile
Due: none

Adding support for specifying root EBS volume size
  argocd-helm-charts/capi-cluster/charts/aws/templates/AWSMachinePool.yaml
  argocd-helm-charts/capi-cluster/charts/aws/templates/AWSMachineTemplate.yaml
Due: helm:check_diff

fix: cert-manager failed to get parsed, due to templating issue feat: added dnszone support
  argocd-helm-charts/cert-manager/templates/clusterissuer.yaml
Due: helm:check_diff

Upgrading ClusterAPI and Cluster API Provider AWS versions in the capi-cluster KubeAid app
  argocd-helm-charts/capi-cluster/values.yaml
Due: helm:check_diff

add steps to generate argocd token
  argocd-helm-charts/argo-cd/Readme.md
Due: helm:check_diff

feat: added support for wildcard support in traefik
  argocd-helm-charts/cert-manager/values.yaml
  argocd-helm-charts/traefik/templates/_helpers.tpl
  argocd-helm-charts/traefik/templates/whitelists.yaml
  argocd-helm-charts/traefik/templates/wildcard-certificate.yaml
Due: helm:check_diff

feat: added a logic to fail, if the wildcard domain is not given in correct format
  argocd-helm-charts/traefik/temp.yaml
  argocd-helm-charts/traefik/templates/wildcard-certificate.yaml
Due: helm:check_diff

fix: show only the count of the k8s EOL/EOS alerts, so we avoid creating multiple tickets for the same incident
  build/kube-prometheus/mixins/kube-version/mixin.libsonnet
Due: git:push

add alert and test for dns-resoluton
  argocd-helm-charts/prometheus-linuxaid/rules/dns.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/dns.yaml
Due: helm:check_diff

add additional condition for the dns resolution alert
  argocd-helm-charts/prometheus-linuxaid/rules/dns.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/dns.yaml
Due: helm:check_diff

add prometheus rule template and update value file for dns alert
  argocd-helm-charts/prometheus-linuxaid/templates/prometheusRule-dns.yaml
  argocd-helm-charts/prometheus-linuxaid/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update kubernetes-dashboard
  CHANGELOG.md
  argocd-helm-charts/kubernetes-dashboard/Chart.lock
  argocd-helm-charts/kubernetes-dashboard/Chart.yaml
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/Chart.yaml
  argocd-helm-charts/kubernetes-dashboard/charts/kubernetes-dashboard/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update gitlab-runner
  CHANGELOG.md
  argocd-helm-charts/gitlab-runner/Chart.lock
  argocd-helm-charts/gitlab-runner/Chart.yaml
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/CHANGELOG.md
  argocd-helm-charts/gitlab-runner/charts/gitlab-runner/Chart.yaml
Due: helm:check_diff

[CI] Helm Chart Update velero
  CHANGELOG.md
  argocd-helm-charts/velero/Chart.lock
  argocd-helm-charts/velero/Chart.yaml
  argocd-helm-charts/velero/charts/velero/Chart.yaml
  argocd-helm-charts/velero/charts/velero/templates/deployment.yaml
Due: helm:check_diff

[CI] Helm Chart Update redmine
  CHANGELOG.md
  argocd-helm-charts/redmine/Chart.lock
  argocd-helm-charts/redmine/Chart.yaml
  argocd-helm-charts/redmine/charts/redmine/Chart.lock
  argocd-helm-charts/redmine/charts/redmine/Chart.yaml
  argocd-helm-charts/redmine/charts/redmine/README.md
  argocd-helm-charts/redmine/charts/redmine/charts/common/Chart.yaml
  argocd-helm-charts/redmine/charts/redmine/charts/common/templates/_affinities.tpl
  argocd-helm-charts/redmine/charts/redmine/charts/common/templates/_tplvalues.tpl
  argocd-helm-charts/redmine/charts/redmine/charts/common/templates/validations/_cassandra.tpl
  argocd-helm-charts/redmine/charts/redmine/charts/common/templates/validations/_mongodb.tpl
  argocd-helm-charts/redmine/charts/redmine/charts/common/templates/validations/_mysql.tpl
  argocd-helm-charts/redmine/charts/redmine/charts/common/templates/validations/_postgresql.tpl
  argocd-helm-charts/redmine/charts/redmine/charts/common/templates/validations/_redis.tpl
  argocd-helm-charts/redmine/charts/redmine/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update external-dns
  CHANGELOG.md
  argocd-helm-charts/external-dns/Chart.lock
  argocd-helm-charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/templates/deployment.yaml
  argocd-helm-charts/external-dns/charts/external-dns/values.yaml
Due: helm:check_diff

Update to new tag for Kubeaid
  CHANGELOG.md
Due: none

Add commit since 4.3.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

[CI] Helm Chart Update opencost
  CHANGELOG.md
  argocd-helm-charts/opencost/Chart.lock
  argocd-helm-charts/opencost/Chart.yaml
  argocd-helm-charts/opencost/charts/opencost/Chart.yaml
  argocd-helm-charts/opencost/charts/opencost/README.md
  argocd-helm-charts/opencost/charts/opencost/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update argocd-image-updater
  CHANGELOG.md
  argocd-helm-charts/argocd-image-updater/Chart.yaml
  argocd-helm-charts/argocd-image-updater/charts/argocd-image-updater/Chart.yaml
  argocd-helm-charts/argocd-image-updater/charts/argocd-image-updater/README.md
  argocd-helm-charts/argocd-image-updater/charts/argocd-image-updater/templates/rbac.yaml
  argocd-helm-charts/argocd-image-updater/charts/argocd-image-updater/values.yaml
  argocd-helm-charts/argocd-image-updater/requirements.lock
Due: helm:check_diff

[CI] Helm Chart Update traefik
  CHANGELOG.md
  argocd-helm-charts/traefik/Chart.lock
  argocd-helm-charts/traefik/Chart.yaml
  argocd-helm-charts/traefik/charts/traefik/Changelog.md
  argocd-helm-charts/traefik/charts/traefik/Chart.yaml
  argocd-helm-charts/traefik/charts/traefik/EXAMPLES.md
  argocd-helm-charts/traefik/charts/traefik/VALUES.md
  argocd-helm-charts/traefik/charts/traefik/crds/gateway-standard-install-v1.2.0.yaml
  argocd-helm-charts/traefik/charts/traefik/crds/traefik.io_ingressroutes.yaml
  argocd-helm-charts/traefik/charts/traefik/crds/traefik.io_ingressroutetcps.yaml
  argocd-helm-charts/traefik/charts/traefik/crds/traefik.io_ingressrouteudps.yaml
  argocd-helm-charts/traefik/charts/traefik/crds/traefik.io_middlewares.yaml
  argocd-helm-charts/traefik/charts/traefik/crds/traefik.io_middlewaretcps.yaml
  argocd-helm-charts/traefik/charts/traefik/crds/traefik.io_serverstransports.yaml
  argocd-helm-charts/traefik/charts/traefik/crds/traefik.io_serverstransporttcps.yaml
  argocd-helm-charts/traefik/charts/traefik/crds/traefik.io_tlsoptions.yaml
  argocd-helm-charts/traefik/charts/traefik/crds/traefik.io_tlsstores.yaml
  argocd-helm-charts/traefik/charts/traefik/crds/traefik.io_traefikservices.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/_helpers.tpl
  argocd-helm-charts/traefik/charts/traefik/templates/_podtemplate.tpl
  argocd-helm-charts/traefik/charts/traefik/templates/gateway.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/rbac/clusterrole.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/requirements.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/service.yaml
  argocd-helm-charts/traefik/charts/traefik/values.schema.json
  argocd-helm-charts/traefik/charts/traefik/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update tigera-operator
  CHANGELOG.md
  argocd-helm-charts/tigera-operator/Chart.lock
  argocd-helm-charts/tigera-operator/Chart.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/Chart.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/README.md
  argocd-helm-charts/tigera-operator/charts/tigera-operator/crds/calico/crd.projectcalico.org_bgpfilters.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/crds/calico/crd.projectcalico.org_felixconfigurations.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/crds/calico/crd.projectcalico.org_globalnetworkpolicies.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/crds/calico/crd.projectcalico.org_networkpolicies.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/crds/calico/crd.projectcalico.org_tiers.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/crds/calico/policy.networking.k8s.io_adminnetworkpolicies.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/crds/operator.tigera.io_apiservers_crd.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/crds/operator.tigera.io_imagesets_crd.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/crds/operator.tigera.io_installations_crd.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/crds/operator.tigera.io_tigerastatuses_crd.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/templates/_helpers.tpl
  argocd-helm-charts/tigera-operator/charts/tigera-operator/templates/tigera-operator/00-uninstall.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/templates/tigera-operator/01-imagepullsecret.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/templates/tigera-operator/02-configmap-calico-resources.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/templates/tigera-operator/02-role-tigera-operator.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/templates/tigera-operator/02-rolebinding-tigera-operator.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/templates/tigera-operator/02-serviceaccount-tigera-operator.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/templates/tigera-operator/02-tigera-operator.yaml
  argocd-helm-charts/tigera-operator/charts/tigera-operator/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update argo-cd
  CHANGELOG.md
  argocd-helm-charts/argo-cd/Chart.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/Chart.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/README.md
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-application-controller/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-server/clusterrole.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-server/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/crds/crd-application.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/crds/crd-applicationset.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/crds/crd-project.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/dex/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/values.yaml
  argocd-helm-charts/argo-cd/requirements.lock
Due: helm:check_diff

[CI] Helm Chart Update cluster-autoscaler
  CHANGELOG.md
  argocd-helm-charts/cluster-autoscaler/Chart.lock
  argocd-helm-charts/cluster-autoscaler/Chart.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/Chart.yaml
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/README.md
  argocd-helm-charts/cluster-autoscaler/charts/cluster-autoscaler/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update crossplane
  CHANGELOG.md
  argocd-helm-charts/crossplane/Chart.lock
  argocd-helm-charts/crossplane/Chart.yaml
  argocd-helm-charts/crossplane/charts/crossplane/Chart.yaml
  argocd-helm-charts/crossplane/charts/crossplane/README.md
  argocd-helm-charts/crossplane/charts/crossplane/templates/deployment.yaml
  argocd-helm-charts/crossplane/charts/crossplane/templates/rbac-manager-deployment.yaml
  argocd-helm-charts/crossplane/charts/crossplane/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update external-dns
  CHANGELOG.md
  argocd-helm-charts/external-dns/Chart.lock
  argocd-helm-charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/Chart.lock
  argocd-helm-charts/external-dns/charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/README.md
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/_affinities.tpl
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/_tplvalues.tpl
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/validations/_cassandra.tpl
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/validations/_mongodb.tpl
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/validations/_mysql.tpl
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/validations/_postgresql.tpl
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/validations/_redis.tpl
  argocd-helm-charts/external-dns/charts/external-dns/templates/deployment.yaml
  argocd-helm-charts/external-dns/charts/external-dns/templates/servicemonitor.yaml
  argocd-helm-charts/external-dns/charts/external-dns/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update keda
  CHANGELOG.md
  argocd-helm-charts/keda/Chart.lock
  argocd-helm-charts/keda/Chart.yaml
  argocd-helm-charts/keda/charts/keda/Chart.yaml
  argocd-helm-charts/keda/charts/keda/README.md
  argocd-helm-charts/keda/charts/keda/templates/NOTES.txt
  argocd-helm-charts/keda/charts/keda/templates/crds/crd-clustercloudeventsources.yaml
  argocd-helm-charts/keda/charts/keda/templates/crds/crd-scaledjobs.yaml
  argocd-helm-charts/keda/charts/keda/templates/crds/crd-scaledobjects.yaml
  argocd-helm-charts/keda/charts/keda/templates/manager/clusterrole.yaml
  argocd-helm-charts/keda/charts/keda/templates/manager/minimal-rbac.yaml
  argocd-helm-charts/keda/charts/keda/templates/manager/service.yaml
  argocd-helm-charts/keda/charts/keda/templates/metrics-server/clusterrole.yaml
  argocd-helm-charts/keda/charts/keda/templates/metrics-server/clusterrolebinding.yaml
  argocd-helm-charts/keda/charts/keda/templates/metrics-server/deployment.yaml
  argocd-helm-charts/keda/charts/keda/templates/metrics-server/service.yaml
  argocd-helm-charts/keda/charts/keda/templates/webhooks/service.yaml
  argocd-helm-charts/keda/charts/keda/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update mariadb-operator
  CHANGELOG.md
  argocd-helm-charts/mariadb-operator/Chart.lock
  argocd-helm-charts/mariadb-operator/Chart.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/Chart.lock
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/Chart.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/README.md
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/charts/mariadb-operator-crds/Chart.yaml
  argocd-helm-charts/mariadb-operator/charts/mariadb-operator/templates/configmap.yaml
Due: helm:check_diff

[CI] Helm Chart Update metallb
  CHANGELOG.md
  argocd-helm-charts/metallb/Chart.lock
  argocd-helm-charts/metallb/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/Chart.lock
  argocd-helm-charts/metallb/charts/metallb/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/README.md
  argocd-helm-charts/metallb/charts/metallb/charts/common/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/charts/common/templates/_affinities.tpl
  argocd-helm-charts/metallb/charts/metallb/charts/common/templates/_tplvalues.tpl
  argocd-helm-charts/metallb/charts/metallb/charts/common/templates/validations/_cassandra.tpl
  argocd-helm-charts/metallb/charts/metallb/charts/common/templates/validations/_mongodb.tpl
  argocd-helm-charts/metallb/charts/metallb/charts/common/templates/validations/_mysql.tpl
  argocd-helm-charts/metallb/charts/metallb/charts/common/templates/validations/_postgresql.tpl
  argocd-helm-charts/metallb/charts/metallb/charts/common/templates/validations/_redis.tpl
  argocd-helm-charts/metallb/charts/metallb/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update oncall
  CHANGELOG.md
  argocd-helm-charts/oncall/Chart.lock
  argocd-helm-charts/oncall/Chart.yaml
  argocd-helm-charts/oncall/charts/oncall/Chart.lock
  argocd-helm-charts/oncall/charts/oncall/Chart.yaml
Due: helm:check_diff

[CI] Helm Chart Update opensearch
  CHANGELOG.md
  argocd-helm-charts/opensearch/Chart.lock
  argocd-helm-charts/opensearch/Chart.yaml
  argocd-helm-charts/opensearch/charts/opensearch/CHANGELOG.md
  argocd-helm-charts/opensearch/charts/opensearch/Chart.yaml
Due: helm:check_diff
