Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:helm
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:1644571507
  script:
  - ./bin/gitlab-build-and-create-mr.sh

skip keycloak helm chart update in gitlab CI
  .gitlab-ci.yml
  bin/helm-repo-update.sh
Due: none

sh lint fix for helm repo update script
  bin/helm-repo-update.sh
Due: none

lets not skip keycloak, since we need to release git tag 1.0.0 with keycloak 19.x
  .gitlab-ci.yml
Due: none

opensearch s3 backup cron
  argocd-helm-charts/opensearch/templates/s3-backup-cronjob.yaml
Due: helm:check_diff

Updated keycloakx helm chart to 20.0.3 (appversion)
  argocd-helm-charts/keycloakx/Chart.lock
  argocd-helm-charts/keycloakx/Chart.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/.bumpversion.cfg
  argocd-helm-charts/keycloakx/charts/keycloakx/Chart.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/README.md
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/_helpers.tpl
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/networkpolicy.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/service-headless.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/service-http.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/statefulset.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/values.schema.json
  argocd-helm-charts/keycloakx/charts/keycloakx/values.yaml
Due: helm:check_diff

terraform/aws/peering: Fixed and modified peering code, to allow peerings with other vpcs besides a wireguard one
  terraform/aws/peering/extra_peering.tf
  terraform/aws/peering/outputs.tf
  terraform/aws/peering/peering.tf
  terraform/aws/peering/peerings/peer.tf
  terraform/aws/peering/variables.tf
Due: none

Upgrade the terraform kops provider, to get better support for k8s >= 1.23
  terraform/aws/cluster/main.tf
  terragrunt/kops/cluster/terragrunt.hcl
Due: none

Enable force_destroy on route53 zone
  terraform/aws/vpc/route53.tf
Due: none

Improved the doc about the k8id-config repo
  README.md
Due: none

#10930 Add Readme for Cluster Autoscaler Helm chart
  argocd-helm-charts/cluster-autoscaler/Readme.md
Due: helm:check_diff

:no-diff 10911 Move haproxy values.yaml to kuberentes-config-enableit and examples
  argocd-helm-charts/haproxy/examples/remove-default-ports-values.yaml
  argocd-helm-charts/haproxy/values.yaml
  bin/helm-diff.sh
Due: helm:check_diff

[# 9493] Support sealedkeys backup
  argocd-helm-charts/sealed-secrets/Chart.lock
  argocd-helm-charts/sealed-secrets/Chart.yaml
  argocd-helm-charts/sealed-secrets/README.md
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/Chart.yaml
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/README.md
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/crds/sealedsecret-crd.yaml
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/templates/_helpers.tpl
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/values.yaml
  argocd-helm-charts/sealed-secrets/example/values.yaml
  argocd-helm-charts/sealed-secrets/templates/configmap.yaml
  argocd-helm-charts/sealed-secrets/templates/cronjob.yaml
  argocd-helm-charts/sealed-secrets/templates/netpol-backup-sealed-secrets.yaml
  argocd-helm-charts/sealed-secrets/values.yaml
Due: helm:check_diff

:no-diff updating keycloak appliaction doc
  argocd-helm-charts/keycloak/README.md
Due: helm:check_diff

:no-diff 10911 Undo move of haproxy values
  argocd-helm-charts/haproxy/examples/remove-default-ports-values.yaml
  argocd-helm-charts/haproxy/values.yaml
Due: helm:check_diff

:no-diff added backup sealed secret netpol when networkpolicy is set to true
  argocd-helm-charts/sealed-secrets/templates/netpol-backup-sealed-secrets.yaml
  argocd-helm-charts/sealed-secrets/templates/netpol-sealed-secrets.yaml
Due: helm:check_diff

[#11007] add prometheus retention period
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/examples/kops.jsonnet
Due: git:push

[#11007] fixed the CI to build the kube prometheus config files
  bin/gitlab-build-and-create-mr.sh
Due: none

[#10839] relate pvc was missing NS
  argocd-helm-charts/relate/charts/relate/templates/pvc.yaml
Due: helm:check_diff

terragrunt/kops: Enable the configuration of subnets for custom instance groups
  terraform/aws/cluster/main.tf
  terraform/aws/cluster/variables.tf
Due: none

[#11027] Azure blob support
  argocd-helm-charts/sealed-secrets/example/values.yaml
  argocd-helm-charts/sealed-secrets/templates/configmap.yaml
  argocd-helm-charts/sealed-secrets/templates/cronjob.yaml
  argocd-helm-charts/sealed-secrets/values.yaml
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
