Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

add mixtool in kubeai ci docker image
  .gitea/Dockerfile
Due: none

Add commit since 6.1.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

[CI] Helm Chart Update teleport-cluster
  CHANGELOG.md
  argocd-helm-charts/teleport-cluster/Chart.lock
  argocd-helm-charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_provisiontokens.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/templates/role.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/tests/role_test.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_clusterrole_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_config_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_deployment_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/proxy_config_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/proxy_deployment_test.yaml.snap
Due: helm:check_diff

[CI] Helm Chart Update teleport-kube-agent
  CHANGELOG.md
  argocd-helm-charts/teleport-kube-agent/Chart.lock
  argocd-helm-charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/deployment_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/job_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/statefulset_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/updater_deployment_test.yaml.snap
Due: helm:check_diff

[CI] Helm Chart Update velero
  CHANGELOG.md
  argocd-helm-charts/velero/Chart.lock
  argocd-helm-charts/velero/Chart.yaml
  argocd-helm-charts/velero/charts/velero/Chart.yaml
  argocd-helm-charts/velero/charts/velero/templates/node-agent-daemonset.yaml
  argocd-helm-charts/velero/charts/velero/values.yaml
Due: helm:check_diff

Update to new tag for Kubeaid
  CHANGELOG.md
Due: none

Add recovery doc for cnpg cluster
  argocd-helm-charts/cloudnative-pg/readme.md
Due: helm:check_diff

Make dnszone and dns hostedzone optional for cloudflare
  argocd-helm-charts/cert-manager/templates/clusterissuer.yaml
Due: helm:check_diff

Add keycloak Upgrade guide
  argocd-helm-charts/keycloakx/doc/keycloak.md
  argocd-helm-charts/keycloakx/static/export.png
  argocd-helm-charts/keycloakx/static/export1.png
Due: helm:check_diff

add mixtool lint check in ci for jsonnet files
  .gitea/workflows/promtool.yaml
  bin/lint-jsonnetfmt.sh
Due: none

fix mixtool lint
  build/kube-prometheus/mixins/argo-cd/mixin.libsonnet
  build/kube-prometheus/mixins/argo-cd/prometheus.yaml
  build/kube-prometheus/mixins/kube-version/mixin.libsonnet
  build/kube-prometheus/mixins/kube-version/prometheus.yaml
  build/kube-prometheus/mixins/mdraid/mixin.libsonnet
  build/kube-prometheus/mixins/mdraid/prometheus.yaml
  build/kube-prometheus/mixins/monitoring/mixin.libsonnet
  build/kube-prometheus/mixins/monitoring/prometheus.yaml
  build/kube-prometheus/mixins/smartmon/mixin.libsonnet
  build/kube-prometheus/mixins/smartmon/prometheus.yaml
  build/kube-prometheus/mixins/velero/mixin.libsonnet
  build/kube-prometheus/mixins/velero/prometheus.yaml
  build/kube-prometheus/mixins/zfs/mixin.libsonnet
  build/kube-prometheus/mixins/zfs/prometheus.yaml
Due: git:push

add zfs state degrade rule in prometheus linuxaid
  argocd-helm-charts/prometheus-linuxaid/rules/zfs.yaml
  argocd-helm-charts/prometheus-linuxaid/templates/prometheusRule-zfs.yaml
  argocd-helm-charts/prometheus-linuxaid/tests/zfs.yaml
  argocd-helm-charts/prometheus-linuxaid/values.yaml
Due: helm:check_diff

Fix netpol for cert-manager to allow prometheus scrapes
  argocd-helm-charts/cert-manager/templates/netpol-default.yaml
Due: helm:check_diff

feat: add dashboard if the upstream mixin support it
  build/kube-prometheus/common-template.jsonnet
  build/kube-prometheus/lib/addmixin.libsonnet
Due: git:push

add steps to add new alerts for servers
  argocd-helm-charts/prometheus-linuxaid/Readme.md
Due: helm:check_diff

adding blackbox prober for important services
  argocd-helm-charts/argo-cd/templates/blackbox-probe.yaml
  argocd-helm-charts/argo-cd/values.yaml
  argocd-helm-charts/puppetserver/templates/blackbox-probe.yaml
  argocd-helm-charts/puppetserver/values.yaml
  argocd-helm-charts/sonarqube/templates/blackbox-probe.yaml
  argocd-helm-charts/sonarqube/values.yaml
Due: helm:check_diff

Add commit since 6.2.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

[CI] Helm Chart Update argo-cd
  CHANGELOG.md
  argocd-helm-charts/argo-cd/Chart.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/Chart.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-server/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-server/ingress.yaml
  argocd-helm-charts/argo-cd/requirements.lock
Due: helm:check_diff

[CI] Helm Chart Update aws-efs-csi-driver
  CHANGELOG.md
  argocd-helm-charts/aws-efs-csi-driver/Chart.lock
  argocd-helm-charts/aws-efs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/CHANGELOG.md
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/Chart.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/templates/controller-deployment.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/templates/controller-pdb.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/templates/controller-serviceaccount.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/templates/csidriver.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/templates/node-daemonset.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/templates/node-serviceaccount.yaml
  argocd-helm-charts/aws-efs-csi-driver/charts/aws-efs-csi-driver/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update crossplane
  CHANGELOG.md
  argocd-helm-charts/crossplane/Chart.lock
  argocd-helm-charts/crossplane/Chart.yaml
  argocd-helm-charts/crossplane/charts/crossplane/Chart.yaml
Due: helm:check_diff

[CI] Helm Chart Update external-dns
  CHANGELOG.md
  argocd-helm-charts/external-dns/Chart.lock
  argocd-helm-charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/Chart.lock
  argocd-helm-charts/external-dns/charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/README.md
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/README.md
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/_capabilities.tpl
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/_secrets.tpl
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/_warnings.tpl
  argocd-helm-charts/external-dns/charts/external-dns/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update fluent-bit
  CHANGELOG.md
  argocd-helm-charts/fluent-bit/Chart.lock
  argocd-helm-charts/fluent-bit/Chart.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/Chart.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/templates/psp.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/templates/scc.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/templates/tests/test-connection.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update metallb
  CHANGELOG.md
  argocd-helm-charts/metallb/Chart.lock
  argocd-helm-charts/metallb/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/Chart.lock
  argocd-helm-charts/metallb/charts/metallb/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/README.md
  argocd-helm-charts/metallb/charts/metallb/charts/common/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/charts/common/README.md
  argocd-helm-charts/metallb/charts/metallb/charts/common/templates/_capabilities.tpl
  argocd-helm-charts/metallb/charts/metallb/charts/common/templates/_secrets.tpl
  argocd-helm-charts/metallb/charts/metallb/charts/common/templates/_warnings.tpl
  argocd-helm-charts/metallb/charts/metallb/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update oncall
  CHANGELOG.md
  argocd-helm-charts/oncall/Chart.lock
  argocd-helm-charts/oncall/Chart.yaml
  argocd-helm-charts/oncall/charts/oncall/Chart.lock
  argocd-helm-charts/oncall/charts/oncall/Chart.yaml
Due: helm:check_diff

[CI] Helm Chart Update rabbitmq-operator
  CHANGELOG.md
  argocd-helm-charts/rabbitmq-operator/Chart.lock
  argocd-helm-charts/rabbitmq-operator/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/Chart.lock
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/README.md
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/Chart.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/README.md
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/templates/_capabilities.tpl
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/templates/_secrets.tpl
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/charts/common/templates/_warnings.tpl
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/templates/messaging-topology-operator/pdb.yaml
  argocd-helm-charts/rabbitmq-operator/charts/rabbitmq-cluster-operator/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update sealed-secrets
  CHANGELOG.md
  argocd-helm-charts/sealed-secrets/Chart.lock
  argocd-helm-charts/sealed-secrets/Chart.yaml
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/Chart.yaml
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/README.md
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/templates/deployment.yaml
  argocd-helm-charts/sealed-secrets/charts/sealed-secrets/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update sonarqube
  CHANGELOG.md
  argocd-helm-charts/sonarqube/Chart.lock
  argocd-helm-charts/sonarqube/Chart.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/CHANGELOG.md
  argocd-helm-charts/sonarqube/charts/sonarqube/Chart.lock
  argocd-helm-charts/sonarqube/charts/sonarqube/Chart.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/README.md
  argocd-helm-charts/sonarqube/charts/sonarqube/ci/cirrus-values.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/openshift-verifier/values.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/NOTES.txt
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/_helpers.tpl
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/_pod.tpl
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/change-admin-password-hook.yml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/http-route.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/ingress.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/init-fs.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/init-sysctl.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/install-oracle-jdbc-driver.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/secret.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/serviceaccount.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/templates/tests/sonarqube-test.yaml
  argocd-helm-charts/sonarqube/charts/sonarqube/values.schema.json
  argocd-helm-charts/sonarqube/charts/sonarqube/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update teleport-cluster
  CHANGELOG.md
  argocd-helm-charts/teleport-cluster/Chart.lock
  argocd-helm-charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/.lint/labels.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/Chart.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_roles.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_rolesv6.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_rolesv7.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/templates/deployment.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/tests/deployment_test.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/charts/teleport-operator/values.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/templates/auth/predeploy_job.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/templates/proxy/predeploy_job.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_clusterrole_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_config_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/auth_deployment_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/proxy_config_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/__snapshot__/proxy_deployment_test.yaml.snap
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/tests/predeploy_test.yaml
  argocd-helm-charts/teleport-cluster/charts/teleport-cluster/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update teleport-kube-agent
  CHANGELOG.md
  argocd-helm-charts/teleport-kube-agent/Chart.lock
  argocd-helm-charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/Chart.yaml
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/README.md
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/deployment_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/job_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/statefulset_test.yaml.snap
  argocd-helm-charts/teleport-kube-agent/charts/teleport-kube-agent/tests/__snapshot__/updater_deployment_test.yaml.snap
Due: helm:check_diff

[CI] Helm Chart Update traefik
  CHANGELOG.md
  argocd-helm-charts/traefik/Chart.lock
  argocd-helm-charts/traefik/Chart.yaml
  argocd-helm-charts/traefik/charts/traefik/Changelog.md
  argocd-helm-charts/traefik/charts/traefik/Chart.yaml
  argocd-helm-charts/traefik/charts/traefik/EXAMPLES.md
  argocd-helm-charts/traefik/charts/traefik/README.md
  argocd-helm-charts/traefik/charts/traefik/VALUES.md
  argocd-helm-charts/traefik/charts/traefik/crds/hub.traefik.io_aiservices.yaml
  argocd-helm-charts/traefik/charts/traefik/crds/hub.traefik.io_apicatalogitems.yaml
  argocd-helm-charts/traefik/charts/traefik/crds/hub.traefik.io_managedsubscriptions.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/_helpers.tpl
  argocd-helm-charts/traefik/charts/traefik/templates/_podtemplate.tpl
  argocd-helm-charts/traefik/charts/traefik/templates/hub-admission-controller.yaml
  argocd-helm-charts/traefik/charts/traefik/templates/rbac/clusterrole.yaml
  argocd-helm-charts/traefik/charts/traefik/values.schema.json
  argocd-helm-charts/traefik/charts/traefik/values.yaml
Due: helm:check_diff

Update script logic to modify 'spec.project' to 'kubeaid' managed apps for resources with kind 'Application'
  bin/update-kubeaid-argocd-app.sh
Due: none

Update script to add labels, update target revision, and specify project details
  bin/update-kubeaid-argocd-app.sh
  docs/update_kubeaid_argocd_apps.md
Due: none

fix: Update tar command to use updated name after renaming
  bin/helm-repo-update.sh
Due: none

removing explicit resource namespaces and templatizing secret names
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/Cluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerBareMetalHost.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerBareMetalMachineTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/HetznerCluster.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmConfigTemplate.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/charts/hetzner/values.yaml
  argocd-helm-charts/capi-cluster/templates/provider-hetzner.yaml
Due: helm:check_diff

Add proxy mode to keycloak chart due to upgrade to v25
  argocd-helm-charts/keycloakx/values.yaml
Due: helm:check_diff
