Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - helm version
  - ./bin/helm-diff.sh

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
  - ./bin/gitlab-build-and-create-mr.sh

Removed override of snapshotter image version
  argocd-helm-charts/aws-ebs-csi-driver/values.yaml
Due: helm:check_diff

[#11027] Azure blob support
  argocd-helm-charts/sealed-secrets/example/values.yaml
  argocd-helm-charts/sealed-secrets/templates/configmap.yaml
  argocd-helm-charts/sealed-secrets/templates/cronjob.yaml
  argocd-helm-charts/sealed-secrets/values.yaml
Due: helm:check_diff

updated argocd to 2.6.6v
  argocd-helm-charts/argo-cd/Chart.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/Chart.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/README.md
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/_common.tpl
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/_helpers.tpl
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-configs/argocd-cmp-cm.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/bots/slack/pdb.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/bots/slack/role.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/bots/slack/rolebinding.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/bots/slack/service.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/bots/slack/serviceaccount.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-server/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-server/role.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/dex/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/redis/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/values.yaml
  argocd-helm-charts/argo-cd/requirements.lock
Due: helm:check_diff

Argocd update to v2.6.7
  argocd-helm-charts/argo-cd/Chart.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/Chart.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/README.md
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/_common.tpl
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/_helpers.tpl
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-application-controller/statefulset.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-applicationset/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-configs/argocd-cmp-cm.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-configs/cluster-secrets.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/bots/slack/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/bots/slack/pdb.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/bots/slack/role.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/bots/slack/rolebinding.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/bots/slack/service.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/bots/slack/serviceaccount.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-notifications/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-repo-server/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-server/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/argocd-server/role.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/dex/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/templates/redis/deployment.yaml
  argocd-helm-charts/argo-cd/charts/argo-cd/values.yaml
  argocd-helm-charts/argo-cd/requirements.lock
Due: helm:check_diff

:no-diff: add strimzi kafka operator - so we support Kafka
  argocd-helm-charts/strimzi-kafka-operator/Chart.lock
  argocd-helm-charts/strimzi-kafka-operator/Chart.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/.helmignore
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/Chart.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/OWNERS
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/README.md
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/crds/041-Crd-kafkaconnect.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/crds/042-Crd-strimzipodset.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/crds/043-Crd-kafkatopic.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/crds/044-Crd-kafkauser.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/crds/045-Crd-kafkamirrormaker.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/crds/046-Crd-kafkabridge.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/crds/047-Crd-kafkaconnector.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/crds/048-Crd-kafkamirrormaker2.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/crds/049-Crd-kafkarebalance.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/010-ServiceAccount-strimzi-cluster-operator.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/020-ClusterRole-strimzi-cluster-operator-role.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/020-RoleBinding-strimzi-cluster-operator.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/021-ClusterRole-strimzi-cluster-operator-role.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/021-ClusterRoleBinding-strimzi-cluster-operator.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/022-ClusterRole-strimzi-cluster-operator-role.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/022-RoleBinding-strimzi-cluster-operator.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/023-ClusterRole-strimzi-cluster-operator-role.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/023-RoleBinding-strimzi-cluster-operator.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/030-ClusterRole-strimzi-kafka-broker.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/030-ClusterRoleBinding-strimzi-cluster-operator-kafka-broker-delegation.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/031-ClusterRole-strimzi-entity-operator.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/031-RoleBinding-strimzi-cluster-operator-entity-operator-delegation.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/033-ClusterRole-strimzi-kafka-client.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/033-ClusterRoleBinding-strimzi-cluster-operator-kafka-client-delegation.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/050-ConfigMap-strimzi-cluster-operator.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/060-Deployment-strimzi-cluster-operator.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/070-ClusterRole-strimzi-admin.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/080-ClusterRole-strimzi-view.yaml
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/NOTES.txt
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/_helpers.tpl
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/templates/_kafka_image_map.tpl
  argocd-helm-charts/strimzi-kafka-operator/charts/strimzi-kafka-operator/values.yaml
Due: helm:check_diff

:no-diff: add strimzi kafka operator - so we support Kafka
  argocd-helm-charts/strimzi-kafka-operator/Chart.yaml
  argocd-helm-charts/strimzi-kafka-operator/README.md
Due: helm:check_diff

#11133 Increase PVC size of Prometheus
  build/kube-prometheus/common-template.jsonnet
Due: git:push

#11133 Add summary to ceph alert mixins
  build/kube-prometheus/libraries/v0.11.0/vendor/github.com/ceph/ceph-mixins/alerts/pvc.libsonnet
Due: git:push

Added an alert about average nodes memory utilization going above threshold
  build/kube-prometheus/libraries/v0.11.0/vendor/github.com/prometheus/node_exporter/docs/node-mixin/alerts/alerts.libsonnet
Due: git:push

fix the lint failure
  build/kube-prometheus/libraries/v0.11.0/vendor/github.com/prometheus/node_exporter/docs/node-mixin/alerts/alerts.libsonnet
Due: git:push

:no-diff document to update argocd
  argocd-helm-charts/argo-cd/Readme.md
  bin/README.md
Due: helm:check_diff

[#11115] Upgrade mattermost helm chart
  argocd-helm-charts/mattermost-team-edition/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/README.md
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.lock
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/Chart.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/values.yaml
  argocd-helm-charts/mattermost-team-edition/requirements.lock
Due: helm:check_diff

[#11476] removed the labels which is no more in the metrics values
  build/kube-prometheus/mixins/kube-version/mixin.libsonnet
  build/kube-prometheus/mixins/kube-version/prometheus.yaml
Due: git:push

Fixed the alert expression to get the mem free
  build/kube-prometheus/libraries/v0.11.0/vendor/github.com/prometheus/node_exporter/docs/node-mixin/alerts/alerts.libsonnet
Due: git:push

:no-diff Added external-snapshotter helm chart
  argocd-helm-charts/external-snapshotter/Chart.lock
  argocd-helm-charts/external-snapshotter/Chart.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/.helmignore
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/Chart.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/LICENSE
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/README.md
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/templates/NOTES.txt
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/templates/_helpers.tpl
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/templates/deployment.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/templates/service.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/templates/serviceaccount.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/templates/servicemonitor.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/templates/volumesnapshotclass.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-controller/values.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/.helmignore
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/Chart.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/LICENSE
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/Makefile
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/README.md
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/crds/README.md
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/templates/NOTES.txt
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/templates/_helpers.tpl
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/templates/deployment.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/templates/networkpolicy.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/templates/poddisruptionbudget.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/templates/service.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/templates/serviceaccount.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/templates/tests/test-invalid-body.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/templates/tests/test-valid-body.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/templates/webhook.yaml
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/tests/invalid-admission.json
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/tests/valid-admission.json
  argocd-helm-charts/external-snapshotter/charts/snapshot-validation-webhook/values.yaml
Due: helm:check_diff

:no-diff updating keycloak document
  argocd-helm-charts/keycloak/README.md
Due: helm:check_diff

[#11115] Add matternelle support
  argocd-helm-charts/mattermost-team-edition/README.md
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/deployment.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/templates/service.yaml
  argocd-helm-charts/mattermost-team-edition/charts/mattermost-team-edition/values.yaml
  argocd-helm-charts/mattermost-team-edition/templates/ingress.yaml
Due: helm:check_diff

:no-diff [#11124] logicalbackup for postgres can be toggled now
  argocd-helm-charts/keycloakx/templates/postgresql.yaml
  argocd-helm-charts/mattermost-team-edition/templates/postgresql.yaml
  argocd-helm-charts/mattermost-team-edition/values.yaml
  argocd-helm-charts/redmine/templates/postgresql.yaml
  argocd-helm-charts/relate/charts/relate/templates/postgres.yaml
  argocd-helm-charts/relate/charts/relate/values.yaml
  argocd-helm-charts/sonarqube/templates/postgres.yaml
Due: helm:check_diff

#11068 Add resource requests and limits to containers
  argocd-helm-charts/argo-cd/values.yaml
  argocd-helm-charts/cert-manager/values.yaml
  argocd-helm-charts/fluent-bit/values.yaml
  argocd-helm-charts/obmondo-k8s-agent/values.yaml
  argocd-helm-charts/sealed-secrets/values.yaml
  argocd-helm-charts/teleport-kube-agent/values.yaml
  argocd-helm-charts/velero/values.yaml
  build/kube-prometheus/common-template.jsonnet
Due: helm:check_diff, git:push

Fixed sealed-secrets, so that it can be used with network policies and without backup
  argocd-helm-charts/sealed-secrets/templates/netpol-default.yaml
  argocd-helm-charts/sealed-secrets/templates/netpol-sealed-secrets.yaml
Due: helm:check_diff

Path conditions:
  helm:check_diff: any of: argocd-helm-charts/**/*
  git:push: any of: build/**/*
