Repository Obmondo/KubeAid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: helm:check_diff, git:push

.gitlab-ci.yml:

---
stages:
  - diff
  - lint
  - test
  - build
  - deploy
  - helm

lint:markdown:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/markdownlint:latest
  script:
    - markdownlint --config .markdownlint --ignore 'argocd-helm-charts/*/*/**' --ignore 'build/vendor/**' --ignore 'build/kube-prometheus/**' .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_sh:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/shlint:latest
  script:
    - 'find . -not -path ./argocd-helm-charts/\* -a -not -path ./build/kube-prometheus/libraries/\* -a -not -path ./build/vendor/\* -name \*.sh -o -name \*.bash | xargs shellcheck'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint_yamllint:
  stage: lint
  image: registry.obmondo.com/obmondo/dockerfiles/yamllint:latest
  script:
    - yamllint --strict --config-file .yamllint .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

lint:jsonnetfmt:
  stage: lint
  image:
    name: bitnami/jsonnet:latest
    entrypoint: ['']
  script:
    - './bin/lint-jsonnetfmt.sh'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "merge_request_event"'

helm:check_diff:
  stage: diff
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - helm version
    - "./bin/helm-diff.sh"
  rules:
    # MRs and started through UI, except if last commit starts with ":no-diff"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_MESSAGE !~ /^:no-diff/ || $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_MESSAGE !~ /^:no-diff/'
      changes:
       - "argocd-helm-charts/**/*"

opa:gatekeeper:test_policy:
  stage: test
  image: alpine
  script:
    - wget https://github.com/open-policy-agent/opa/releases/download/v0.43.0/opa_linux_amd64_static -O /usr/local/bin/opa
    - chmod +x /usr/local/bin/opa
    - opa test ./argocd-helm-charts/gatekeeper/policies -v
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

git:push:
  stage: deploy
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/kubernetes-build:latest
  script:
    - ./bin/gitlab-build-and-create-mr.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
       - "build/**/*"

git:helm_update:
  stage: helm
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  image:
    name: registry.obmondo.com/obmondo/dockerfiles/helm:latest
    entrypoint: [""]
  script:
    # argocd is pinned to specific version on purpose
    - ./bin/helm-repo-update.sh --update-all --merge-request --gitlab-ci --skip-charts argo-cd

(update) : readme with more info
  build/kube-prometheus/README.md
Due: git:push

(docs) : addressing to comment
  build/kube-prometheus/README.md
Due: git:push

(clean) : keeping the generic kubeaid-config repo name
  build/kube-prometheus/README.md
Due: git:push

(fix) : kubernetes-config-enableit to kubeaid-config
  build/kube-prometheus/README.md
Due: git:push

(fix) : kubeaid-config in example commands
  build/kube-prometheus/README.md
Due: git:push

chore: Update middleware name to puppetdb-middlewaretcp.yaml (#398)
  argocd-helm-charts/puppetserver/templates/puppetdb-ingressroutetcp.yaml
Due: helm:check_diff

Adding AWS CCM as a KubeAid managed app | Removing AWS CCM, Hetzner CCM and Cilium HelmChartProxies | Removing Helm ClusterAPI addon | Installing Cilium and AWS CCM using postKubeadm commands
  argocd-helm-charts/capi-cluster/charts/aws/templates/KubeadmControlPlane.yaml
  argocd-helm-charts/capi-cluster/templates/ccm-aws.yaml
  argocd-helm-charts/capi-cluster/templates/ccm-hetzner.yaml
  argocd-helm-charts/capi-cluster/templates/cilium.yaml
  argocd-helm-charts/ccm-aws/Chart.lock
  argocd-helm-charts/ccm-aws/Chart.yaml
  argocd-helm-charts/ccm-aws/charts/aws-cloud-controller-manager/Chart.yaml
  argocd-helm-charts/ccm-aws/charts/aws-cloud-controller-manager/LICENSE
  argocd-helm-charts/ccm-aws/charts/aws-cloud-controller-manager/Readme.md
  argocd-helm-charts/ccm-aws/charts/aws-cloud-controller-manager/templates/NOTES.txt
  argocd-helm-charts/ccm-aws/charts/aws-cloud-controller-manager/templates/_helpers.tpl
  argocd-helm-charts/ccm-aws/charts/aws-cloud-controller-manager/templates/cluserrolebinding.yaml
  argocd-helm-charts/ccm-aws/charts/aws-cloud-controller-manager/templates/clusterrole.yaml
  argocd-helm-charts/ccm-aws/charts/aws-cloud-controller-manager/templates/daemonset.yaml
  argocd-helm-charts/ccm-aws/charts/aws-cloud-controller-manager/templates/rolebinding.yaml
  argocd-helm-charts/ccm-aws/charts/aws-cloud-controller-manager/templates/serviceaccount.yaml
  argocd-helm-charts/ccm-aws/charts/aws-cloud-controller-manager/values.yaml
  argocd-helm-charts/ccm-aws/values.yaml
  argocd-helm-charts/cluster-api/values.yaml
Due: helm:check_diff

(fix/multiple-machinepool-support) Having multiple KubeadmConfigs - one for each MachinePool
  argocd-helm-charts/capi-cluster/charts/aws/templates/KubeadmConfig.yaml
  argocd-helm-charts/capi-cluster/charts/aws/templates/MachinePool.yaml
Due: helm:check_diff

chore: Remove Middleware and Use Ingress Route
  argocd-helm-charts/puppetserver/templates/puppetdb-ingressroutetcp.yaml
  argocd-helm-charts/puppetserver/templates/puppetdb-middlewaretcp.yaml
Due: helm:check_diff

Add commit since 1.4.0 tag to CHANGELOG.md
  CHANGELOG.md
Due: none

[CI] Helm Chart Update cluster-api
  CHANGELOG.md
  argocd-helm-charts/cluster-api/Chart.lock
  argocd-helm-charts/cluster-api/Chart.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/Chart.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/templates/infra.yaml
  argocd-helm-charts/cluster-api/charts/cluster-api-operator/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update external-dns
  CHANGELOG.md
  argocd-helm-charts/external-dns/Chart.lock
  argocd-helm-charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/Chart.lock
  argocd-helm-charts/external-dns/charts/external-dns/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/Chart.yaml
  argocd-helm-charts/external-dns/charts/external-dns/charts/common/templates/_images.tpl
  argocd-helm-charts/external-dns/charts/external-dns/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update fluent-bit
  CHANGELOG.md
  argocd-helm-charts/fluent-bit/Chart.lock
  argocd-helm-charts/fluent-bit/Chart.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/Chart.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/ci/ci-values.yaml
  argocd-helm-charts/fluent-bit/charts/fluent-bit/dashboards/fluent-bit.json
  argocd-helm-charts/fluent-bit/charts/fluent-bit/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update keycloakx
  CHANGELOG.md
  argocd-helm-charts/keycloakx/Chart.lock
  argocd-helm-charts/keycloakx/Chart.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/.bumpversion.cfg
  argocd-helm-charts/keycloakx/charts/keycloakx/Chart.yaml
  argocd-helm-charts/keycloakx/charts/keycloakx/templates/servicemonitor.yaml
Due: helm:check_diff

[CI] Helm Chart Update metallb
  CHANGELOG.md
  argocd-helm-charts/metallb/Chart.lock
  argocd-helm-charts/metallb/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/Chart.lock
  argocd-helm-charts/metallb/charts/metallb/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/charts/common/Chart.yaml
  argocd-helm-charts/metallb/charts/metallb/charts/common/templates/_images.tpl
  argocd-helm-charts/metallb/charts/metallb/values.yaml
Due: helm:check_diff

[CI] Helm Chart Update oncall
  CHANGELOG.md
  argocd-helm-charts/oncall/Chart.lock
  argocd-helm-charts/oncall/Chart.yaml
  argocd-helm-charts/oncall/charts/oncall/Chart.lock
  argocd-helm-charts/oncall/charts/oncall/Chart.yaml
Due: helm:check_diff

[CI] Helm Chart Update opensearch
  CHANGELOG.md
  argocd-helm-charts/opensearch/Chart.lock
  argocd-helm-charts/opensearch/Chart.yaml
  argocd-helm-charts/opensearch/charts/opensearch/CHANGELOG.md
  argocd-helm-charts/opensearch/charts/opensearch/Chart.yaml
  argocd-helm-charts/opensearch/charts/opensearch/templates/service.yaml
Due: helm:check_diff

[CI] Helm Chart Update opensearch-dashboards
  CHANGELOG.md
  argocd-helm-charts/opensearch-dashboards/Chart.lock
  argocd-helm-charts/opensearch-dashboards/Chart.yaml
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/CHANGELOG.md
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/Chart.yaml
  argocd-helm-charts/opensearch-dashboards/charts/opensearch-dashboards/templates/service.yaml
Due: helm:check_diff
